{% extends "layout_light.html" %}
{% from 'bits.html' import fonticon %}


{% block content %}
  <h2>Comentarii</h2>

  {% for msg in messages %}
    <div class="panel panel-default message
                {%- if msg.id in read_msgs %} message-read{% endif %}"
         data-id="{{ msg.id }}">
      <div class="panel-heading">
        {{ msg.user_id }} ({{ msg.date|local_date('long') }})

        {% if can_delete_message %}
          {% set url = url_for('.remove', message_id=msg.id,
                                          next=request.url) %}
          <form class="message-remove" method="post" action="{{ url }}">
            <button class="btn btn-xs btn-danger">șterge</button>
          </form>
        {% endif %}

        {% if can_set_read_status %}
          <span class="readbox">
            <button class="readbox-new">necitit</button>
            <button class="readbox-read">citit</button>
            <button class="readbox-mark">citit</button>
            <button class="readbox-unmark">necitit</button>
          </span>
        {% endif %}
      </div>

      <div class="panel-body" style="white-space: pre;">
        {{ msg.text|wordwrap }}
      </div>
    </div>
  {% else %}
    <div class="panel panel-default">
      <div class="panel-body">
        Nu existǎ nici un comentariu.
      </div>
    </div>
  {% endfor %}

  {% if can_post_new_message %}
  <div class="panel panel-default">
    <div class="panel-heading">Adaugǎ comentariu</div>
    <div class="panel-body">
      <form method="post" action="{{ url_for('.new', comment_id=comment_id) }}"
            class="form" id="message-form">
        <div class="form-group">
          <textarea name="text" class="form-control" rows=4></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Salveazǎ</button>
      </form>
    </div>
  </div>
  {% endif %}

{% endblock content %}

{% block footer %}{% endblock %}

{% block script %}
{%- from 'bits.html' import script %}
{{- super() }}

<script>window.App.set_read_status_url = "{{ url_for('.set_read_status') }}";</script>
{{ script('messages.js') }}

<script>
(function() {
  "use strict";

  $('.message-remove').submit(function(evt) {
    if(! confirm("Ștergi comentariul?")) {
      evt.preventDefault();
    }
  });
})();
</script>
{% endblock %}
