{% extends "layout.html" %}
{% from 'bits.html' import fonticon %}


{% block content %}
  <h1>Mesaje</h1>

  <p>
    {% set url = url_for('.new', comment_id=comment_id) %}
    <a class="btn btn-primary" href="{{ url }}">mesaj nou</a>
  </p>

  {% for msg in messages %}
    <div class="panel panel-default">
      <div class="panel-heading">
        {{ msg.user_id }} ({{ msg.date|local_date('long') }})

        {% if admin_permission.can() %}
          {% set url = url_for('.remove', message_id=msg.id,
                                          next=request.url) %}
          <form style="display: inline" method="post" action="{{ url }}">
            <button class="btn btn-xs btn-danger">
              {{- fonticon('remove', 1.5) -}}
            </button>
          </form>
        {% endif %}
      </div>

      <div class="panel-body">{{ msg.text }}</div>
    </div>
  {% endfor %}
{% endblock content %}
