{% extends "layout_light.html" %}
{% from 'bits.html' import fonticon %}


{% block content %}
  <h1>Mesaje</h1>

  <p>
    {% set url = url_for('.new', comment_id=comment_id) %}
    <a class="btn btn-primary" href="{{ url }}">mesaj nou</a>
  </p>

  {% for msg in messages %}
    <div class="panel panel-default message
                {%- if msg.id in read_msgs %} message-read{% endif %}"
         data-id="{{ msg.id }}">
      <div class="panel-heading">
        {{ msg.user_id }} ({{ msg.date|local_date('long') }})

        {% if admin_permission.can() %}
          {% set url = url_for('.remove', message_id=msg.id,
                                          next=request.url) %}
          <form class="message-remove" method="post" action="{{ url }}">
            <button class="btn btn-xs btn-danger">
              {{- fonticon('remove', 1.5) -}}
            </button>
          </form>
        {% endif %}

        {% if g.identity.id %}
          <span class="readbox">
            <button class="readbox-new">{{ fonticon('lightbulb') }}</button>
            <button class="readbox-read">{{ fonticon('lightbulb') }}</button>
            <button class="readbox-mark">marchează văzut</button>
            <button class="readbox-unmark">marchează nou</button>
          </span>
        {% endif %}
      </div>

      <div class="panel-body">{{ msg.text }}</div>
    </div>
  {% endfor %}
{% endblock content %}


{% block script %}
{%- from 'bits.html' import script %}
{{- super() }}

<script>window.App.set_read_status_url = "{{ url_for('.set_read_status') }}";</script>
{{ script('messages.js') }}

<script>
(function() {
  "use strict";

  $('.message-remove').submit(function(evt) {
    if(! confirm("Șterge comentariul?")) {
      evt.preventDefault();
    }
  });
})();
</script>
{% endblock %}
