{% extends "layout.html" %}


{% block title %}
  {%- if species %}{{ species.name }} &mdash; {% endif %}
  {{- super() }}
{%- endblock title %}


{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('acasǎ', home_url),
          ('ghid de raportare', None),
      ]) }}
{% endblock breadcrumbs %}


{% block content %}
  <h1>Ghid de raportare</h1>

  <ul>
    <li>
      <a href="{{ url_for('static', filename='guide/guidelines.pdf') }}">
        Ghidul de raportare <small>PDF</small></a>
      <p>Note explanatorii și linii de ghidare pentru perioada 2007 - 2012.</p>
    </li>
    <li>
      <a href="{{ url_for('static', filename='guide/formats.pdf') }}">
        Formatul de raportare <small>PDF</small></a>
      <p>Formatele de raportare pentru perioada 2007 - 2012.</p>
    </li>
  </ul>
{% endblock content %}
