{% extends "layout.html" %}
{%- from 'bits.html' import fonticon %}
{%- from topic_template import
    assessment_header, comments_header, record
    with context -%}


{% block title %}
{%- if name %}{{ name }} &mdash; {% endif %}
{{- super() }}
{%- endblock title %}


{% block content %}
  {% block form %}{% endblock %}

  {% if name %}
    {% block subject_details %}{% endblock %}

    {% for assessment_row in records %}
    <h2>{{ assessment_row.region }}</h2>

    <table class="records table table-bordered">
      {{ assessment_header() }}

      <tr>
        {#- detail #}
        <td>
          {%- set url = url_for(blueprint + '.detail',
                                record_id=assessment_row.id) %}
          <button class="records-detailbtn btn btn-xs btn-info"
                  data-url="{{ url }}">detalii</button>
        </td>

        {{ record(assessment_row) }}

        <td colspan=4>  {#- conclusion (author, etc) #}
          {%- if perm_create_comment(assessment_row).can() %}
            {%- set url = url_for(blueprint + '.comment',
                                  record_id=assessment_row.id,
                                  next=comment_next) %}
            <a class="records-commentbtn btn btn-xs btn-warning"
               href="{{ url }}">adaugǎ comentariu</a>
          {%- endif %}
        </td>
      </tr>

      {{ comments_header() }}

     {% for comment_row in comments %}
     {% if comment_row.region == assessment_row.region %}
      <tr>
        {#- detail #}
        <td>
          {%- if perm_update_comment_status(comment_row.model).can() %}
            {%- set url = url_for(blueprint + '.comment_status',
                                  comment_id=comment_row.id) %}
            <form method="post" action="{{ url }}"
                  class="records-commentstatus">
              <input type="hidden" name="next" value="{{ comment_next }}">
              <input type="hidden" name="status" value="{{ comment_row.status }}">
            </form>
          {%- endif %}
        </td>

        {{ record(comment_row) }}

        <td>{{ comment_row.user_id }}</td>  {#- conclusion author, etc #}
        <td>
          {%- if perm_edit_comment(comment_row.model).can() %}
            {%- set url = url_for(blueprint + '.comment_edit',
                                  comment_id=comment_row.id,
                                  next=comment_next) %}
            <a class="records-editcommentbtn btn btn-xs btn-default"
               href="{{ url }}">editează</a>
          {%- endif %}

          {%- if perm_delete_comment(comment_row.model).can() %}
            {%- set url = url_for(blueprint + '.comment_delete',
                                  comment_id=comment_row.id) %}
            <form method="post" action="{{ url }}"
                  class="records-commentdelete">
              <input type="hidden" name="next" value="{{ comment_next }}">
              <button class="btn btn-xs btn-danger"
                      type="submit">șterge</button>
            </form>
          {%- endif %}
        </td>
        <td>{{ comment_row.comment_date|local_date }}</td>
        <td>
          {%- set url = url_for('replies.index', comment_id=comment_row.id) %}
          {%- set count = reply_counts[comment_row.id] or 0 %}
          <a class="records-repliesbtn btn btn-xs btn-default"
             href="{{ url }}">{{ fonticon('comment') }} {{ count }}</a>
        </td>
      </tr>
     {% endif %}
     {% endfor %}
    </table>
    {% endfor %}


    {% include 'common/recorddetail.html' %}
    {% include 'common/helpbox.html' %}
  {%- endif %}
{%- endblock content %}


{% block script %}
  {%- from 'bits.html' import script %}
  {{- super() }}
  <script>
    App.STATUS_OPTIONS = {{ STATUS_OPTIONS|tojson|safe }};
  </script>
  {{ script('indexpage.js') }}
  {{ script('detail.js') }}
  {{ script('replies.js') }}
{% endblock script %}
