{% extends "layout.html" %}


{% block title %}
{%- if name %}{{ name }} &mdash; {% endif %}
{{- super() }}
{%- endblock title %}


{% block content %}
  {% block form %}{% endblock %}

  {% if name %}
    {% block subject_details %}{% endblock %}

    {%- include records_template with context %}
  {%- endif %}
{%- endblock content %}


{% block script %}
  {%- from 'bits.html' import script %}
  {{- super() }}
  {{ script('indexpage.js') }}
  {{ script('detail.js') }}
  {{ script('conclusionstatus.js') }}
  {{ script('messages.js') }}
{% endblock script %}
