{% extends "layout.html" %}
{%- from 'bits.html' import fonticon %}


{% block title %}
{%- if name %}{{ name }} &mdash; {% endif %}
{{- super() }}
{%- endblock title %}


{% macro record_cell(row) %}
{% block record_cell scoped %}{% endblock %}
{%- endmacro %}


{% block content %}
  {% block form %}{% endblock %}

  {% if name %}
    {% block subject_details %}{% endblock %}

    <table class="records">
    {%- block records_header %}{% endblock records_header %}

     {% for row in records %}
      <tr>
        {#- detail #}
        <td>
          {%- set url = url_for(blueprint + '.detail', record_id=row.id) %}
          <button class="records-detailbtn"
                  data-url="{{ url }}">detalii</button>
        </td>

        {{ record_cell(row) }}

        <td colspan=4>  {#- conclusion (author, etc) #}
          {%- if perm_create_comment(row).can() %}
            {%- set url = url_for(blueprint + '.conclusion',
                                  record_id=row.id,
                                  next=conclusion_next) %}
            <a class="records-conclusionbtn"
               href="{{ url }}">adaugǎ concluzie</a>
          {%- endif %}
        </td>
      </tr>
     {% endfor %}

    {%- block conclusions_header %}{% endblock %}

     {% for row in comments %}
      <tr>
        {#- detail #}
        <td>
          {%- if perm_update_comment_status(row.model).can() %}
            {%- set url = url_for(blueprint + '.conclusion_status',
                                  conclusion_id=row.id) %}
            <form method="post" action="{{ url }}"
                  class="records-conclusionstatus">
              <input type="hidden" name="next" value="{{ conclusion_next }}">
              <input type="hidden" name="status" value="{{ row.status }}">
            </form>
          {%- endif %}
        </td>

        {{ record_cell(row) }}

        <td>{{ row.user_id }}</td>  {#- conclusion author, etc #}
        <td>
          {%- if perm_edit_comment(row.model).can() %}
            {%- set url = url_for(blueprint + '.conclusion_edit',
                                  conclusion_id=row.id,
                                  next=conclusion_next) %}
            <a href="{{ url }}" class="records-editconclusionbtn">editează</a>
          {%- endif %}

          {%- if perm_delete_comment(row.model).can() %}
            {%- set url = url_for(blueprint + '.conclusion_delete',
                                  conclusion_id=row.id) %}
            <form method="post" action="{{ url }}"
                  class="records-conclusiondelete">
              <input type="hidden" name="next" value="{{ conclusion_next }}">
              <button class="btn btn-xs btn-danger"
                      type="submit">șterge</button>
            </form>
          {%- endif %}
        </td>
        <td>{{ row.conclusion_date|local_date }}</td>
        <td>
          {%- set url = url_for('messages.index', conclusion_id=row.id) %}
          {%- set count = message_counts[row.id] or 0 %}
          <a class="records-messagesbtn btn btn-xs btn-default"
             href="{{ url }}">{{ fonticon('comment') }} {{ count }}</a>
        </td>
      </tr>
     {% endfor %}
    </table>


    {% include 'common/recorddetail.html' %}
  {%- endif %}
{%- endblock content %}


{% block script %}
  {%- from 'bits.html' import script %}
  {{- super() }}
  <script>
    App.STATUS_OPTIONS = {{ STATUS_OPTIONS|tojson|safe }};
  </script>
  {{ script('indexpage.js') }}
  {{ script('detail.js') }}
  {{ script('messages.js') }}
{% endblock script %}
