<div id="recorddetail-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="recorddetail-content">
      <div class="recorddetail-header">
        <button type="button" class="close"
                data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="recorddetail-title">Modal title</h4>
      </div>
      <div class="recorddetail-body">
        ...
      </div>
      <div class="recorddetail-footer">
        <button type="button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{%- macro records_script() %}
<script>
(function() {
  "use strict";

  var recorddetail = $('#recorddetail-modal');

  $('.records-detailbtn').click(function(evt) {
    evt.preventDefault();
    var url = $(this).attr('href');

    recorddetail.modal('hide');
    set_html("<h1>Se încarcă...</h1>");
    $.get(url).done(set_html);
    recorddetail.modal();
  });

  function set_html(html) {
    var title = recorddetail.find('.recorddetail-title');
    var body = recorddetail.find('.recorddetail-body');
    body.html(html);
    var h1 = body.find('h1').remove();
    title.empty().append(h1.html());
  }
})();
</script>
{%- endmacro %}

{%- do script_later(records_script()) %}
