<div id="recordcomment-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="recordcomment-content">
      <div class="recordcomment-header">
        <button type="button" class="close"
                data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="recordcomment-title">Modal title</h4>
      </div>
      <div class="recordcomment-body">
        ...
      </div>
      <div class="recordcomment-footer">
        <button type="button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
