{%- from 'bits.html' import fonticon %}


{% macro measure_icon(measure) -%}
  {% if measure|int %}
    {{ fonticon('check') }}
  {% else %}
    {{ fonticon('unchecked') }}
  {% endif %}
{% endmacro %}


{% macro conclusion_td(conclusion) -%}
  <td title="{{ CONCLUSIONS.get(conclusion.value) }}; {{ TREND_NAME.get(conclusion.trend) }}"
      class="text-center conclusion-{{ conclusion.value }}">
    {% if conclusion.value %}
    <span class="">
      {{ conclusion.value or '-' }}, {{ conclusion.trend or 'x' }}
    </span>
    {% endif %}
  </td>
{%- endmacro %}


{% macro method_td(method) %}
<td class="method">
  {{ method_html(method) }}
</td>
{% endmacro %}

{% macro method_html(method) %}
{%- if method %}
  {{ method }} - {{ METHODS_USED[method] -}}
{% endif %}
{%- endmacro %}


{% macro method_pressures_html(method) %}
{%- if method %}
  {{ method }} - {{ METHODS_PRESSURES[method] -}}
{% endif %}
{%- endmacro %}


{% macro method_threats_html(method) %}
{%- if method %}
  {{ method }} - {{ METHODS_THREATS[method] -}}
{% endif %}
{%- endmacro %}


{% macro unit_value_field(value, unit) %}
  {%- if value and unit -%}
    {{ value }} {{ unit }}
  {%- else -%}
    N/A
  {%- endif -%}
{%- endmacro %}


{% macro population_reference_value_html(refval, ideal) %}
  {%- set measure_unit = ideal['population'].unit or ideal['population_alt'].unit %}

  {%- if refval.number -%}
    {{ refval.number }} {{ measure_unit }}
  {%- elif refval.op -%}
    ({{ refval.op }}) {{ LU_FV_RANGE_OP_FUNCT[refval.op] }} {{ population_size_html(ideal) }}
  {%- elif refval.x -%}
    Necunoscut.
  {%- else -%}
    N/A
  {%- endif -%}
{%- endmacro %}


{% macro reference_value_html(refval, unit='', ideal='') %}
  {%- if refval.number -%}
    {{ refval.number }} {{ unit }}
  {%- elif refval.op -%}
    ({{ refval.op }}) {{ LU_FV_RANGE_OP_FUNCT[refval.op] }}{{ ideal }} {{ unit }}
  {%- elif refval.x -%}
    Necunoscut.
  {%- else -%}
    N/A
  {%- endif -%}
{%- endmacro %}


{% macro reasons_for_change_html(range) %}
  {%- for k,v in range.reasons_for_change.items() %}
    {% if v|int %}
      * {{ LU_REASONS_FOR_CHANGE[k] }} <br>
    {% endif %}
  {% endfor %}
{%- endmacro %}


{% macro reference_value_td(refval, unit='') -%}
  <td {% if refval.method -%}
        title="Metoda utilizată: {{ refval.method }}"
      {%- endif %}>
    {{- reference_value_html(refval, unit='', ideal='') -}}
  </td>
{%- endmacro %}

{% macro range_html(range) %}
{%- if range.surface_area -%}
  {{ range.surface_area }} km²
{%- endif -%}
{%- endmacro %}


{% macro magnitude_html(magnitude) -%}
{% if magnitude.min or magnitude.max %}
    {{ magnitude.min }} - {{ magnitude.max }} km²
{% endif %}
{%- endmacro %}


{% macro magnitude_ci_html(magnitude) -%}
{% if magnitude.min or magnitude.max %}
    {{ magnitude.min }} - {{ magnitude.max }}
{% endif %}
{% if magnitude.ci %}
  <span title="Intervalul de siguranță">({{ magnitude.ci|int }}%)</span>
{% endif %}
{%- endmacro %}


{% macro period_html(period) %}
{%- if period -%}
  {#- unicode character 2011: non-breaking hyphen -#}
  ({{ period.start }}&#x2011;{{ period.end }})
{%- endif %}
{%- endmacro %}


{% macro trend_detail_html(trend) %}
{%- if trend.trend %}
  {{ TREND_NAME[trend.trend] -}}
{% endif %}
{%- endmacro %}


{% macro trend_td(trend) -%}
  <td title="{{ TREND_NAME[trend.trend] }}" class="text-center"><span class="">{{ trend.trend }}</span>
{%- endmacro %}


{% macro population_size_html(size) %}
  {%- set values_with_unit = [size['population'], size['population_alt']] | selectattr('unit') %}
  {%- for item in values_with_unit %}
    {%- if item.min == item.max -%}
      <span title="{{ item.min }}&nbsp;(
                   {{- get_population_units_ro(item.unit) }})">
        {{- item.min }} {{ item.unit -}}
      </span>
    {%- else -%}
      <span title="{{ item.min }}-{{ item.max }}&nbsp;(
                   {{- get_population_units_ro(item.unit) }})">
        {{- item.min }}-{{ item.max }} {{ item.unit -}}
      </span>
    {%- endif %}
    {%- if not loop.last %};<br>{% endif %}
  {%- endfor %}
{%- endmacro %}


{% macro natura2000_population_size_html(natura2000) %}
  {%- if natura2000.population_min == natura2000.population_max %}
    <span title="{{ natura2000.population_min }}&nbsp;(
              {{- get_population_units_ro(natura2000.population_unit) }})">
      {{- natura2000.population_min }}
      {{- natura2000.population_unit -}}
    </span>
  {%- else %}
    <span title="{{ natura2000.population_min }}&nbsp;-
                 {{- natura2000.population_max }}&nbsp;(
              {{- get_population_units_ro(natura2000.population_unit) }})">
      {{- natura2000.population_min -}}
      -
      {{- natura2000.population_max -}}
      &nbsp;
      {{- natura2000.population_unit -}}
    </span>
  {%- endif %}
{%- endmacro %}


{% macro natura2000_range_html(natura2000) %}
  {%- if natura2000.area_min or natura2000.area_max %}
    {%- if natura2000.area_min == natura2000.area_max %}
      {{- natura2000.area_min }} km<sup>2</sup>
    {%- else %}
      {{- natura2000.area_min -}}
      -
      {{- natura2000.area_max -}}
      &nbsp;
      km<sup>2</sup>
    {%- endif %}
  {%- endif %}
{%- endmacro %}


{% macro population_size_td(size) -%}
  <td>{{ population_size_html(size) }}</td>
{%- endmacro %}


{% macro habitat_quality_html(quality) %}
  {{- QUALITY.get(quality.value, quality.value) }}
{%- endmacro %}


{% macro habitat_quality_td(quality) -%}
  <td {% if quality.explanation -%}
        title="Metoda utilizată: {{ quality.explanation }}"
      {%- endif %}>
    {{- habitat_quality_html(quality) -}}
  </td>
{%- endmacro %}


{% macro conclusion_bubble(conclusion) %}
    {%- if conclusion.value%}
      <span class="conclusion {{ conclusion.value }}" title="{{ CONCLUSIONS[conclusion.value] }}, {{ TREND_NAME.get(conclusion.trend, conclusion.trend) or '' }}">
        {{ conclusion.value }}{{ TREND_SIGN_NAME.get(conclusion.trend, conclusion.trend) or '' }}
      </span>
    {% else %}
      (n/a)
    {%- endif %}
{% endmacro %}


{% macro conclusions_html(conclusion) %}
    <strong>Concluzie:</strong>
    {%- if conclusion.value%}<span class="conclusion {{ conclusion.value }}">{{ conclusion.value }}</span>{{ CONCLUSIONS[conclusion.value] }}
    {% else %} (nestabilită)
    {%- endif %}
    &ensp;
    <strong>Tendință:</strong>
    {%- if conclusion.trend %}<span class="conclusion">{{ conclusion.trend }}</span>{{ TREND_NAME[conclusion.trend] }}
    {% else %} (nestabilită)
    {% endif %}
{%- endmacro %}
