{% macro conclusion_td(conclusion) -%}
  <td class="conclusion-{{ conclusion.value }}">{{ conclusion.value }}</td>
{%- endmacro %}


{% macro method_html(method) %}
{%- if method %}
  {{ method }} - {{ METHODS_USED[method] -}}
{% endif %}
{%- endmacro %}


{% macro reference_value_html(refval, unit='', ideal='') %}
  {%- if refval.number -%}
    {{ refval.number }} {{ unit }}
  {%- elif refval.op -%}
    {{ refval.op }}{{ ideal }} {{ unit }}
  {%- elif refval.x -%}
    Unknown
  {%- else -%}
    N/A
  {%- endif -%}
{%- endmacro %}


{% macro reference_value_td(refval, unit='') -%}
  <td {% if refval.method -%}
        title="Metoda utilizată: {{ refval.method }}"
      {%- endif %}>
    {{- reference_value_html(refval, unit='', ideal='') -}}
  </td>
{%- endmacro %}

{% macro range_html(range) %}
{%- if range.surface_area -%}
  {{ range.surface_area }} km²
{%- endif -%}
{%- endmacro %}


{% macro magnitude_html(magnitude) -%}
{% if magnitude.min or magnitude.max %}
    {{ magnitude.min }} - {{ magnitude.max }} km²
{% endif %}
{%- endmacro %}


{% macro period_html(period) %}
{%- if period -%}
  {#- unicode character 2011: non-breaking hyphen -#}
  ({{ period.start }}&#x2011;{{ period.end }})
{%- endif %}
{%- endmacro %}


{% macro trend_detail_html(trend) %}
{%- if trend.trend %}
  {{ TREND_NAME[trend.trend] -}}
{% endif %}
{%- endmacro %}


{% macro trend_html(trend) %}
  {{- trend.trend }} {{ period_html(trend.period) }}
{%- endmacro %}


{% macro trend_td(trend) -%}
  {%- set tooltip = TREND_NAME[trend.trend] %}
  <td title="{{ tooltip }}">{{ trend_html(trend) }}</td>
{%- endmacro %}


{% macro population_size_html(size) %}
  {%- for item in size %}
    {%- if item.min == item.max %}
      {{- item.min }} {{ item.unit }}
    {%- else %}
      {{- item.min }}-{{ item.max }} {{ item.unit }}
    {%- endif %}
  {%- endfor %}
{%- endmacro %}


{% macro population_size_td(size) -%}
  <td>{{ population_size_html(size) }}</td>
{%- endmacro %}


{% macro habitat_quality_html(quality) %}
  {{- quality.value }}
{%- endmacro %}


{% macro habitat_quality_td(quality) -%}
  <td {% if quality.explanation -%}
        title="Metoda utilizată: {{ quality.explanation }}"
      {%- endif %}>
    {{- habitat_quality_html(quality) -}}
  </td>
{%- endmacro %}


{% macro conclusion_td_input(name) %}
  <td>
    <select name="{{ name }}">
      <option>FV</option>
      <option>U1</option>
      <option>U2</option>
      <option>XX</option>
    </select>
  </td>
{%- endmacro %}

{% macro conclusions_html(conclusion) %}
{%- if conclusion.value %}
  {{ conclusion.value }} ({{ CONCLUSIONS[conclusion.value] }})
{%- endif %}
{%- if conclusion.trend %};
  Trend: {{ TREND_NAME[conclusion.trend] }}
{% endif %}

{%- endmacro %}
