{%- from 'bits.html' import fonticon %}


{% macro topic_html(
    topic,
    topic_template,
    blueprint,
    finalized) %}
  {%- from topic_template import
      assessment_header, record, record_columns
      with context -%}

  {% set assessment_row = topic['assessment'] %}

  <table class="records table table-bordered">
    {{ assessment_header() }}

    <tr class="records-section-header section-separator">
      <th colspan={{ record_columns + 5 }}>
        Versiune pentru consultare
      </th>
    </tr>

    <tr>
      {#- detail #}
      <td>
        {%- set url = url_for(blueprint + '.detail',
                              record_id=assessment_row.id) %}
        <button class="records-detailbtn btn btn-xs btn-info"
                data-url="{{ url }}">detalii</button>
        <br/>
        {%- if primary_data_url %}
        <a class="showmap btn btn-xs btn-info"
                href="{{ primary_data_url }}">date primare</a>
        {%- endif %}
      </td>

      {{ record(assessment_row) }}

      <td colspan=4>  {#- conclusion (author, etc) #}
      {%- if not finalized %}
        {%- if perm_create_comment(assessment_row['model']).can() %}
          {%- set url = url_for(blueprint + '.comment',
                                record_id=assessment_row.id,
                                next=comment_next) %}
          <a class="records-commentbtn btn btn-xs btn-warning"
             href="{{ url }}">adaugǎ comentariu</a>
        {%- endif %}
      {%- endif %}
      </td>
    </tr>

    <tr class="records-section-header section-separator">
      <th colspan={{ record_columns + 5 }}>
        Comentarii
      </th>
    </tr>

   {% for comment_row in topic['comments'] %}

     {% if comment_row.region == assessment_row.region %}
      <tr {% if comment_row.role == 'comment-draft' %}class="draft"{% endif %}>
        {#- detail #}
        <td>
        {% if comment_row.role == 'comment-draft' %}
          draft
        {% else %}
          {%- if not finalized %}
            {%- if perm_update_comment_status(comment_row.model).can() %}
              {%- set url = url_for(blueprint + '.comment_status',
                                    comment_id=comment_row.id) %}
              <form method="post" action="{{ url }}"
                    class="records-commentstatus">
                <input type="hidden" name="next" value="{{ comment_next }}">
                <input type="hidden" name="status" value="{{ comment_row.status }}">
              </form>
            {%- endif %}
          {%- endif %}
        {%- endif %}
        </td>

        {{ record(comment_row) }}

        <td>{{ comment_row.cons_user_id }}</td>  {#- conclusion author, etc #}
        <td class="record-actions">
        {%- if not finalized %}
          {%- if perm_edit_comment(comment_row.model).can() %}
            {%- set url = url_for(blueprint + '.comment_edit',
                                  comment_id=comment_row.id,
                                  next=comment_next) %}
            <a class="records-editcommentbtn btn btn-xs btn-info"
               href="{{ url }}"
               title="editează">{{ fonticon('edit') }}</a>
          {%- else %}
            {%- if perm_redraft_comment(comment_row.model).can() %}
              {%- set url = url_for(blueprint + '.redraft',
                                    comment_id=comment_row.id,
                                    next=comment_next) %}
              <a href="{{ url }}" class="btn btn-xs btn-danger records-redraft"
                 title="Readu la draft">{{ fonticon('edit') }}</a>
            {%- endif %}
          {%- endif %}

          {%- if perm_delete_comment(comment_row.model).can() %}
            {%- set url = url_for(blueprint + '.comment_delete',
                                  comment_id=comment_row.id) %}
            <form method="post" action="{{ url }}"
                  class="records-commentdelete">
              <input type="hidden" name="next" value="{{ comment_next }}">
              <button class="btn btn-xs btn-danger"
                      type="submit"
                      title="șterge">{{ fonticon('trash') }}</button>
            </form>
          {%- endif %}
        {%- endif %}
        </td>
        <td>
          {{ comment_row.comment_date|local_date }}
          <br/>
          {{ comment_row.user_id }}
        </td>
        <td>
          {%- set url = url_for(
                'replies.index',
                parent_table=blueprint,
                parent_id=comment_row.id,
              ) %}
          {%- set count = reply_counts[comment_row.id|string] or 0 %}
          {%- set unread = (
                g.identity.id and
                count > 0 and
                comment_row.id not in read_id_set
              ) %}
          {%- set color_cls = 'btn-warning' if unread else 'btn-default' %}
          <a class="records-repliesbtn btn btn-xs btn-default {{ color_cls }}"
             href="{{ url }}">{{ fonticon('comment') }} {{ count }}</a>
        </td>
      </tr>
     {% endif %}

   {% else %}

      <td></td>

      <td colspan={{ record_columns + 4 }}>
        nu a fost adăugat niciun comentariu
      </td>

   {% endfor %}

    <tr class="records-section-header section-separator">
      <th colspan={{ record_columns + 5 }}>
        Versiune rezultată în urma consultării
      </th>
    </tr>

    <tr>
      {%- set final_row = topic['final' if finalized else 'final-draft'] %}

      <td>
        {%- if final_row %}
          {%- set url = url_for(blueprint + '.detail',
                                record_id=final_row.id) %}
          <button class="records-detailbtn btn btn-xs btn-info"
                  data-url="{{ url }}">detalii</button>
        {%- endif %}
      </td>

      {%- if final_row %}
        {{ record(final_row) }}
      {%- else %}
        <td colspan={{ record_columns }}>
          nu s-a adus nicio modificare versiunii spre consultare
        </td>
      {%- endif %}

      <td></td>

      <td class="record-actions">
        {%- if not finalized %}
          {%- if perm_edit_final_for_this.can() %}
            <a class="btn btn-xs btn-info" href="{{ final_comment_url }}"
            {% if final_row %}
               title="editează">{{ fonticon('edit') }}</a>
            {% else %}
               title="creează">{{ fonticon('plus-sign') }} creează varianta finală</a>
            {% endif %}

            {% if delete_draft_url %}
              <form method="post" action="{{ delete_draft_url }}"
                    class="consultation-delete-draft">
                <button type="submit"
                        class="btn btn-xs btn-danger"
                        title="șterge">{{ fonticon('trash') }}</button>
              </form>
            {% endif %}
          {%- endif %}
        {%- endif %}
      </td>

      <td colspan=2></td>
    </tr>

  </table>
{%- endmacro %}


{% macro topic_html_aggregation(
    assessment_row,
    type,
    topic_template) %}
  {%- from topic_template import assessment_header, record with context -%}

  <table class="records table table-bordered">
    {{ assessment_header() }}

    <tr>
      {#- detail #}
      <td>
        {%- set url = url_for('.detail-' + type,
                              record_id=assessment_row.id) %}
        <button class="records-detailbtn btn btn-xs btn-info"
                data-url="{{ url }}">detalii</button>
      </td>

      {{ record(assessment_row) }}

      <td colspan=4>  {#- conclusion (author, etc) #}
        {%- set url = url_for('.' + type + '-edit',
                              dataset_id=dataset_id,
                              record_id=assessment_row.id) %}
        <a class="btn btn-xs btn-default"
           href="{{ url }}">edit</a>
      </td>
    </tr>
  </table>
{%- endmacro %}
