{% extends base_template or "layout.html" %}


{% block title %}Configurare &mdash; {{ super() }}{% endblock title %}


{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('consultare', home_url),
          ('configurare', None),
      ]) }}
{% endblock breadcrumbs %}


{% block content %}
  <h2>Configurare</h2>

  <form method="POST">
    {%- for row in config_rows %}
      <div class="form-group">
        <label for="form-{{ row.id }}">
          {{- CONFIG_LABEL[row.id] -}}
        </label>

        {% if row.id == 'CONSULTATION_DATASET' %}
          <select class="form-control" id="form-{{ row.id }}"
                  name="{{ row.id }}">
            <option value=""
                    {% if not row.value %}selected{% endif %}>
              -- nicio consultare activă --
            </option>
            {% for o in datasets_available %}
              <option value="{{ o.id }}"
                      {%- if row.value == o.id|string %}selected{% endif %}>
                #{{ o.id }} {{ o.comment or 'Consultare inițială' }} {{ o.year_start }} - {{ o.year_end }}</option>
            {% endfor %}
          </select>
        {% else %}
          <input class="form-control" id="form-{{ row.id }}"
                 name="{{ row.id }}" value="{{ row.value }}">
        {% endif %}
      </div>
    {%- endfor %}

    <button type="submit" class="btn btn-primary">Salvează</button>
  </form>
{% endblock content %}
