{% extends "layout.html" %}


{% block content %}
<div class="jumbotron">
  <div class="container">
    <h2>Consultare publicǎ pentru Articolul 17 din Directiva Habitate</h2>

    <p>
      <a class="btn btn-primary"
         href="{{ url_for('dashboard.index') }}">dashboard</a>

      <a class="btn btn-warning"
         href="{{ url_for('history_consultation.index') }}">activitate</a>

      {% if config['AUTH_DEBUG'] %}
        <a class="btn btn-danger"
           href="{{ url_for('auth.debug') }}">autentificare (debug)</a>
      {% endif %}

      {% if admin_permission.can() %}
        <a class="btn btn-default"
           href="{{ url_for('config.form') }}">configurare</a>
      {% endif %}
    </p>
  </div>
</div>

<div class="row">
  <div class="">
    <ul>
      <li>Proiect cofinantat din Fondul European de Dezvoltare Regionala</li>
      <li>Continutul acestui material nu reprezinta in mod obligatoriu pozitia Uniunii Europene sau a Guvernului Romaniei.</li>
      <li>Pentru informatii detaliate despre celelalte programe cofinantate de
        Uniunea Europeana, va invitam sa vizitati
        <a href="http://www.fonduri-ue.ro">www.fonduri-ue.ro</a>.
      </li>
    </ul>
  </div>
</div>
{% endblock content %}
