{% extends "layout.html" %}


{% block content %}
<div class="jumbotron">
  <div class="container">
    <h2>Consultare publicǎ pentru Articolul 17 din Directiva Habitate</h2>

    {% if current_dataset %}
    <p>Consultare în curs: {% if current_dataset.year_start -%}
      [{{ current_dataset.year_start }} - {{ current_dataset.year_end }}]
      {%- else -%}
      {{ current_dataset.title or 'implicită' }}
      {% endif %}
    </p>
    <p>Statistici consultare:</p>
    <ul>
      <li>{{ species_details['all']['reports'] + habitat_details['all']['reports'] }} rapoarte </li>
      <ul>
        <li>
          {{ species_details['all']['reports'] }} rapoarte pentru specii /
          {{ species_details['all']['comments'] }} comentarii /
          {{ species_details['all']['replies'] }} replici la comentarii
        </li>
        <ul>
          <li>
            {{ species_details['final']['reports'] }} rapoarte cu decizie luată pentru specii /
            {{ species_details['final']['comments'] }} comentarii /
            {{ species_details['final']['replies'] }} replici la comentarii
          </li>
          <li>
            {{ species_details['notfinal']['reports'] }} rapoarte în lucru pentru specii /
            {{ species_details['notfinal']['comments'] }} comentarii /
            {{ species_details['notfinal']['replies'] }} replici la comentarii
          </li>
        </ul>
        <li>
          {{ habitat_details['all']['reports'] }} rapoarte pentru habitate /
          {{ habitat_details['all']['comments'] }} comentarii /
          {{ habitat_details['all']['replies'] }} replici la comentarii
        </li>
        <ul>
          <li>
            {{ habitat_details['final']['reports'] }} rapoarte cu decizie luată pentru habitate /
            {{ habitat_details['final']['comments'] }} comentarii /
            {{ habitat_details['final']['replies'] }} replici la comentarii
          </li>
          <li>
            {{ habitat_details['notfinal']['reports'] }} rapoarte în lucru pentru habitate /
            {{ habitat_details['notfinal']['comments'] }} comentarii /
            {{ habitat_details['notfinal']['replies'] }} replici la comentarii
          </li>
        </ul>
      </ul>
    </ul>

    <p>
      <a class="btn btn-primary"
         href="{{ url_for('dashboard.index') }}">dashboard</a>

      {% if admin_permission.can() %}
      <a class="btn btn-warning"
         href="{{ url_for('history_consultation.index') }}">activitate</a>
      {% endif %}

      {% if config['AUTH_DEBUG'] %}
        <a class="btn btn-danger"
           href="{{ url_for('auth.debug') }}">autentificare (debug)</a>
      {% endif %}

      {% if admin_permission.can() %}
        <a class="btn btn-default"
           href="{{ url_for('config.form') }}">configurare</a>
      {% endif %}
    </p>
    {% else %}
    <p>Nicio consultare nu este activă în prezent.</p>
    <p>
      {% if admin_permission.can() %}
        <a class="btn btn-default"
           href="{{ url_for('config.form') }}">configurare</a>
      {% endif %}
    </p>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="">
    <ul>
      <li>Proiect cofinantat din Fondul European de Dezvoltare Regionala</li>
      <li>Continutul acestui material nu reprezinta in mod obligatoriu pozitia Uniunii Europene sau a Guvernului Romaniei.</li>
      <li>Pentru informatii detaliate despre celelalte programe cofinantate de
        Uniunea Europeana, va invitam sa vizitati
        <a href="http://www.fonduri-ue.ro">www.fonduri-ue.ro</a>.
      </li>
    </ul>
  </div>
</div>
{% endblock content %}
