{% extends "layout.html" %}


{% block title %}Dashboard &mdash; {{ super() }}{% endblock title %}


{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('consultare', home_url),
          ('dashboard', None),
      ]) }}
{% endblock breadcrumbs %}


{% block content %}
  {%- from 'dashboard/common.html' import
        table,
        tabmenu
      with context %}
  {%- from 'consultation/common.html' import consultation_cell with context %}


  {{ tabmenu(current='S' + species_group.code) }}

  {{ table(bioreg_list, species_list, consultation_cell) }}
{% endblock content %}
