{% from 'common/comment_bits.html' import error_cls, errors %}

<div class="tab-pane comment" id="comment-conclusion">
  <div class="panel panel-default">

    <div class="panel-body">

      <div class="form-group">
        <label><em>
          Areal - Evaluare
        </em></label>

        <div class="row">
          <div class="col-sm-3">
            <label><em>
                Concluzie:
            </em></label>
            <input id="rangelink.conclusion.value" class="form-control" type="text" value=""
                   name="rangelink.conclusion.value" disabled />
          </div>

          <div class="col-sm-3">
            <label><em>
                Tendință:
            </em></label>
            <input id="rangelink.conclusion.trend" class="form-control" type="text" value=""
                   name="rangelink.conclusion.trend" disabled />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label><em>
          Populație - Evaluare
        </em></label>

        <div class="row">
          <div class="col-sm-3">
            <label><em>
                Concluzie:
            </em></label>
            <input id="populationlink.conclusion.value" class="form-control" type="text" value=""
                   name="populationlink.conclusion.value" disabled />
          </div>

          <div class="col-sm-3">
            <label><em>
                Tendință:
            </em></label>
            <input id="populationlink.conclusion.trend" class="form-control" type="text" value=""
                   name="populationlink.conclusion.trend" disabled />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label><em>
          Habitat - Evaluare
        </em></label>

        <div class="row">
          <div class="col-sm-3">
            <label><em>
                Concluzie:
            </em></label>
            <input id="habitatlink.conclusion.value" class="form-control" type="text" value=""
                   name="habitatlink.conclusion.value" disabled />
          </div>

          <div class="col-sm-3">
            <label><em>
                Tendință:
            </em></label>
            <input id="habitatlink.conclusion.trend" class="form-control" type="text" value=""
                   name="habitatlink.conclusion.trend" disabled />
          </div>
        </div>
      </div>

      <div class="form-group">
        {%- set future_prospects = form.future_prospects %}
        <label for="future_prospects.value">
          Perspective viitoare - Evaluarea
        </label>

        {{ errors(future_prospects) }}

        <div class="row">
          <div class="col-md-12">
              <p><small><em>* Daca concluzia este nevaforabilă se recomandă
              folosirea unei tendințe.</em></small></p>
          </div>
          <div class="col-sm-3 {{- error_cls(future_prospects.value) }}">
            <label for="future_prospects.value">
                {{ future_prospects.value.label}}:
            </label>
            {{ future_prospects.value(class='form-control semaphore') }}
          </div>

          <div class="col-sm-3 {{- error_cls(future_prospects.trend) }}">
            <label for="future_prospects.trend">
                {{ future_prospects.trend.label}}:
            </label>
            {{ future_prospects.trend(class='form-control') }}
          </div>
        </div>
      </div>

      <div class="form-group">
        {%- set overall_assessment = form.overall_assessment %}
        <label for="overall_assessment.value">
          Evaluare generală a stării de conservare
        </label>

        {{ errors(overall_assessment) }}

        <div class="row">
          <div class="col-md-12">
              <p><small><em>* Daca concluzia este nevaforabilă se recomandă
              folosirea unei tendințe.</em></small></p>
          </div>
          <div class="col-sm-3 {{- error_cls(overall_assessment.value) }}">
            <label for="overall_assessment.value">
                {{ overall_assessment.value.label }}:
            </label>
            {{ overall_assessment.value(class='form-control semaphore') }}
          </div>

          <div class="col-sm-3 {{- error_cls(overall_assessment.trend) }}">
            <label for="overall_assessment.trend">
                {{ overall_assessment.trend.label }}:
            </label>
            {{ overall_assessment.trend(class='form-control') }}
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
