{% from 'common/comment_bits.html' import error_cls, errors %}

<div class="tab-pane comment" id="comment-natura2000">
  <div class="panel panel-default">

    <div class="panel-body">

      <div class="form-group">
        <label><em>
          1. Estimarea mărimii populației (număr de indivizi sau valori agreate)
        </em></label>

        <div class="row">
          <div class="col-sm-4">
            <label><em>
                Unități:
            </em></label>
            <input id="populationlink.size.population.unit" class="form-control" type="text" value=""
                   name="populationlink.size.population.unit" disabled></input>
          </div>

          <div class="col-sm-1">
            <label><em>
                Min:
            </em></label>
            <input id="populationlink.size.population.min" class="form-control" type="text" value=""
                   name="populationlink.size.population.min" disabled></input>
          </div>

          <div class="col-sm-1">
            <label><em>
                Max:
            </em></label>
            <input id="populationlink.size.population.max" class="form-control" type="text" value=""
                   name="populationlink.size.population.max" disabled></input>
          </div>

        </div>
      </div>

      <div class="form-group">
        <label><em>
          2. Estimarea mărimii populației (altfel decât număr de indivizi)
        </em></label>

        <div class="row">
          <div class="col-sm-4">
            <label><em>
                Unități:
            </em></label>
            <input id="populationlink.size.population_alt.unit" class="form-control" type="text" value=""
                   name="populationlink.size.population_alt.unit" disabled></input>
          </div>

          <div class="col-sm-1">
            <label><em>
                Min:
            </em></label>
            <input id="populationlink.size.population_alt.min" class="form-control" type="text" value=""
                   name="populationlink.size.population_alt.min" disabled></input>
          </div>

          <div class="col-sm-1">
            <label><em>
                Max:
            </em></label>
            <input id="populationlink.size.population_alt.max" class="form-control" type="text" value=""
                   name="populationlink.size.population_alt.max" disabled></input>
          </div>

        </div>
      </div>

      <div class="form-group">
        {%- set population = form.natura2000.population %}
        <label for="population.unit">
          {{ population.label }}
        </label>

        {{ errors(population) }}

        <div class="row">
          <div class="col-sm-2 {{- error_cls(population.unit) }}">
            <label>
                {{ population.unit.label }}:
            </label>
            {{ population.unit(class='form-control') }}
          </div>

          <div class="col-sm-2 {{- error_cls(population.min) }}">
            <label>
                {{ population.min.label }}:
            </label>
            {{ population.min(class='form-control',
                    placeholder="numǎr minim") }}
          </div>

          <div class="col-sm-2 {{- error_cls(population.max) }}">
            <label>
                {{ population.max.label }}:
            </label>
            {{ population.max(class='form-control',
                    placeholder="numǎr maxim") }}
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="natura2000.method">
          {{ form.natura2000.method.label }}:
        </label>

        {{ errors(form.natura2000.method) }}

        <div class="row">
          <div class="col-sm-6 {{- error_cls(form.natura2000.method) }}">
            {{ form.natura2000.method(class='form-control') }}
          </div>
        </div>
      </div>

      <div class="form-group">
        {%- set trend = form.natura2000.trend %}
        <label for="natura2000.trend">
          {{ form.natura2000.trend.label }}:
        </label>

        {{ errors(trend) }}

        <div class="row">
          <div class="col-sm-6 {{- error_cls(trend) }}">
            {{ trend(class='form-control') }}
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
