{% from 'common/comment_bits.html' import error_cls, errors %}

<div class="tab-pane comment" id="comment-population">
  <div class="panel panel-default">

    <div class="panel-body">

      <div class="clearfix">
        <div class="well col-sm-8">

          <div>
            <p><em>* Completați cel puțin una din următoarele două estimări</em></p>
          </div>
          <div class="form-group">
            {%- set population = form.population.size.population %}
            <label for="population.size.population.unit">
              1. {{ population.label }}
            </label>

            {{ errors(population) }}

            <div class="row">
              <div class="col-sm-6 {{- error_cls(population.unit) }}">
                <label for="population.size.population.unit">
                    {{ population.unit.label }}:
                </label>
                {{ population.unit(class='form-control') }}
              </div>

              <div class="col-sm-3 {{- error_cls(population.min) }}">
                <label for="population.size.population.min">
                    {{ population.min.label }}:
                </label>
                {{ population.min(class='form-control',
                        placeholder="numǎr minim") }}
              </div>

              <div class="col-sm-3 {{- error_cls(population.max) }}">
                <label for="population.size.population.max">
                    {{ population.max.label }}:
                </label>
                {{ population.max(class='form-control',
                        placeholder="numǎr maxim") }}
              </div>
            </div>
          </div>

          <div class="form-group">
            {%- set population_alt = form.population.size.population_alt %}
            <label for="population.size.population_alt.unit">
              2. {{ population_alt.label }}
            </label>
            {{ errors(population_alt) }}

            <div class="row">
              <div class="col-sm-6 {{- error_cls(population_alt.unit) }}">
                <label for="population.size.population_alt.unit">
                  {{ population_alt.unit.label }}:
                </label>
                {{ population_alt.unit(class='form-control') }}
              </div>

              <div class="col-sm-3 {{- error_cls(population_alt.min) }}">
                <label for="population.size.population.min">
                  {{ population_alt.min.label }}:
                </label>
                {{ population_alt.min(class='form-control',
                        placeholder="numǎr minim") }}
              </div>

              <div class="col-sm-3 {{- error_cls(population_alt.max) }}">
                <label for="population.size.population.max">
                  {{ population_alt.max.label }}:
                </label>
                  {{ population_alt.max(class='form-control',
                        placeholder="numǎr maxim") }}
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="form-group">
        {%- set population = form.population %}
        <label>
            Informații adiționale
        </label>

        {{ errors(population.additional_locality) }}
        {{ errors(population.additional_method) }}
        {{ errors(population.additional_problems) }}
        <div class="row">
          <div class="col-sm-2 {{- error_cls(population.additional_locality) }}">
            <label for="population.additional_locality">
              {{ population.additional_locality.label }}:
            </label>
            {{ population.additional_locality(class='form-control',
                    placeholder="Definiția localității") }}
            <p>
              <em>* Dacă localitatea este folosită ca mărime a populației - definiți termenul
              </em>
            </p>
          </div>
          <div class="col-sm-2 {{- error_cls(population.additional_method) }}">
            <label for="population.additional_method">
              {{ population.additional_method.label }}:
            </label>
            {{ population.additional_method(class='form-control',
                    placeholder="Metoda de conversie") }}
            <p>
              <em>* Descrieți modul în care datele au fost convertite la numărul
              de indivizi
              </em>
            </p>
          </div>
          <div class="col-sm-2 {{- error_cls(population.additional_problems) }}">
            <label for="population.additional_problems">
              {{ population.additional_problems.label }}:
            </label>
            {{ population.additional_problems(class='form-control',
                    placeholder="Probleme") }}
            <p>
              <em>* Descrieți problemele întâmpinate pentru a furniza mărimea
              populației
              </em>
            </p>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="population.date">
            {{ population.date.label }}:
        </label>
        <p>
          <em>
          * Anul (sau perioada) în care au fost colectate datele
          pentru a putea estima mărimea populației
          </em>
        </p>
        <div class="row">
          <div class="col-sm-6 {{- error_cls(population.date) }}">
            {{ population.date(class='form-control') }}
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="population.method">
          {{ population.method.label}}:
        </label>

        {{ errors(population.method) }}

        <div class="row">
          <div class="col-sm-6 {{- error_cls(population.method) }}">
            {{ population.method(class='form-control') }}
          </div>
        </div>
      </div>

      <div class="form-group">
        {%- set trend_short = form.population.trend_short %}
        <label for="population.trend_short.trend">
          {{ trend_short.label }}
        </label>

        {{ errors(trend_short) }}

        <div class="row">
          <div class="col-sm-2 {{- error_cls(trend_short.trend) }}">
            <label for="trend_short.trend">
                {{ trend_short.trend.label }}:
            </label>
            {{ trend_short.trend(class='form-control') }}
          </div>

          <div class="col-sm-2 {{- error_cls(trend_short.period.start) }}">
            <label for="trend_short.period.start">
                {{ trend_short.period.start.label }}:
            </label>
            {{ trend_short.period.start(class='form-control',
                    placeholder="an de început") }}
          </div>

          <div class="col-sm-2 {{- error_cls(trend_short.period.end) }}">
            <label for="trend_short.period.end">
                {{ trend_short.period.end.label }}:
            </label>
            {{ trend_short.period.end(class='form-control',
                    placeholder="an de sfârșit") }}
          </div>

          <div class="col-sm-2 {{- error_cls(trend_short.method) }}">
            <label for="trend_short.period.method">
                {{ trend_short.method.label }}:
            </label>
            {{ trend_short.method(class='form-control') }}
          </div>
        </div>
        <br/>
        {% set magnitude = form.population.trend_short.magnitude %}
        <label>
            {{ magnitude.label }}:
        </label>

        {{ errors(magnitude) }}

        <div class="row">
          <div class="col-sm-2 {{- error_cls(magnitude) }}">
            <p><small><em>* Dacă este o cifra exactă, se completează aceeași valoare în
            ambele capete de interval.</em></small></p>
          </div>
          <div class="col-sm-2 {{- error_cls(magnitude.min) }}">
            <label for="magnitude.min">
                {{ magnitude.min.label }}:
            </label>
            {{ magnitude.min(class='form-control',
                    placeholder="valoare minimă") }}
          </div>

          <div class="col-sm-2 {{- error_cls(magnitude.max) }}">
            <label for="magnitude.min">
                {{ magnitude.max.label }}:
            </label>
            {{ magnitude.max(class='form-control',
                    placeholder="valoare maximă") }}
          </div>
          <div class="col-sm-2 {{- error_cls(magnitude.ci) }}">
            <label for="magnitude.min">
                {{ magnitude.ci.label }}:
            </label>
            {{ magnitude.ci(class='form-control',
                    placeholder="interval de încredere") }}
          </div>
        </div>

        <label for="trend_short.method">
          Metoda utilizată - tendința pe termen scurt
        </label>

        {{ errors(trend_short.method) }}

        <div class="row">
          <div class="col-sm-6 {{- error_cls(trend_short.method) }}">
            {{ trend_short.method(class='form-control') }}
          </div>
        </div>
      </div>

      <div class="form-group">
        {%- set trend_long = form.population.trend_long %}
        <label for="population.trend_long.trend">
          {{ trend_long.label }}
        </label>

        {{ errors(trend_long) }}

        <div class="row">
          <div class="col-sm-2 {{- error_cls(trend_long.trend) }}">
            <label for="population.trend_long.trend">
                {{ trend_long.trend.label }}:
            </label>
            {{ trend_long.trend(class='form-control') }}
          </div>

          <div class="col-sm-2 {{- error_cls(trend_long.period.start) }}">
            <label for="population.trend_long.period.start">
                {{ trend_long.period.start.label }}:
            </label>
            {{ trend_long.period.start(class='form-control',
                    placeholder="an de început") }}
          </div>

          <div class="col-sm-2 {{- error_cls(trend_long.period.end) }}">
            <label for="population.trend_long.period.end">
                {{ trend_long.period.end.label }}:
            </label>
            {{ trend_long.period.end(class='form-control',
                    placeholder="an de sfârșit") }}
          </div>

          <div class="col-sm-2 {{- error_cls(trend_long.method) }}">
            <label for="population.trend_long.method">
                {{ trend_long.method.label }}:
            </label>
            {{ trend_long.method(class='form-control') }}
          </div>
        </div>
        <br/>
        {% set magnitude = form.population.trend_long.magnitude %}
        <label>
          {{ magnitude.label }}:
        </label>

        <div class="row">
          <div class="col-sm-2 {{- error_cls(magnitude) }}">
            <p><small><em>* Dacă este o cifra exactă, se completează aceeași valoare în
            ambele capete de interval.</em></small></p>
          </div>
          <div class="col-sm-2 {{- error_cls(magnitude.min) }}">
            <label for="population.trend_long.magnitude.min">
                {{ magnitude.min.label }}:
            </label>
            {{ magnitude.min(class='form-control',
                    placeholder="valoare minimă") }}
          </div>

          <div class="col-sm-2 {{- error_cls(magnitude.max) }}">
            <label for="population.trend_long.magnitude.max">
                {{ magnitude.max.label }}:
            </label>
            {{ magnitude.max(class='form-control',
                    placeholder="valoare maximă") }}
          </div>
          <div class="col-sm-2 {{- error_cls(magnitude.ci) }}">
            <label for="population.trend_long.magnitude.min">
                {{ magnitude.ci.label }}:
            </label>
            {{ magnitude.ci(class='form-control',
                    placeholder="interval de încredere") }}
          </div>
        </div>

        <label for="population.trend_long.method">
          Metoda utilizată - tendința pe termen lung
        </label>

        {{ errors(trend_long.method) }}

        <div class="row">
          <div class="col-sm-6 {{- error_cls(trend_long.method) }}">
            {{ trend_long.method(class='form-control') }}
          </div>
        </div>
      </div>

      <div class="clearfix">
        <div class="well col-sm-8">
          <div class="form-group">
            {%- set reference_value = form.population.reference_value %}
            <label for="population.reference_value.op">
              {{ reference_value.label }}
            </label>
            <p for="range.reference_value.op">
              <em>* Doar una din următoarele trei elemente trebuie completate:</em>
            </p>

            {{ errors(reference_value) }}

            <div class="row">
              <div class="col-sm-5 {{- error_cls(reference_value.number) }}">
                <label for="population.reference_value.number">
                    {{ reference_value.number.label }}:
                </label>
                {{ reference_value.number(class='form-control',
                    placeholder="numărul de indivizi sau unitățile utilizate") }}
              </div>

              <div class="col-sm-4 {{- error_cls(reference_value.op) }}">
                <label for="population.reference_value.op">
                    {{ reference_value.op.label }}:
                </label>
                {{ reference_value.op(class='form-control') }}
              </div>

              <div class="col-sm-3 {{- error_cls(reference_value.x) }}">
                <label for="population.reference_value.x">
                    {{ reference_value.x.label }}:
                </label>
                <div class="field-inline">
                    {{ reference_value.x(class='form-control') }}
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="population.reference_value.method">
                {{ reference_value.method.label }}:
            </label>

            {{ errors(form.population.reference_value.method) }}

            <div class="{{- error_cls(form.population.reference_value.method) }}">
              {{ form.population.reference_value.method(class='form-control', rows=2) }}
            </div>
          </div>

        </div>
      </div>

      <div class="form-group">
        {%- set reason = form.population.reason %}
        <label for="range.reason.a">
            {{ reason.label }}:
        </label>
        <p for="range.reason.a">
          <em>* Dacă există, justificați diferența între valoarea Populației din
            raportarea precedentă și valoarea curentă
          </em>
        </p>

        {{ errors(reason) }}

        <div class="field-inline">
          {{ reason.a(class='form-control') }}
          {{ LU_REASONS_FOR_CHANGE['a'] }} <br>

          {{ reason.b(class='form-control') }}
          {{ LU_REASONS_FOR_CHANGE['b'] }} <br>

          {{ reason.c(class='form-control') }}
          {{ LU_REASONS_FOR_CHANGE['c'] }} <br>
        </div>
      </div>

      <div class="clearfix">
        <div class="well">
          <div class="form-group">
            {%- set conclusion = form.population.conclusion %}
            <label for="conclusion.value">
              {{ conclusion.label }}
            </label>

            {{ errors(conclusion) }}

            <div class="row">
              <div class="col-md-12">
                  <p><small><em>* Daca concluzia este nevaforabilă se recomandă
                  folosirea unei tendințe.</em></small></p>
              </div>
              <div class="col-sm-3 {{- error_cls(conclusion.value) }}">
                <label for="population.conclusion.value">
                    {{ conclusion.value.label }}:
                </label>
                {{ conclusion.value(class='form-control semaphore') }}
              </div>

              <div class="col-sm-3 {{- error_cls(conclusion.trend) }}">
                <label for="population.conclusion.trend">
                    {{ conclusion.trend.label }}:
                </label>
                {{ conclusion.trend(class='form-control') }}
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
