{% from 'common/comment_bits.html' import error_cls, errors %}

<div class="tab-pane comment active" id="comment-range">
  <div class="panel panel-default">

    <div class="panel-body">
      <div class="form-group">
        <label for="range.surface_area">
          {{ form.range.surface_area.label }}:
        </label>

        {{ errors(form.range.surface_area) }}

        <div class="row">
          <div class="col-sm-6 {{- error_cls(form.range.surface_area) }}">
            {{ form.range.surface_area(class='form-control',
                    placeholder="suprafața trebuie exprimatǎ in km²") }}
          </div>

        </div>
      </div>

      <div class="form-group">
        <label for="range.method">
          {{ form.range.method.label }}:
        </label>

        {{ errors(form.range.method) }}

        <div class="row">
          <div class="col-sm-6 {{- error_cls(form.range.method) }}">
            {{ form.range.method(class='form-control') }}
          </div>
        </div>
      </div>

      <div class="form-group">
        {%- set trend_short = form.range.trend_short %}
        <label for="range.trend_short.trend">
          {{ trend_short.label }}
        </label>

        {{ errors(trend_short) }}

        <div class="row">
          <div class="col-sm-2 {{- error_cls(trend_short.trend) }}">
            <label for="range.trend_short.trend">
                {{ trend_short.trend.label }}:
            </label>
            {{ trend_short.trend(class='form-control') }}
          </div>

          <div class="col-sm-2 {{- error_cls(trend_short.period.start) }}">
            <label for="range.trend_short.period.start">
                {{ trend_short.period.start.label }}:
            </label>
            {{ trend_short.period.start(class='form-control',
                    placeholder="an de început") }}
          </div>

          <div class="col-sm-2 {{- error_cls(trend_short.period.end) }}">
            <label for="range.trend_short.period.end">
                {{ trend_short.period.end.label }}:
            </label>
            {{ trend_short.period.end(class='form-control',
                    placeholder="an de sfârșit") }}
          </div>
        </div>
        <br/>
        {% set magnitude = form.range.trend_short.magnitude %}
        <label> {{ magnitude.label }}</label>

        {{ errors(magnitude) }}

        <div class="row">
          <div class="col-sm-2 {{- error_cls(magnitude) }}">
            <p><small><em>* Dacă este o cifra exactă, se completează aceeași valoare în
            ambele capete de interval.</em></small></p>
          </div>
          <div class="col-sm-2 {{- error_cls(magnitude.min) }}">
            <label for="range.trend_short.magnitude.min">
                {{ magnitude.min.label }}:
            </label>
            {{ magnitude.min(class='form-control',
                    placeholder="valoare minimă") }}
          </div>

          <div class="col-sm-2 {{- error_cls(magnitude.max) }}">
            <label for="range.trend_short.magnitude.max">
                {{ magnitude.max.label }}:
            </label>
            {{ magnitude.max(class='form-control',
                    placeholder="valoare maximă") }}
          </div>
        </div>
      </div>

      <div class="form-group">
        {%- set trend_long = form.range.trend_long %}
        <label for="range.trend_long.trend">
          {{ trend_long.label }}
        </label>

        {{ errors(trend_long) }}

        <div class="row">
          <div class="col-sm-2 {{- error_cls(trend_long.trend) }}">
            <label for="range.trend_long.trend">
                {{ trend_long.trend.label }}:
            </label>
            {{ trend_long.trend(class='form-control') }}
          </div>

          <div class="col-sm-2 {{- error_cls(trend_long.period.start) }}">
            <label for="range.trend_long.period.start">
                {{ trend_long.period.start.label }}:
            </label>
            {{ trend_long.period.start(class='form-control',
                    placeholder="an de început") }}
          </div>

          <div class="col-sm-2 {{- error_cls(trend_long.period.end) }}">
            <label for="range.trend_long.period.end">
                {{ trend_long.period.end.label }}:
            </label>
            {{ trend_long.period.end(class='form-control',
                    placeholder="an de sfârșit") }}
          </div>
        </div>
        <br/>
        {% set magnitude = form.range.trend_long.magnitude %}
        <label> {{ magnitude.label }}</label>

        {{ errors(magnitude) }}

        <div class="row">
          <div class="col-sm-2 {{- error_cls(magnitude) }}">
            <p><small><em>* Dacă este o cifra exactă, se completează aceeași valoare în
            ambele capete de interval.</em></small></p>
          </div>
          <div class="col-sm-2 {{- error_cls(magnitude.min) }}">
            <label for="range.trend_long.magnitude.min">
                {{ magnitude.min.label }}:
            </label>
            {{ magnitude.min(class='form-control',
                    placeholder="valoare minimă") }}
          </div>

          <div class="col-sm-2 {{- error_cls(magnitude.max) }}">
            <label for="range.trend_long.magnitude.max">
                {{ magnitude.max.label }}:
            </label>
            {{ magnitude.max(class='form-control',
                    placeholder="valoare maximă") }}
          </div>
        </div>
      </div>

      <div class="clearfix">
        <div class="well col-sm-6">
          <div class="form-group">
            {%- set reference_value = form.range.reference_value %}
            <label for="range.reference_value.op">
                {{ reference_value.label }}
            </label>
            <p for="range.reference_value.op">
              <em>* Doar una din următoarele trei elemente trebuie completate:</em>
            </p>

            {{ errors(reference_value) }}

            <div class="row">
              <div class="col-sm-5 {{- error_cls(reference_value.number) }}">
                <label for="range.reference_value.number">
                    {{ reference_value.number.label }}:
                </label>
                {{ reference_value.number(class='form-control',
                    placeholder="suprafața exprimatǎ în km²") }}
              </div>

              <div class="col-sm-4 {{- error_cls(reference_value.op) }}">
                <label for="range.reference_value.op">
                    {{ reference_value.op.label }}:
                </label>
                {{ reference_value.op(class='form-control') }}
              </div>

              <div class="col-sm-3 {{- error_cls(reference_value.x) }}">
                <label for="range.reference_value.x">
                    {{ reference_value.x.label }}:
                </label>
                <div class="field-inline">
                    {{ reference_value.x(class='form-control') }}
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="range.reference_value.method">
                {{ reference_value.method.label }}:
            </label>

            {{ errors(reference_value.method) }}

            <div class="{{- error_cls(reference_value.method) }}">
              {{ reference_value.method(class='form-control', rows=2) }}
            </div>
          </div>

        </div>
      </div>

      <div class="form-group">
        {%- set reason = form.range.reason %}
        <label for="range.reason.a">
            {{ reason.label }}:
        </label>
        <p for="range.reason.a">
          <em>* Dacă există, justificați diferența între valoarea Suprafeței din
            raportarea precedentă și valoarea curentă
          </em>
        </p>

        {{ errors(reason) }}

        <div class="field-inline">
          {{ reason.a(class='form-control') }}
          {{ LU_REASONS_FOR_CHANGE['a'] }} <br>

          {{ reason.b(class='form-control') }}
          {{ LU_REASONS_FOR_CHANGE['b'] }} <br>

          {{ reason.c(class='form-control') }}
          {{ LU_REASONS_FOR_CHANGE['c'] }} <br>
        </div>
      </div>

      <div class="clearfix">
        <div class="well">
          <div class="form-group">
            {%- set conclusion = form.range.conclusion %}
            <label for="conclusion.value">
              {{ conclusion.label }}
            </label>

            {{ errors(conclusion) }}

            <div class="row">
              <div class="col-md-12">
                  <p><small><em>* Daca concluzia este nevaforabilă se recomandă
                  folosirea unei tendințe.</em></small></p>
              </div>
              <div class="col-sm-3 {{- error_cls(conclusion.value) }}">
                <label for="range.conclusion.value">
                    {{ conclusion.value.label }}:
                </label>
                {{ conclusion.value(class='form-control semaphore') }}
              </div>

              <div class="col-sm-3 {{- error_cls(conclusion.trend) }}">
                <label for="range.conclusion.trend">
                    {{ conclusion.trend.label }}:
                </label>
                {{ conclusion.trend(class='form-control') }}
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
