{% extends "layout.html" %}

{% from 'common/td.html' import conclusions_html %}

{% block title %}Agregare &mdash; {{ super() }}{% endblock title %}


{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('agregare', home_url),
          ('agregare temporară', None),
      ]) }}
{% endblock breadcrumbs %}


{% block content %}
  <h2>Agregare temporară pentru {{ dataset.comment }}</h2>
  <p class="lead">Data: {{ dataset.date }}, Utilizator: {{ dataset.user_id }}</p>

  <h4>Regiuni</h4>
  <table class="table">
    <tbody>
    {% for record in dataset.species_objs.all() + dataset.habitat_objs.all() %}
    {%- set url = record_edit_url(record) %}
    <tr>
      <td><a href="{{ url }}">{{ record.lu.name_ro }}</a></td>

      <td>
        {% if record.is_missing() %}
        date lipsă
        {% else %}
        {{ conclusions_html(record.conclusion_assessment) }}
        {% endif %}
      </td>
    {% endfor %}
    </tbody>
  </table>

  {% if admin_permission.can() %}
  <div class="button-group">
    <a class="btn btn-default" href="{{ url_for('.redo', dataset_id=dataset.id) }}">Refă agregarea</a>
    <a class="btn btn-default pull-right" href="{{ url_for('.export', dataset_id=dataset.id, page=page) }}">
      <i class="icon-download"></i> Descarcă xml
    </a>
  </div>
  {% endif %}

{% endblock content %}
