{% extends "layout.html" %}


{% block title %}Agregare &mdash; {{ super() }}{% endblock title %}


{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('agregare', home_url),
          ('agregare specie/habitat', None),
      ]) }}
{% endblock breadcrumbs %}


{% block content %}
  <h2>Agregare specie/habitat</h2>

    {% if report is none %}
    <p>Făcând click pe butonul agregare, se va încerca agregarea speciei sau
      habitatului selectat.
    </p>

    <p>Interval curent de raportare: {{ current_checklist.year_start }} - {{ current_checklist.year_end }}.</p>

    <form method="post">
      {{ form.subject(class='form-control') }}

      <button type="submit" class="btn btn-warning">Execută agregarea</button>
    </form>

    {% else %}
    <p>
      Date agregate:
      {%- set url = url_for('.dashboard', dataset_id=dataset.id) %}
      <a href="{{ url }}">{{ dataset.date }}</a>
    </p>

    <p>Raport:</p>

    <pre>{{ report }}</pre>

    {% endif %}
{% endblock content %}
