{% extends "layout.html" %}


{% block title %}Agregare &mdash; {{ super() }}{% endblock title %}


{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('agregare', home_url),
          ('agregare specie/habitat', None),
      ]) }}
{% endblock breadcrumbs %}


{% block content %}
  <ul class="nav nav-tabs">
    <li {% if page == 'habitat' %}class="active"{% endif %}>
      <a href="{{ url_for(endpoint, page='habitat') }}">Habitate</a></li>
    <li {% if page == 'species' %}class="active"{% endif %}>
      <a href="{{ url_for(endpoint, page='species') }}">Specii</a></li>
  </ul>
  <h2>{% block contenttitle %}Agregare temporară{% endblock %}</h2>

  {% if report is none %}
    <p class="text-warning">Lista de verificare: {{ current_checklist }}</p>
    <p>Interval curent de raportare: {{ current_checklist.year_start }}
      - {{ current_checklist.year_end }}.</p>

    {% block contenttext %}
    <p>Făcând click pe butonul agregare, se va încerca agregarea speciei sau
      habitatului selectat.
    </p>
    {% endblock %}

    <form method="post">
      {{ form.subject(class='form-control') }}

      <button type="submit" class="btn btn-warning">{% block contentaction %}Execută agregarea{% endblock %}</button>
    </form>

    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <h3>Valori de referință</h3>

        <div id="refvals">
        </div>
      </div>
    </div>
  {% else %}
    <p>
      Date agregate:
      {%- set url = url_for('.dashboard', dataset_id=dataset.id) %}
      <a href="{{ url }}">{{ dataset.date }}</a>
    </p>

    <p>Raport:</p>

    <pre>{{ report }}</pre>

  {% endif %}
{% endblock content %}

{% block script %}
  {{ super() }}
  <script>
    $(function () {
      // set on change
      $('#subject').on('change', function () {
        var subject = $(this).val();
        var url = '{{ url_for('.refvals', page=page) }}?subject=' + subject;

        $.ajax({
          url: url,
          method: 'GET',
          success: function (data) {
            $('#refvals').html(data);
          },
          error: function (data) {
            alert('error');
          }
        });
      }).change();
    });
  </script>
{% endblock script %}
