{% extends "layout.html" %}


{% block title %}
  {%- if species %}{{ species.name }} &mdash; {% endif %}
  {{- super() }}
{%- endblock title %}


{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('home', url_for('views.home')),
          ('specii', next_url or url_for('.index')),
          ('comentariu', None),
      ]) }}
{% endblock breadcrumbs %}


{% block content %}
  <h1>
    Comentariu pentru
    {{ habitat.lu.hd_name }}
    ({{ record.region }})
  </h1>

  <form method="post">
    <div class="table-responsive">
      <table class="table table-bordered recorddetail-table">
        <tr>
          <th>Suprafață (km<sup>2</sup>)</th>
          <td>{{ record.range.surface_area }}</td>
          <td><input name="range-surface-area"></td>
        </tr>
      </table>
    </div>

    {%- if next_url %}
      <input type="hidden" name="next" value="{{ next_url }}">
    {%- endif %}

    <button type="submit" class="recordcomment-save">Save</button>
  </form>
{% endblock content %}
