{% extends "layout.html" %}


{% block title %}
  {%- if species %}{{ species.name }} &mdash; {% endif %}
  {{- super() }}
{%- endblock title %}


{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('acasǎ', url_for('views.home')),
          ('habitat', next_url or url_for('.index')),
          ('comentariu', None),
      ]) }}
{% endblock breadcrumbs %}


{% block content %}

  <h2>
    Adaugǎ comentariu pentru
    <em>{{ habitat.lu.name_ro }}</em> in regiunea
    <em>{{ record.region }}</em>
  </h2>

  <form method="post">
    {%- if not config.TESTING %}
    <p class="comment-info">
      Toate câmpurile sunt opționale.
      Aceste câmpuri și valorile lor sunt conforme cu
      <a href="{{ url_for('views.guide') }}" target="_blank">
        ghidul de raportare</a>
      al Comisiei Europene.
    </p>
    {%- endif %}

    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#comment-range" data-toggle="tab">Proporția</a>
      </li>
      <li>
        <a href="#comment-area" data-toggle="tab">Suprafața</a>
      </li>
      <li>
        <a href="#comment-conclusion" data-toggle="tab">Concluzii</a>
      </li>
    </ul>

    <div class="tab-content">
      {% include "habitat/comment/range.html" with context %}
      {% include "habitat/comment/area.html" with context %}
      {% include "habitat/comment/conclusion.html" with context %}
    </div>

    {%- if next_url %}
      <input type="hidden" name="next" value="{{ next_url }}">
    {%- endif %}

    <button type="submit" class="btn btn-primary">Salveazǎ schimbǎrile</button>

  </form>
{% endblock content %}
