{% extends "layout.html" %}
{% from 'common/comment_bits.html' import error_cls, errors %}


{% block title %}
  {%- if species %}{{ species.name }} &mdash; {% endif %}
  {{- super() }}
{%- endblock title %}


{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('home', url_for('views.home')),
          ('habitat', next_url or url_for('.index')),
          ('comentariu', None),
      ]) }}
{% endblock breadcrumbs %}


{% block content %}
{%- from 'common/td.html' import
    range_html, trend_detail_html, reference_value_html, period_html,
    method_html, conclusions_html
    with context %}

  <h1>
    Comentariu pentru
    {{ habitat.lu.name_ro }}
    ({{ record.region }})
  </h1>

  <form method="post">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Proporția</h3>
      </div>

      <div class="panel-body">
        <div class="form-group">
          <label for="range.surface_area">
            Suprafață (km²)
          </label>

          {{ errors(form.range.surface_area) }}

          <div class="row">
            <div class="col-sm-4 {{- error_cls(form.range.surface_area) }}">
              {{ form.range.surface_area(class='form-control',
                      placeholder="suprafața trebuie exprimatǎ in km²") }}
            </div>

            <div class="col-sm-2"></div>

            <div class="col-sm-6 text-primary">
              <span class="recordvalue">
                {{- range_html(record.range) -}}
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="range.method">
            Metoda utilizată - suprafața arealului
          </label>

          {{ errors(form.range.method) }}

          <div class="row">
            <div class="col-sm-6 {{- error_cls(form.range.method) }}">
              {{ form.range.method(class='form-control') }}
            </div>

            <div class="col-sm-6 text-primary">
              <span class="recordvalue">
                {{- method_html(record.range.method) -}}
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          {%- set trend_short = form.range.trend_short %}
          <label for="range.trend_short.trend">
            Tendință pe termen scurt
          </label>

          {{ errors(trend_short) }}

          <div class="row">
            <div class="col-sm-2 {{- error_cls(trend_short.trend) }}">
              {{ trend_short.trend(class='form-control') }}
            </div>

            <div class="col-sm-2 {{- error_cls(trend_short.period.start) }}">
              {{ trend_short.period.start(class='form-control',
                      placeholder="an de inceput") }}
            </div>

            <div class="col-sm-2 {{- error_cls(trend_short.period.end) }}">
              {{ trend_short.period.end(class='form-control',
                      placeholder="an de sfǎrșit") }}
            </div>

            <div class="col-sm-6 text-primary">
              <span class="recordvalue">
                {{- trend_detail_html(record.range.trend_short) }}
                {{- period_html(record.range.trend_short.period) -}}
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          {%- set trend_long = form.range.trend_long %}
          <label for="range.trend_long.trend">
            Tendință pe termen lung
          </label>

          {{ errors(trend_long) }}

          <div class="row">
            <div class="col-sm-2 {{- error_cls(trend_long.trend) }}">
              {{ trend_long.trend(class='form-control') }}
            </div>

            <div class="col-sm-2 {{- error_cls(trend_long.period.start) }}">
              {{ trend_long.period.start(class='form-control',
                      placeholder="an de inceput") }}
            </div>

            <div class="col-sm-2 {{- error_cls(trend_long.period.end) }}">
              {{ trend_long.period.end(class='form-control',
                      placeholder="an de sfǎrșit") }}
            </div>

            <div class="col-sm-6 text-primary">
              <span class="recordvalue">
                {{- trend_detail_html(record.range.trend_long) }}
                {{- period_html(record.range.trend_long.period) -}}
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          {%- set reference_value = form.range.reference_value %}
          <label for="range.reference_value.op">
            Arealul favorabil de referință
          </label>

          {{ errors(reference_value) }}

          <div class="row">
            <div class="col-sm-2 {{- error_cls(reference_value.op) }}">
              {{ reference_value.op(class='form-control') }}
            </div>

            <div class="col-sm-4 {{- error_cls(reference_value.number) }}">
              {{ reference_value.number(class='form-control',
                      placeholder="suprafața trebuie exprimatǎ in km²") }}
            </div>

            <div class="col-sm-6 text-primary">
              <span class="recordvalue">
                {{- reference_value_html(record.range.reference_value,
                        unit='km²') -}}
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="range.reference_value.method">
            Arealul favorabil de referință - Metoda
          </label>

          {{ errors(form.range.reference_value.method) }}

          <div class="row">
            <div class="col-sm-6 {{- error_cls(form.range.reference_value.method) }}">
              {{ form.range.reference_value.method(class='form-control', rows=2) }}
            </div>

            <div class="col-sm-6 text-primary">
              <span class="recordvalue">
                {{- record.range.reference_value.method -}}
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          {%- set conclusion = form.range.conclusion %}
          <label for="range.conclusion.value">
            Concluzie
          </label>

          {{ errors(conclusion) }}

          <div class="row">
            <div class="col-sm-3 {{- error_cls(conclusion.value) }}">
              {{ conclusion.value(class='form-control') }}
            </div>

            <div class="col-sm-3 {{- error_cls(conclusion.trend) }}">
              {{ conclusion.trend(class='form-control') }}
            </div>

            <div class="col-sm-6 text-primary">
              <span class="recordvalue">
                {{- conclusions_html(record.range.conclusion) -}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Suprafața</h3>
      </div>

      <div class="panel-body">

        <div class="form-group">
          <label for="coverage.surface_area">
            Suprafață (km²)
          </label>

          {{ errors(form.coverage.surface_area) }}

          <div class="row">
            <div class="col-sm-4 {{- error_cls(form.coverage.surface_area) }}">
              {{ form.coverage.surface_area(class='form-control',
                      placeholder="suprafața trebuie exprimatǎ in km²") }}
            </div>

            <div class="col-sm-2"></div>

            <div class="col-sm-6 text-primary">
              <span class="recordvalue">
                {{- range_html(record.coverage) -}}
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="coverage.date">
            Anul/perioada
          </label>

          {{ errors(form.coverage.date) }}

          <div class="row">
            <div class="col-sm-4 {{- error_cls(form.coverage.date) }}">
              {{ form.coverage.date(class='form-control',
                      placeholder="an sau perioadǎ") }}
            </div>

            <div class="col-sm-2"></div>

            <div class="col-sm-6 text-primary">
              <span class="recordvalue">
                {{- record.coverage.date -}}
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="coverage.method">
            Metoda utilizată
          </label>

          {{ errors(form.coverage.method) }}

          <div class="row">
            <div class="col-sm-6 {{- error_cls(form.coverage.method) }}">
              {{ form.coverage.method(class='form-control') }}
            </div>

            <div class="col-sm-6 text-primary">
              <span class="recordvalue">
                {{- method_html(record.coverage.method) -}}
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          {%- set trend_short = form.coverage.trend_short %}
          <label for="coverage.trend_short.trend">
            Tendință pe termen scurt
          </label>

          {{ errors(trend_short) }}

          <div class="row">
            <div class="col-sm-2 {{- error_cls(trend_short.trend) }}">
              {{ trend_short.trend(class='form-control') }}
            </div>

            <div class="col-sm-2 {{- error_cls(trend_short.period.start) }}">
              {{ trend_short.period.start(class='form-control',
                      placeholder="an de început") }}
            </div>

            <div class="col-sm-2 {{- error_cls(trend_short.period.end) }}">
              {{ trend_short.period.end(class='form-control',
                      placeholder="an de sfǎrșit") }}
            </div>

            <div class="col-sm-6 text-primary">
              <span class="recordvalue">
                {{- trend_detail_html(record.coverage.trend_short) }}
                {{- period_html(record.coverage.trend_short.period) -}}
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          {%- set trend_long = form.coverage.trend_long %}
          <label for="coverage.trend_long.trend">
            Tendință pe termen lung
          </label>

          {{ errors(trend_long) }}

          <div class="row">
            <div class="col-sm-2 {{- error_cls(trend_long.trend) }}">
              {{ trend_long.trend(class='form-control') }}
            </div>

            <div class="col-sm-2 {{- error_cls(trend_long.period.start) }}">
              {{ trend_long.period.start(class='form-control',
                      placeholder="an de început") }}
            </div>

            <div class="col-sm-2 {{- error_cls(trend_long.period.end) }}">
              {{ trend_long.period.end(class='form-control',
                      placeholder="an de sfǎrșit") }}
            </div>

            <div class="col-sm-6 text-primary">
              <span class="recordvalue">
                {{- trend_detail_html(record.coverage.trend_long) }}
                {{- period_html(record.coverage.trend_long.period) -}}
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          {%- set reference_value = form.coverage.reference_value %}
          <label for="coverage.reference_value.op">
            Arealul favorabil de referință
          </label>

          {{ errors(reference_value) }}

          <div class="row">
            <div class="col-sm-2 {{- error_cls(reference_value.op) }}">
              {{ reference_value.op(class='form-control') }}
            </div>

            <div class="col-sm-4 {{- error_cls(reference_value.number) }}">
              {{ reference_value.number(class='form-control',
                      placeholder="suprafața trebuie exprimatǎ in km²") }}
            </div>

            <div class="col-sm-6 text-primary">
              <span class="recordvalue">
                {{- reference_value_html(record.coverage.reference_value,
                        unit='km²') -}}
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="coverage.reference_value.method">
            Arealul favorabil de referință - Metoda
          </label>

          {{ errors(form.coverage.reference_value.method) }}

          <div class="row">
            <div class="col-sm-6 {{- error_cls(form.coverage.reference_value.method) }}">
              {{ form.coverage.reference_value.method(class='form-control', rows=2) }}
            </div>

            <div class="col-sm-6 text-primary">
              <span class="recordvalue">
                {{- record.coverage.reference_value.method -}}
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          {%- set conclusion = form.coverage.conclusion %}
          <label for="coverage.conclusion.value">
            Concluzie
          </label>

          {{ errors(conclusion) }}

          <div class="row">
            <div class="col-sm-3 {{- error_cls(conclusion.value) }}">
              {{ conclusion.value(class='form-control') }}
            </div>

            <div class="col-sm-3 {{- error_cls(conclusion.trend) }}">
              {{ conclusion.trend(class='form-control') }}
            </div>

            <div class="col-sm-6 text-primary">
              <span class="recordvalue">
                {{- conclusions_html(record.coverage.conclusion) -}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Concluzii</h3>
      </div>

      <div class="panel-body">

        <div class="form-group">
          {%- set structure = form.structure %}
          <label for="structure.value">
            Structura și funcțiile specifice
          </label>

          {{ errors(structure) }}

          <div class="row">
            <div class="col-sm-3 {{- error_cls(structure.value) }}">
              {{ structure.value(class='form-control') }}
            </div>

            <div class="col-sm-3 {{- error_cls(structure.trend) }}">
              {{ structure.trend(class='form-control') }}
            </div>

            <div class="col-sm-6 text-primary">
              <span class="recordvalue">
                {{- conclusions_html(record.structure) -}}
              </span>
            </div>
          </div>

          <div class="form-group">
            {%- set future_prospects = form.future_prospects %}
            <label for="future_prospects.value">
              Perspective viitoare
            </label>

            {{ errors(future_prospects) }}

            <div class="row">
              <div class="col-sm-3 {{- error_cls(future_prospects.value) }}">
                {{ future_prospects.value(class='form-control') }}
              </div>

              <div class="col-sm-3 {{- error_cls(future_prospects.trend) }}">
                {{ future_prospects.trend(class='form-control') }}
              </div>

              <div class="col-sm-6 text-primary">
                <span class="recordvalue">
                  {{- conclusions_html(record.future_prospects) -}}
                </span>
              </div>
            </div>

          <div class="form-group">
            {%- set overall_assessment = form.overall_assessment %}
            <label for="overall_assessment.value">
              Evaluare generală a stării de conservare
            </label>

            {{ errors(overall_assessment) }}

            <div class="row">
              <div class="col-sm-3 {{- error_cls(overall_assessment.value) }}">
                {{ overall_assessment.value(class='form-control') }}
              </div>

              <div class="col-sm-3 {{- error_cls(overall_assessment.trend) }}">
                {{ overall_assessment.trend(class='form-control') }}
              </div>

              <div class="col-sm-6 text-primary">
                <span class="recordvalue">
                  {{- conclusions_html(record.overall_assessment) -}}
                </span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

    {%- if next_url %}
      <input type="hidden" name="next" value="{{ next_url }}">
    {%- endif %}

    <button type="submit" class="recordcomment-save">Save</button>
  </form>
{% endblock content %}
