{% if template_base %}
    {% extends template_base %}
{% endif %}

{% block content %}
{%- import 'common/td.html' as macros with context %}
<h1>
  {{ subject.lu.code }}
  {{ subject.lu.display_name }}
  ({{ record.region }})
</h1>

{% if record.model.cons_generalstatus == '1' %}
<ul class="nav nav-tabs">
  <li class="active">
    <a href="#recorddetail-range" data-toggle="tab">Arealul</a></li>
  <li><a href="#recorddetail-area" data-toggle="tab">Distribuția</a></li>
  <li><a href="#recorddetail-pressures" data-toggle="tab">Presiuni</a></li>
  <li><a href="#recorddetail-threats" data-toggle="tab">Amenințǎri</a></li>
  <li><a href="#recorddetail-species" data-toggle="tab">Specii tipice</a></li>
  <li><a href="#recorddetail-natura2000" data-toggle="tab">Natura 2000</a></li>
  <li><a href="#recorddetail-measures" data-toggle="tab">Măsuri de conservare</a></li>
  <li><a href="#recorddetail-conclusions" data-toggle="tab">Concluzii</a></li>
  <li><a href="#recorddetail-sources" data-toggle="tab">Surse publicate</a></li>
</ul>


<div class="tab-content">

  {% include "habitat/detail/range.html" with context %}

  {% include "habitat/detail/area.html" with context %}

  {% include "habitat/detail/pressures.html" with context %}

  {% include "habitat/detail/threats.html" with context %}

  {% include "habitat/detail/species.html" with context %}

  {% include "habitat/detail/natura2000.html" with context %}

  {% include "habitat/detail/measures.html" with context %}

  {% include "habitat/detail/conclusion.html" with context %}

  {% include "habitat/detail/sources.html" with context %}

</div>

{% else %}

  <br>
  <p>Prezența: <strong>{{ record.model.generalstatus.name_ro }}</strong></p>

{% endif %}
{% endblock %}
