<div class="tab-pane" id="recorddetail-threats">
  <div class="table-responsive">
    <table class="table table-bordered recorddetail-table table-vertical">
      <tr>
        <th>Amenințare</th>
        <th>Clasificare</th>
        <th>Calificativ de poluare</th>
      </tr>
      {%- for threat in threats %}
        <tr>
          <td>
            {{ threat.lu.code }} -
            {{ threat.lu.name }}
          </td>
          <td title="{{ threat.lu_ranking.name }}">
            {{ threat.lu_ranking.code }}
          </td>
          <td>
            {% for pol in threat.pollutions %}
              <span title="{{ pol.lu.name }}">
                {{ pol.lu.code }}
              </span>
            {% endfor %}
          </td>
        </tr>
      {%- endfor %}
    </table>

    <table class="table table-bordered recorddetail-table">
      <tr>
        <th>Metoda utilizată</th>
        <td>{{ macros.method_threats_html(record.threats_method)}}</td>
      </tr>
    </table>
  </div>
</div>
