{% extends "common/indexpage.html" %}


{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('home', url_for('views.home')),
          ('habitate', None),
      ]) }}
{% endblock breadcrumbs %}


{% block form %}
  <form class="habitatfilter">
    <fieldset>
      <legend>Filtrare habitate</legend>

      <div class="form-group">
        <label for="habitatfilter-group">Habitat</label>
        <input name="habitat" value="{{ current_subject_code or '' }}"
               type="hidden" id="habitatfilter-group">
      </div>

      <div class="form-group">
        <label for="habitatfilter-region">Regiune</label>
        <input name="region" value="{{ current_region_code }}"
               type="hidden" id="habitatfilter-region">
      </div>

      <div class="form-group">
        <button type="submit">filtrează</button>
      </div>
    </fieldset>
  </form>
{% endblock form %}


{% block subject_details %}
  <p>
    <strong>{{ name }}</strong>,
    cod: {{ code }}
  </p>
{% endblock subject_details %}


{% block script %}
  {{- super() }}

  <script>
    (function() {
      "use strict";

      var habitatfilter = $('.habitatfilter');
      var subject_list = {{ subject_list|tojson|safe }};

      var habitat_select = habitatfilter.find('[name=habitat]').select2({
        data: subject_list,
        width: '40em'
      });

      App.region_select = new App.AjaxSelect({
        el: habitatfilter.find('[name=region]'),
        get_data_url: function() {
           var habitat_code = habitat_select.val();
           return habitat_code ? 'regiuni/' + habitat_code : null;
        },
        width: '15em'
      });

      habitat_select.change(function() {
        App.region_select.update();
      });

    })();
  </script>
{% endblock script %}
