{% extends "layout.html" %}


{% block content %}
  <form class="habitatfilter">
    <fieldset>
      <legend>Filtrare habitate</legend>

      <div class="form-group">
        <label for="habitatfilter-group">Habitat</label>
        <input name="habitat" value="{{ current_habitat_code }}"
               type="hidden" id="habitatfilter-group">
      </div>

      <div class="form-group">
        <button type="submit">filtrează</button>
      </div>
    </fieldset>
  </form>

 {% if habitat %}
  <p>
    <strong>{{ habitat.name }}</strong>,
    cod: {{ habitat.code }}
  </p>

  {%- include 'habitat/records.html' with context %}
 {% endif %}
{% endblock content %}


{% block script %}
  {%- from 'bits.html' import script %}
  {{ super() }}
  {{ script('modal.js') }}
  {{ script('comments.js') }}

  <script>
    (function() {
      "use strict";

      var habitatfilter = $('.habitatfilter');
      var habitat_list = {{ habitat_list|tojson|safe }};

      habitatfilter.find('[name=habitat]').select2({
        data: habitat_list,
        width: '40em'
      });
    })();
  </script>
{% endblock script %}
