{% extends "layout.html" %}


{% block title %}
{%- if habitat %}{{ habitat.name }} &mdash; {% endif %}
{{- super() }}
{%- endblock title %}


{% block content %}
  <form class="habitatfilter">
    <fieldset>
      <legend>Filtrare habitate</legend>

      <div class="form-group">
        <label for="habitatfilter-group">Habitat</label>
        <input name="habitat" value="{{ current_habitat_code or '' }}"
               type="hidden" id="habitatfilter-group">
      </div>

      <div class="form-group">
        <label for="habitatfilter-region">Regiune</label>
        <input name="region" value="{{ current_region_code }}"
               type="hidden" id="habitatfilter-region">
      </div>

      <div class="form-group">
        <button type="submit">filtrează</button>
      </div>
    </fieldset>
  </form>

 {% if habitat %}
  <p>
    <strong>{{ habitat.name }}</strong>,
    cod: {{ habitat.code }}
  </p>

  {%- include 'habitat/records.html' with context %}
 {% endif %}
{% endblock content %}


{% block script %}
  {%- from 'bits.html' import script %}
  {{ super() }}
  {{ script('recordfilter.js') }}
  {{ script('detail.js') }}

  <script>
    (function() {
      "use strict";

      var habitatfilter = $('.habitatfilter');
      var habitat_list = {{ habitat_list|tojson|safe }};

      var habitat_select = habitatfilter.find('[name=habitat]').select2({
        data: habitat_list,
        width: '40em'
      });

      App.region_select = new App.AjaxSelect({
        el: habitatfilter.find('[name=region]'),
        get_data_url: function() {
           var habitat_code = habitat_select.val();
           return habitat_code ? 'regiuni/' + habitat_code : null;
        },
        width: '15em'
      });

      habitat_select.change(function() {
        App.region_select.update();
      });
    })();
  </script>
{% endblock script %}
