{%- from 'common/td.html'
    import conclusion_td, reference_value_td, trend_td, conclusion_td_input
    with context %}


{% macro record_cells(row) %}
  {#- bio-regiune #}
  <td>{{ row.region }}</td>

  {#- range #}
  {%- set range = row.range %}
  <td>{{ range.surface_area }}</td>
  {{ conclusion_td(range.conclusion) }}
  {{ trend_td(range.trend_short) }}
  {{ reference_value_td(range.reference_value) }}

  {#- area #}
  {%- set area = row.area %}
  <td>{{ area.surface_area }}</td>
  {{ conclusion_td(area.conclusion) }}
  {{ trend_td(area.trend_short) }}
  {{ reference_value_td(area.reference_value) }}

  {#- structure #}
  {{ conclusion_td(row.structure) }}

  {#- future prospects #}
  {{ conclusion_td(row.future_prospects) }}

  {#- overall assessment #}
  {{ conclusion_td(row.overall_assessment) }}
{%- endmacro %}

{%- set comment_next = url_for('.index', habitat=current_habitat_code,
                                         region=current_region_code) %}

<table class="records">
  <tr class="records-header">
    <td rowspan=2></td>
    <td rowspan=2 title="Regiunea biogeografică">Regiune</td>
    <td colspan=4>Proporția habitatului din regiunea biogeografică</td>
    <td colspan=4>Suprafața acoperită de habitat (km²)</td>
    <td rowspan=2>Structura și <br /> funcțiile specifice</td>
    <td rowspan=2
        title="Perspective viitoare"
        >Perspective</td>
    <td rowspan=2
        title="Evaluare generală a stării de conservare"
        >Evaluare generală</td>
    <td rowspan=2 colspan=2></td>  {#- comment (author, etc) #}
  </tr>

  <tr class="records-header">
    {#- detail #}
    {#- bio-regiune #}

    {#- range #}
    <td>Suprafață</td>
    <td>Concluzie</td>
    <td>Tendință</td>
    <td title="Arealul favorabil de referință">Referință</td>

    {#- area #}
    <td>Suprafață</td>
    <td>Concluzie</td>
    <td>Tendință</td>
    <td>Referință</td>

    {#- structure #}
    {#- future prospects #}
    {#- overall assessment #}
  </tr>

 {% for row in habitat.records %}
  <tr>
    {#- detail #}
    <td>
      {%- set url = url_for('.detail', record_id=row.id) %}
      <button class="records-detailbtn" data-url="{{ url }}">info</button>

      {%- set url = url_for('.comment', record_id=row.id, next=comment_next) %}
      <a class="records-commentbtn" href="{{ url }}">comentariu</a>
    </td>

    {{ record_cells(row) }}

    <td colspan=2></td>  {#- comment (author, etc) #}
  </tr>
 {% endfor %}

  <tr class="records-header">
    <td colspan="15">Comentarii</td>
  </tr>

 {% for row in habitat.comments %}
  <tr>
    {#- detail #}
    <td></td>

    {{ record_cells(row) }}

    <td>{{ row.comment.user_id }}</td>  {#- comment author, etc #}
    <td>
      {%- if row.comment.can_edit %}
        {%- set url = url_for('.comment_edit', comment_id=row.id,
                                               next=comment_next) %}
        <a href="{{ url }}" class="records-editcommentbtn">edit</a>
      {%- endif %}
    </td>
  </tr>
 {% endfor %}
</table>


{% include 'common/recorddetail.html' %}
