{%- from 'common/td.html'
    import conclusion_td, reference_value_td, trend_td, conclusion_td_input
    with context %}


{% macro assessment_header() %}
  <tr class="records-header">
    <th rowspan=2></th>
    <th colspan=5
        title="Proporția habitatului din regiunea biogeografică">Areal</th>
    <th colspan=5
        title="Suprafața acoperită de habitat (km²)">Suprafața (km²)</th>
    <th rowspan=2
        title="Structura și funcțiile specifice">Struct.<br>și func.</th>
    <th rowspan=2
        title="Perspective viitoare"
        >Perspective</th>
    <th rowspan=2
        title="Evaluare generală a stării de conservare"
        >Evaluare<br>generală</th>
    <th rowspan=2 colspan=4></th>  {#- conclusion (author, etc) #}
  </tr>

  <tr class="records-header">
    {#- detail #}
    {#- bio-regiune #}

    {#- range #}
    <th title="Suprafața">Supr.</th>
    <th title="Metoda folositǎ">Met.</th>
    <th title="Tendința areal pe termen scurt">Tend.<br>t.scurt</th>
    <th title="Arealul favorabil de referință">Ref.</th>
    <th title="Concluzie">Concl.</th>

    {#- coverage #}
    <th title="Suprafața">Supr.</th>
    <th title="Metoda folositǎ">Met.</th>
    <th title="Tendința suprafața pe termen scurt">Tend.<br>t.scurt</th>
    <th title="Suprafața de referință favorabilǎ">Ref.</th>
    <th title="Concluzie">Concl.</th>

    {#- structure #}
    {#- future prospects #}
    {#- overall assessment #}
  </tr>
{%- endmacro %}


{% macro comments_header() %}
  <tr class="records-header">
    <th colspan=18>Comentarii</th>
  </tr>
{%- endmacro %}


{% macro record(row) %}
  {#- range #}
  {%- set range = row.range %}
  <td>{{ range.surface_area }}</td>
  <td class="method">{{ range.method }}</td>
  {{ trend_td(range.trend_short) }}
  {{ reference_value_td(range.reference_value) }}
  {{ conclusion_td(range.conclusion) }}

  {#- coverage #}
  {%- set coverage = row.coverage %}
  <td>{{ coverage.surface_area }}</td>
  <td class="method">{{ coverage.method }}</td>
  {{ trend_td(coverage.trend_short) }}
  {{ reference_value_td(coverage.reference_value) }}
  {{ conclusion_td(coverage.conclusion) }}

  {#- structure #}
  {{ conclusion_td(row.structure) }}

  {#- future prospects #}
  {{ conclusion_td(row.future_prospects) }}

  {#- overall assessment #}
  {{ conclusion_td(row.overall_assessment) }}
{%- endmacro %}
