{% extends "layout.html" %}


{% block content %}
Cod: {{ code }}<br>
Nume: {{ name }}<br>
Regiuni: {{ bio_regions }}<br>

<hr>

{% for row in records %}
<p>
  Bio-regiunea: {{ row.region }}<br>

  Range:<br>
  {% set range = row.range %}
  -- surface: {{ range.surface_area }}<br>
  -- assessment: {{ range.conclusion }}<br>
  -- trend: {{ range.trend }}<br>
  -- reference value: {{ range.reference_value }}<br>

  Area:<br>
  {% set area = row.area %}
  -- surface: {{ area.surface_area }}<br>
  -- assessment: {{ area.conclusion }}<br>
  -- trend: {{ area.trend }}<br>
  -- reference value: {{ area.reference_value }}<br>

  Structure: {{ row.structure }}<br>
  Future prospects: {{ row.future_prospects }}<br>
  Overall assessment: {{ row.overall_assessment }}<br>

</p>
{% endfor %}
{% endblock content %}
