{%- macro tabmenu(current) %}
  <ul class="nav nav-tabs">
    {% for item in get_tabmenu_data() %}
      <li {%- if item['code'] == current %} class="active" {%- endif %}>
        <a href="{{ item['url'] }}">{{ item['label'] }}</a>
      </li>
    {% endfor %}
  </ul>
{%- endmacro %}


{%- macro table(bioreg_list, subject_list, regions, comment_count) %}
  <table class="table table-bordered">
    <thead>
      <th></th>

      {% for bioreg in bioreg_list %}
        <th title="{{ bioreg.name_ro }}">{{ bioreg.code }}</th>
      {% endfor %}
    </thead>

    <tbody>
    {% for subject in subject_list %}
      <tr>
        {%- set name = subject.lu.name_ro or subject.lu.speciesname %}
        {%- set url = consultation_url(subject) %}
        <td title="{{ name }}">
          <a href="{{ url }}">{{ name|truncate(60) }}</a>
        </td>

        {% for bioreg in bioreg_list %}
          {%- set key = (subject.id, bioreg.code) %}
          {%- set available = regions[key] %}
          {%- if available %}
            {%- set count = comment_count[key] or 0 %}
            {%- set url = consultation_url(subject, bioreg=bioreg.code) %}
            <td class="dashboard-commentcount">
              <a href="{{ url }}">{{ count }}</a>
            </td>
          {%- else %}
            <td class="dashboard-missingrecord"></td>
          {%- endif %}
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{%- endmacro %}
