{%- macro table(bioreg_list, subject_list, regions, conclusion_count) %}
  <table class="table table-bordered">
    <thead>
      <th></th>

      {% for bioreg in bioreg_list %}
        <th title="{{ bioreg.name_ro }}">{{ bioreg.code }}</th>
      {% endfor %}
    </thead>

    <tbody>
    {% for subject in subject_list %}
      <tr>
        {%- set name = subject.lu.name_ro or subject.lu.speciesname %}
        <td title="{{ name }}">{{ name|truncate(60) }}</td>

        {% for bioreg in bioreg_list %}
          {%- set key = (subject.id, bioreg.code) %}
          {%- set available = regions[key] %}
          {%- if available %}
            {%- set count = conclusion_count[key] or 0 %}
            <td>{{ count }}</td>
          {%- else %}
            <td class="dashboard-missingrecord"></td>
          {%- endif %}
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{%- endmacro %}
