{% extends "layout.html" %}


{% block title %}Dashboard &mdash; {{ super() }}{% endblock title %}


{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('acasǎ', home_url),
          ('dashboard', None),
      ]) }}
{% endblock breadcrumbs %}


{% block content %}
  {%- from 'dashboard/common.html' import
        table,
        tabmenu
      with context %}
  {%- from 'consultation/common.html' import consultation_cell with context %}

  {{ tabmenu(current='H') }}

  {{ table(bioreg_list, habitat_list, consultation_cell) }}
{% endblock content %}
