{% extends "layout.html" %}


{% block title %}Dashboard &mdash; {{ super() }}{% endblock title %}


{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('acasǎ', url_for('views.home')),
          ('dashboard', None),
      ]) }}
{% endblock breadcrumbs %}


{%- macro table(subject_list, regions, conclusion_count) %}
  <table class="table table-bordered">
    <thead>
      <th></th>

      {% for bioreg in bioreg_list %}
        <th title="{{ bioreg.name_ro }}">{{ bioreg.code }}</th>
      {% endfor %}
    </thead>

    <tbody>
    {% for subject in subject_list %}
      <tr>
        {%- set name = subject.lu.name_ro or subject.lu.speciesname %}
        <td title="{{ name }}">{{ name|truncate(60) }}</td>

        {% for bioreg in bioreg_list %}
          {%- set key = (subject.id, bioreg.code) %}
          {%- set available = regions[key] %}
          {%- if available %}
            {%- set count = conclusion_count[key] or 0 %}
            <td>{{ count }}</td>
          {%- else %}
            <td class="dashboard-missingrecord"></td>
          {%- endif %}
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{%- endmacro %}


{% block content %}
  <h2>Habitate</h2>

  {{ table(habitat_list, habitat_regions, habitat_conclusion_count) }}

  {% for species_group in species_group_list %}
    <h2>{{ species_group.description }}</h2>

    {%- set species_list = species_by_group[species_group.code] %}
    {{ table(species_list, species_regions, species_conclusion_count) }}
  {% endfor %}
{% endblock content %}
