{% extends "layout.html" %}


{% block title %}Dashboard &mdash; {{ super() }}{% endblock title %}


{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('acasǎ', url_for('views.home')),
          ('dashboard', None),
      ]) }}
{% endblock breadcrumbs %}


{% block content %}
  {%- from 'dashboard/common.html' import table, tabmenu with context %}
  {{ tabmenu(current='S' + species_group.code) }}

  {{ table(
      bioreg_list,
      species_list,
      species_regions,
  ) }}
{% endblock content %}
