{% extends "layout.html" %}


{% block title %}Activitate &mdash; {{ super() }}{% endblock title %}


{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {%- set current_page_name = "%s %s (%s)"|format(
        subject.lu.code,
        subject.lu.display_name|truncate(80),
        region.name_ro,
      ) %}
  {{ breadcrumbs([
          ('acasǎ', home_url),
          ('consultare', dashboard_url),
          (current_page_name, record_index_url),
          ('istoric', None),
      ]) }}
{% endblock breadcrumbs %}


{% set CLASS_FOR_ACTION = {'add': 'success',
                           'edit': 'warning',
                           'remove': 'danger',
                           'status': 'warning'} %}


{% block content %}
  <h3>
    {{ subject.lu.display_name }}
    ({{ region.name_ro }})
  <small> - Istoric</small>
 </h3>

  <table class="table table-hover table-condensed">
    <thead>
      <th>dată</th>
      <th>acțiune</th>
      <th>user_id</th>
    </thead>

    <tbody>
    {%- for item in history_items %}
      <tr class="{{ CLASS_FOR_ACTION[item.action] }} history_row">
        {%- set date = item.date|local_date('long') %}
        {%- set url = url_for('.delta', item_id=item.id) %}
        <td><a href="{{ url }}">{{ date }}</a></td>
        <td>{{ item.action }}</td>
        <td>{{ item.user_id }}</td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>
{% endblock content %}
