<div class="tab-pane" id="recorddetail-measures">

  <div class="table-responsive">
    <table class="table table-bordered recorddetail-table data-centered">
      <tr>
        <th rowspan="2" style="width: 200px !important;">Mǎsurǎ</th>
        <th colspan="5">Tip</th>
        <th rowspan="2" title="Importanțǎ" style="width: 20px;">Imp.</th>
        <th colspan="3">Locație</th>
        <th colspan="6">Evaluare</th>
      </tr>

      <tr class="sub-header">
        <td title="Legal">Leg.</td>
        <td title="Administrativ">Adm.</td>
        <td title="Contractual">Contr.</td>
        <td title="Recurent">Rec.</td>
        <td title="Unic (one-off)">Unic</td>

        <td title="În interiorul sitului">In.</td>
        <td title="În afara sitului">Out.</td>
        <td title="În interiorul și în afara sitului">Ambele</td>

        <td title="Menținere">Men.</td>
        <td title="Îmbunǎtǎțire">Imb.</td>
        <td title="Termen lung">T. lung</td>
        <td title="Fǎrǎ efect">F ef.</td>
        <td title="Necunoscut">Nec.</td>
        <td title="Neevaluat">Neval.</td>
      </tr>

      {% for measure in measures %}
        <tr>
          <td style="text-align: left; white-space: normal;">
            {{- measure.lu.code }} - {{ measure.lu.name_ro -}}
          </td>

          <td>{{ macros.measure_icon(measure.type_legal) }}</td>
          <td>{{ macros.measure_icon(measure.type_administrative) }}</td>
          <td>{{ macros.measure_icon(measure.type_contractual) }}</td>
          <td>{{ macros.measure_icon(measure.type_recurrent) }}</td>
          <td>{{ macros.measure_icon(measure.type_oneoff) }}</td>

          <td title="{{ measure.lu_ranking.name_ro }}">
            {{ measure.lu_ranking.code }}
          </td>

          <td>{{ macros.measure_icon(measure.location_inside) }}</td>
          <td>{{ macros.measure_icon(measure.location_outside) }}</td>
          <td>{{ macros.measure_icon(measure.location_both) }}</td>

          <td>{{ macros.measure_icon(measure.broad_evaluation_maintain) }}</td>
          <td>{{ macros.measure_icon(measure.broad_evaluation_enhance) }}</td>
          <td>{{ macros.measure_icon(measure.broad_evaluation_longterm) }}</td>
          <td>{{ macros.measure_icon(measure.broad_evaluation_noeffect) }}</td>
          <td>{{ macros.measure_icon(measure.broad_evaluation_unknown) }}</td>
          <td>{{ macros.measure_icon(measure.broad_evaluation_notevaluated) }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
