<div class="tab-pane" id="recorddetail-pressures">
  <div class="table-responsive">
    <table class="table table-bordered recorddetail-table table-vertical">
      <tr>
        <th>Presiune</th>
        <th>Clasificare</th>
        <th>Calificativ de poluare</th>
      </tr>
      {%- for pressure in pressures %}
        <tr>
          <td>
            {{ pressure.lu.code }} -
            {{ pressure.lu.name }}
          </td>
          <td title="{{ pressure.lu_ranking.name }}">
            {{ pressure.lu_ranking.code }}
          </td>
          <td>
            {% for pol in pressure.pollutions %}
              <span title="{{ pol.lu.name }}">
                {{ pol.lu.code }}
              </span>
            {% endfor %}
          </td>
        </tr>
      {%- endfor %}
    </table>

    <table class="table table-bordered recorddetail-table">
      <tr>
        <th>Metoda utilizată</th>
        <td>{{ macros.method_pressures_html(record.pressures_method)}}</td>
      </tr>
    </table>
  </div>
</div>
