{% macro script(filename) -%}
  <script src="{{ url_for('static', filename=filename) }}"></script>
{%- endmacro %}


{% macro link(filename, rel='stylesheet') -%}
  <link rel="{{ rel }}" href="{{ url_for('static', filename=filename) }}">
{%- endmacro %}


{% macro breadcrumbs(links) %}
<ol class="breadcrumb">
{%- for label, url in links %}
  <li {%- if loop.last %} class="active" {%- endif %}>
    {%- if url -%}
      <a href="{{ url }}">{{ label }}</a>
    {%- else -%}
      {{ label }}
    {%- endif -%}
  </li>
{%- endfor %}
</ol>
{%- endmacro %}


{% macro glyphicon(name) -%}
  <span class="glyphicon glyphicon-{{ name }}"></span>
{%- endmacro %}


{% macro fonticon(name, size=None) -%}
  <i class="icon-{{ name }}"
    {%- if size %} style="font-size: {{ size }}em"
    {%- endif %}></i>
{%- endmacro %}


{% macro flash_messages() %}
  {%- for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message|nl2br }}
    </div>
  {%- endfor %}
{%- endmacro %}
