<div id="footer">
  <ul class="nav nav-pills">
  <li><a href="/">Acasă</a> </li>
  <li><a href="http://www.posmediu.ro/prezentare">Prezentare</a> </li>
  <li><a href="http://www.posmediu.ro/legislatie">Legislaţie</a> </li>
  <li><a href="http://www.posmediu.ro/licitatii">Licitaţii</a> </li>
  <li><a href="http://www.posmediu.ro/proiecte">Proiecte</a> </li>
  <li><a href="http://www.posmediu.ro/evenimente">Evenimente</a> </li>
  <li><a href="http://www.posmediu.ro/e-learning">E-learning</a> </li>
  <li><a href="http://www.posmediu.ro/contact">Contact</a> </li>
  </ul>
</div>
