{%- from 'bits.html' import fonticon %}

<div id="header">

  <div class="row suite-bar ">
    <div class="col-md-3 col-md-offset-9 user-menu">
      <ul class="nav pull-right">
        <li class="fixed">
          <a href="{{ url_for('common.guide') }}" title="Ghidul de raportare">
            {{ fonticon('question') }}
          </a>
        </li>
      </ul>

      <ul class="nav pull-right">
        <li class="user">
          {%- set login_url = get_profile_login_url() %}
          {%- set logout_url = get_profile_logout_url() %}
          {%- if not g.identity.id %}
          <a href="{{ login_url }}">Conectare</a>
          {%- else %}
           <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            {{ g.identity.id }} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu pull-right">
            <li><a href="/_layouts/15/userdisp.aspx?Force=True&Source={{ request.url }}">Setările mele</a></li>
            <li><a href="{{ logout_url }}">Deconectare</a> </li>
          </ul>
          {%- endif %}
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="sponsors-and-title" style="padding-left: 20px">
      <table width="100%">
        <tr>
        <td width="20%"><img src="{{ url_for('static', filename='ue.png') }}" alt="logo UE"></td></td>
        <td width="20%"><img src="{{ url_for('static', filename='gov.png') }}" alt="logo guvern"></td>
        <td width="20%"><img src="{{ url_for('static', filename='posmediu.png') }}" alt="logo POSMEDIU"></td>
        <td width="20%"><img style="float:right" src="{{ url_for('static', filename='ibb.bmp') }}" alt="logo IS"></td>
        <td width="20%" align="right"><img src="{{ url_for('static', filename='is.png') }}" alt="logo IS"></td>
        </tr>
      </table>

     <h1 id="portal-title">SIMSHAB</h1>
    </div>
  </div>
</div>

<div class="global-menu">
  <ul class="nav nav-tabs">

    {% set homepage = 'https://www.simshab.ro' %}

    <li class="">
      <a href="{{ homepage }}/">SIMSHAB</a>
    </li>

    {%- if g.identity.id %}
    <li class="">
      <a href="{{ homepage }}/SitePages/Colectare Date.aspx">Colectare Date</a>
    </li>

    <li class="">
      <a href="{{ homepage }}/SitePages/Verificare Validare.aspx">Verificare\Validare</a>
    </li>

    <li class="">
      <a href="{{ homepage }}/SitePages/Responsabil.aspx">Responsabil</a>
    </li>

    <li {% if app_name == 'aggregation' %}class="active"{% endif %}>
      <a href="{{ homepage }}/SitePages/Agregare.aspx">Agregare</a>
    </li>
    {%- endif %}

    <li {% if app_name == 'consultation' %}class="active"{% endif %}>
      <a href="{{ homepage }}/SitePages/ConsultarePublica.aspx">Consultare Publică</a>
    </li>

    <li class="">
      <a href="{{ homepage }}/SitePages/Raportare.aspx">Raportare</a>
    </li>

    {%- if g.identity.id %}
    <li class="">
      <a href="{{ homepage }}/SitePages/Management Utilizatori.aspx">Management Utilizatori</a>
    </li>
    {%- endif %}
  </ul>
</div>
