{% extends "layout.html" %}


{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Art17</h1>

    <p>
      <a class="btn btn-lg btn-primary"
         href="{{ url_for('species.index') }}">Specii</a>

      <a class="btn btn-lg btn-primary"
         href="{{ url_for('habitat.index') }}">Habitate</a>

      <a class="btn btn-lg btn-warning"
         href="{{ url_for('auth.debug') }}">autentificare (debug)</a>

      <a class="btn btn-lg btn-warning"
         href="{{ url_for('history.index') }}">activitate</a>
    </p>
  </div>
</div>
{% endblock content %}
