{% from 'bits.html' import script, link -%}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='favicon.ico') }}"
          type="image/vnd.microsoft.icon" id="favicon" />
    <script>window.App = {};</script>
    <title>{% block title %}Art17{% endblock title %}</title>

    {%- block styles %}
      {{ link('lib/select2-3.4.2/select2.css') }}
      {{ link('lib/font-awesome-3.2.1/css/font-awesome.min.css') }}
      {{ link('lib/jquery.powertip.css') }}
      <!--[if IE 7]>
        {{ link('lib/font-awesome-3.2.1/css/font-awesome-ie7.min.css') }}
      <![endif]-->

      {{ link('lib/bootstrap-3.0.0/css/bootstrap.min.css') }}
      {{ link('lib/datepicker/css/datepicker.css') }}
      {{ link('style.css') }}
    {% endblock %}

    <!--[if lt IE 9]>
      {{ script('lib/bootstrap-3.0.0/js/html5shiv.js') }}
      {{ script('lib/bootstrap-3.0.0/js/respond.min.js') }}
    <![endif]-->
  </head>

  <body>
    <div class="container full-width">
      {%- if not config.TESTING %}
        {%- block header %}
          {%- include 'header.html' with context %}
        {%- endblock %}
        {%- block breadcrumbs %}{% endblock %}
      {%- endif %}
      {% block messages %}
        {% from 'bits.html' import flash_messages -%}
        {{ flash_messages() }}
      {% endblock %}
      <div class="content">

      {% block before_content %}
        {% if app_name == 'aggregation' and not home %}
        <div class="pull-right">
            <a class="btn btn-default" href="{{ url_for('aggregation.docs') }}">Algoritmi agregare</a>
        </div>
        {% endif %}
      {% endblock %}

      {% block content %}
        <h1>Hello, world!</h1>
      {% endblock %}
      </div>
      {%- block footer %}
        {%- include 'footer.html' with context %}
      {%- endblock %}
    </div>

    {% block script %}
      {{ script('lib/jquery-1.10.2/jquery.min.js') }}
      {{ script('lib/underscore-1.5.1/underscore-min.js') }}
      {{ script('lib/backbone-1.0.0/backbone-min.js') }}
      {{ script('lib/bootstrap-3.0.0/js/bootstrap.min.js') }}
      {{ script('lib/select2-3.4.2/select2.min.js') }}
      {{ script('lib/select2-3.4.2/select2_locale_ro.js') }}
      {{ script('lib/datepicker/js/bootstrap-datepicker.js') }}
      {{ script('lib/jquery.powertip.min.js') }}
      {{ script('lib/jquery.dataTables.min.js') }}
      {{ script('lib/placeholders.min.js') }}
      {{ script('lib/accent-neutralise.js') }}
      {{ script('export.js') }}
    {% endblock %}
    {% include 'ganalytics.html' %}
  </body>
</html>
