{% from 'common/comment_bits.html' import error_cls, errors %}

<div class="tab-pane comment" id="comment-pressures">
  <div class="panel panel-default">

    {%- set pressures = form.pressures %}
    <div class="panel-body">

      <div class="form-group {{- error_cls(pressures.pressures) }}">

        {{ errors(pressures.pressures) }}
        <table class="table table-bordered recorddetail-table table-vertical"
               id="pressures_container">
          <tr>
            <th>Presiune</th>
            <th>Clasificare</th>
            <th>Calificativ de poluare</th>
            <th>Acțiuni</th>
          </tr>
          {% for p in pressures.pressures.data %}
          <tr data-id="{{ p.id }}">
            <td>{{ PRESSURES[p.pressure] }}</td>
            <td> {{ RANKING_STATUS.get(p.ranking) }}</td>
            <td>
              {% if p.pollutions %}
              {% for pol in p.pollutions %}
                {{ pol }} {{ POLLUTION_STATUS.get(pol) }},
              {% endfor %}
              {% endif %}
            </td>
            <td>
              <button type="button"
                      class="btn btn-danger btn-sm hidepressure"
                      title="Șterge presiune">șterge</button>
              {{ pressures.pressures.render_input(p) }}
            </td>
          </tr>
          {% endfor %}

          <tr>
            <td>
              {{ addform_pressure.pressure(class='form-control input-sm') }}
            </td>
            <td>
              {{ addform_pressure.ranking(class='form-control input-sm') }}
            </td>
            <td>
              {{ addform_pressure.pollutions(class='form-control') }}
            </td>
            <td>
              <button data-container="#pressures_container"
                      data-inputname="pressures.pressures"
                      class="btn btn-primary btn-sm add-pressuresbtn">
                adaugă
              </button>
            </td>
          </tr>
        </table>
      </div>

      <div class="form-group">
        <label for="pressures.pressures_method">
          Metoda utilizată:
        </label>

        {{ errors(pressures.pressures_method) }}

        <div class="row">
          <div class="col-sm-4 {{- error_cls(pressures.pressures_method) }}">
            {{ pressures.pressures_method(class='form-control') }}
          </div>

          <div class="col-sm-2"></div>
        </div>
      </div>

    </div>
  </div>
</div>
