{% from 'common/comment_bits.html' import error_cls, errors %}

<div class="tab-pane comment" id="comment-threats">
  <div class="panel panel-default">

    {%- set threats = form.threats %}
    <div class="panel-body">

      <div class="form-group {{- error_cls(threats.threats) }}">

        {{ errors(threats.threats) }}

        <table class="table table-bordered recorddetail-table table-vertical"
               id="threats_container">
          <tr>
            <th>Amenințare</th>
            <th>Clasificare</th>
            <th>Calificativ de poluare</th>
            <th>Acțiuni</th>
          </tr>
          {% for p in threats.threats.data %}
          <tr data-id="{{ p.id }}">
            <td>{{ PRESSURES[p.pressure] }}</td>
            <td>{{ p.ranking }}</td>
            <td>
              {% if p.pollutions %}
              {% for pol in p.pollutions %}
               {{ pol }}
              {% endfor %}
              {% endif %}
            </td>
            <td>
              <button type="button" class="btn btn-danger btn-sm hidepressure">
                Șterge
              </button>
              {{ threats.threats.render_input(p) }}
            </td>
          </tr>
          {% endfor %}

          <tr>
            <td>
              {{ addform_pressure.pressure(class='form-control') }}
            </td>
            <td>
              {{ addform_pressure.ranking(class='form-control') }}
            </td>
            <td>
              {{ addform_pressure.pollutions(class='form-control') }}
            </td>
            <td>
              <button data-container="#threats_container"
                      data-inputname="threats.threats"
                      class="btn btn-primary add-pressuresbtn">
                Adaugă amenințare
              </button>
            </td>
          </tr>
        </table>
      </div>

      <div class="form-group">
        <label for="threats.threats_method">
          Metoda utilizată:
        </label>

        {{ errors(threats.threats_method) }}

        <div class="row">
          <div class="col-sm-4 {{- error_cls(threats.threats_method) }}">
            {{ threats.threats_method(class='form-control') }}
          </div>

          <div class="col-sm-2"></div>
        </div>
      </div>

    </div>
  </div>
</div>
