{% macro to_bool(val) %}
    {%- if val -%}
        true
    {%- else -%}
        false
    {%- endif -%}
{% endmacro -%}

<?xml version="1.0" encoding="UTF-8"?>
<member_state_checklist xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://bd.eionet.europa.eu/schemas/Art12Art17_reporting_2013/art17_species_checklist.xsd" xml:lang="en">
<country isocode="RO" desc="Romania">RO</country>
<species_list>
    {%- for code, species in species_dict.items() %}
    <species>
        <code>{{ code }}</code>
        <eunis_code>{{ species['info'].eunis_code }}</eunis_code>
        <name>{{ species['info'].species_name }}</name>
        <hd_name>{{ species['info'].hd_name }}</hd_name>
        <regional>
        {%- for region in species.regions %}
        <region>
            <code>{{ region.bio_region }}</code>
            <presence>{{ region.presence }}</presence>
            <comments>{{ region.comment }}</comments>
            <annex_ii>{{ region.annex_ii }}</annex_ii>
            <ms_added>{{ to_bool(region.ms_added) }}</ms_added>
            <predefined>{{ to_bool(region.predefined) }}</predefined>
            </region>
        {%- endfor %}
        </regional>
    </species>
    {%- endfor %}
</species_list>
</member_state_checklist>
