{% extends "layout.html" %}


{% block title %}
  {%- if species %}{{ species.name }} &mdash; {% endif %}
  {{- super() }}
{%- endblock title %}


{% block content %}
{%- from 'common/td.html' import
    range_html, trend_detail_html, reference_value_html
    with context %}

  <h1>
    Comentariu pentru
    {{ species.lu.speciesname }}
    ({{ record.region }})
  </h1>

  <form method="post">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Areal</h3>
      </div>

      <div class="panel-body">
        {% set errors = form.range.surface_area.errors %}
        <div class="form-group {%- if errors %} has-error{% endif %}">
          <label for="range.surface_area">
            {{- form.range.surface_area.label }}</label>

          {%- for error in errors %}
            <span class="help-block">{{ error }}</span>
          {%- endfor %}

          <div class="row">
            <div class="col-lg-4">
              {{ form.range.surface_area(class='form-control') }}
            </div>

            <div class="col-lg-2"></div>

            <div class="col-lg-6 text-primary">
              {{- range_html(record.range) }}</div>
          </div>
        </div>

        <div class="form-group">
          <label for="range.method">
            Metoda utilizată - suprafața arealului</label>

          <div class="row">
            <div class="col-lg-6">
              {{ form.range.method(class='form-control') }}
            </div>

            <div class="col-lg-6 text-primary">
              {{- record.range.method }}</div>
          </div>
        </div>

        <div class="form-group">
          <label for="range.trend_short.trend">
            Tendință pe termen scurt</label>

          <div class="row">
            <div class="col-lg-2">
              {{ form.range.trend_short.trend(class='form-control') }}
            </div>

            <div class="col-lg-2">
              {{ form.range.trend_short.period_min(class='form-control') }}
            </div>

            <div class="col-lg-2">
              {{ form.range.trend_short.period_max(class='form-control') }}
            </div>

            <div class="col-lg-6 text-primary">
              {{- trend_detail_html(record.range.trend_short) }}
              {{ record.range.trend_short.period }}</div>
          </div>
        </div>

        <div class="form-group">
          <label for="range.trend_long.trend">
            Tendință pe termen lung</label>

          <div class="row">
            <div class="col-lg-2">
              {{ form.range.trend_long.trend(class='form-control') }}
            </div>

            <div class="col-lg-2">
              {{ form.range.trend_long.period_min(class='form-control') }}
            </div>

            <div class="col-lg-2">
              {{ form.range.trend_long.period_max(class='form-control') }}
            </div>

            <div class="col-lg-6 text-primary">
              {{- trend_detail_html(record.range.trend_long) }}
              {{ record.range.trend_long.period }}</div>
          </div>
        </div>

        <div class="form-group">
          <label for="range.favourable_value.op">
            Arealul favorabil de referință</label>

          <div class="row">
            <div class="col-lg-2">
              {{ form.range.favourable_value.op(class='form-control') }}
            </div>

            <div class="col-lg-4">
              {{ form.range.favourable_value.number(class='form-control') }}
            </div>

            <div class="col-lg-6 text-primary">
              {{- reference_value_html(record.range.reference_value,
                        unit='km<sup>2</sup>'|safe) -}}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="range.favourable_method">
            Arealul favorabil de referință - Metoda</label>

          <div class="row">
            <div class="col-lg-6">
              {{ form.range.favourable_method(class='form-control', rows=2) }}
            </div>

            <div class="col-lg-6 text-primary">
              {{ record.range.reference_value.method }}</div>
          </div>
        </div>

        <div class="form-group">
          <label for="range.conclusion.value">Concluzie</label>

          <div class="row">
            <div class="col-lg-3">
              {{ form.range.conclusion.value(class='form-control') }}
            </div>

            <div class="col-lg-3">
              {{ form.range.conclusion.trend(class='form-control') }}
            </div>

            <div class="col-lg-6 text-primary">
              {{- record.range.conclusion }}</div>
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="recordcomment-save">Save</button>
  </form>
{% endblock content %}
