{%- from 'common/td.html'
    import conclusion_td, range_html, trend_html, trend_detail_html,
      magnitude_html, population_size_td, reference_value_html,
      period_html, method_html, conclusions_html
    with context %}


<h1>
  {{ species.lu.speciesname }}
  ({{ record.region }})
</h1>

<ul class="recorddetail-tabs">
  <li class="active"><a href="#recorddetail-range" data-toggle="tab">Areal</a></li>
  <li><a href="#recorddetail-population" data-toggle="tab">Populație</a></li>
  <li><a href="#recorddetail-habitat" data-toggle="tab">Habitat</a></li>
  <li><a href="#recorddetail-conclusions" data-toggle="tab">Concluzii</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="recorddetail-range">
    <div class="table-responsive">
      <table class="table table-bordered recorddetail-table">
        <tr>
          <th>Suprafață</th>
          <td>{{ range_html(record.range) }}</td>
        </tr>

        <tr>
          <th> &nbsp; - metoda utilizată</th>
          <td>{{ method_html(record.range.method) }}</td>
        </tr>

        <tr>
          <th>Tendință pe termen scurt</th>
          <td>{{ trend_detail_html(record.range.trend_short) }}
          </td>
        </tr>

        <tr>
          <th> &nbsp; - perioada</th>
          <td>{{ period_html(record.range.trend_short.period) }}</td>
        </tr>

        <tr>
          <th> &nbsp; - magnitudinea</th>
          <td>{{ magnitude_html(record.range.trend_short.magnitude) }}</td>
        </tr>

        <tr>
          <th>Tendință pe termen lung</th>
          <td>
            {{ trend_detail_html(record.range.trend_long) }}</td>
        </tr>

        <tr>
          <th> &nbsp; - perioada</th>
          <td>{{ period_html(record.range.trend_long.period) }}</td>
        </tr>

        <tr>
          <th> &nbsp; - magnitudinea</th>
          <td>{{ magnitude_html(record.range.trend_long.magnitude) }}</td>
        </tr>

        <tr>
          <th>Arealul favorabil de referință</th>
          <td>{{ reference_value_html(record.range.reference_value,
                  unit='km²') }}
          </td>
        </tr>

        <tr>
          <th> &nbsp; - metoda utilizată</th>
          <td>
            {% if record.range.reference_value.method %}
              {{- record.range.reference_value.method -}}
            {% endif %}
          </td>
        </tr>

        <tr>
          <th>Concluzie</th>
          <td>{{ conclusions_html(record.range.conclusion)}}</td>
        </tr>

      </table>
    </div>
  </div>

  <div class="tab-pane" id="recorddetail-population">
    <div class="table-responsive">
      <table class="table table-bordered recorddetail-table">
        <tr>
          <th>Estimarea mărimii populației</th>
          {{ population_size_td(record.population.size) }}
        </tr>

        <tr>
          <th> &nbsp; - metoda utilizată</th>
          <td>{{ method_html(record.population.method) }}</td>
        </tr>

        <tr>
          <th>Tendință pe termen scurt</th>
          <td>
            {{ trend_detail_html(record.population.trend_short) }}</td>
        </tr>

        <tr>
          <th> &nbsp; - perioada</th>
          <td>{{ period_html(record.population.trend_short.period) }}</td>
        </tr>

        <tr>
          <th> &nbsp; - magnitudinea</th>
          <td>{{ magnitude_html(record.population.trend_short.magnitude) }}</td>
        </tr>

        <tr>
          <th>Tendință pe termen lung</th>
          <td>
            {{ trend_detail_html(record.population.trend_long) }}</td>
        </tr>

        <tr>
          <th> &nbsp; - perioada</th>
          <td>{{ period_html(record.population.trend_long.period) }}</td>
        </tr>

        <tr>
          <th> &nbsp; - magnitudinea</th>
          <td>{{ magnitude_html(record.population.trend_long.magnitude) }}</td>
        </tr>

        <tr>
          <th>Populația favorabilă de referință</th>
          <td>{{ reference_value_html(record.population.reference_value) }}</td>
        </tr>

        <tr>
          <th> &nbsp; - metoda utilizată</th>
          <td>
            {%- if record.population.reference_value.method %}
              {{ record.population.reference_value.method }}
            {% endif -%}
          </td>
        </tr>

        <tr>
          <th>Concluzie</th>
          <td>{{ conclusions_html(record.population.conclusion)}}</td>
        </tr>

      </table>
    </div>
  </div>

  <div class="tab-pane" id="recorddetail-habitat">
    <div class="table-responsive">
      <table class="table table-bordered recorddetail-table">
        <tr>
          <th>Estimarea suprafeţei</th>
          <td>{{ range_html(record.habitat.surface_area) }}</td>
        </tr>

        <tr>
          <th> &nbsp; - anul/perioada</th>
          <td>{{ record.habitat.date }}</td>
        </tr>

        <tr>
          <th> &nbsp; - metoda utilizată</th>
          <td>{{ method_html(record.habitat.method) }}</td>
        </tr>

        <tr>
          <th>Calitatea habitatului</th>
          <td>{{ record.habitat.quality.value }}</td>
        </tr>

        <tr>
          <th> &nbsp; - metoda utilizată</th>
          <td>
            {%- if record.habitat.quality.explanation %}
              {{ record.habitat.quality.explanation }}
            {% endif -%}
          </td>
        </tr>

        <tr>
          <th>Tendință pe termen scurt</th>
          <td>
            {{ trend_detail_html(record.habitat.trend_short) }}
          </td>
        </tr>

        <tr>
          <th> &nbsp; - perioada</th>
          <td>{{ period_html(record.habitat.trend_short.period) }}</td>
        </tr>

        <tr>
          <th>Tendință pe termen lung</th>
          <td>
            {{ trend_detail_html(record.habitat.trend_long) }}
          </td>
        </tr>

        <tr>
          <th> &nbsp; - perioada</th>
          <td>{{ period_html(record.habitat.trend_long.period) }}</td>
        </tr>

        <tr>
          <th>Suprafața de habitat adecvată pentru specie</th>
          <td>
            {{ reference_value_html(record.habitat.area_suitable,
                  unit='km²') }}
          </td>
        </tr>

        <tr>
          <th>Concluzie</th>
          <td>{{ conclusions_html(record.habitat.conclusion)}}</td>
        </tr>

      </table>
    </div>
  </div>

  <div class="tab-pane" id="recorddetail-conclusions">
    <div class="table-responsive">
      <table class="table table-bordered recorddetail-table">

        <tr>
          <th>Perspective viitoare</th>
          <td>{{ conclusions_html(record.future_prospects)}}</td>
        </tr>

        <tr>
          <th>Evaluare generală a stării de conservare</th>
          <td>{{ conclusions_html(record.overall_assessment)}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
