{%- from 'common/td.html'
    import conclusion_td, reference_value_td, trend_td,
           population_size_td, habitat_quality_td
    with context %}

{% macro trend_td(trend) -%}
{% if trend.trend %}
  {{ trend.trend }} - {{ TREND_NAME[trend.trend] }}
{% endif %}
{%- endmacro %}


{% macro magnitude_td(magnitude) -%}
{% if magnitude.min or magnitude.max %}
    {{ magnitude.min }} - {{ magnitude.max }} km<sup>2</sup>
{% endif %}
{%- endmacro %}

<h1>
  {{ species.lu.speciesname }}
  ({{ record.region }})
</h1>

<ul class="recorddetail-tabs">
  <li class="active"><a href="#recorddetail-range" data-toggle="tab">Areal</a></li>
  <li><a href="#recorddetail-population" data-toggle="tab">Populație</a></li>
  <li><a href="#recorddetail-habitat" data-toggle="tab">Habitat</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="recorddetail-range">
    <div class="table-responsive">
      <table class="table table-bordered recorddetail-table">
        <tr>
          <th>Suprafață</th>
          <td>{%- if record.range.surface_area -%} {{ record.range.surface_area }} km<sup>2</sup> {%- endif -%}</td>
        </tr>

        <tr>
          <th>Metoda utilizată - suprafața arealului</th>
          <td>{{ record.range.method }}</td>
        </tr>

        <tr>
          <th>Tendință pe termen scurt</th>
          <td>{{ trend_td(record.range.trend_short) }}
          </td>
        </tr>

        <tr>
          <th>Tendinţa pe termen scurt - perioada</th>
          <td>{{ record.range.trend_short.period }}</td>
        </tr>

        <tr>
          <th>Tendinţa pe termen scurt - magnitudinea</th>
          <td>{{ magnitude_td(record.range.magnitude_short) }}</td>
        </tr>

        <tr>
          <th>Tendință pe termen lung</th>
          <td>
            {{ trend_td(record.range.trend_long) }}</td>
        </tr>

        <tr>
          <th>Tendință pe termen lung - perioada</th>
          <td>{{ record.range.trend_long.period }}</td>
        </tr>

        <tr>
          <th>Tendinţa pe termen lung - magnitudinea</th>
          <td>{{ magnitude_td(record.range.magnitude_long) }}</td>
        </tr>

        <tr>
          <th>Arealul favorabil de referință</th>
          <td>
            {%- if record.range.reference_value.value -%} {{ record.range.reference_value.value }} km<sup>2</sup> {%- endif -%} <br />
            {%- if record.range.reference_value.method %}
              Metoda utilizată: {{ record.range.reference_value.method }}
            {% endif -%}
          </td>
        </tr>

        <tr>
          <th>Concluzie</th>
          {{ conclusion_td(record.range.conclusion) }}
        </tr>

      </table>
    </div>
  </div>

  <div class="tab-pane" id="recorddetail-population">
    <div class="table-responsive">
      <table class="table table-bordered recorddetail-table">
        <tr>
          <th>Estimarea mărimii populației</th>
          {{ population_size_td(record.population.size) }}
        </tr>

        <tr>
          <th>Metoda utilizată - mărimea populației</th>
          <td>{{ record.population.method }}</td>
        </tr>

        <tr>
          <th>Tendință pe termen scurt</th>
          <td>
            {{ trend_td(record.population.trend_short) }}</td>
        </tr>

        <tr>
          <th>Tendință pe termen scurt - perioada</th>
          <td>{{ record.population.trend_short.period }}</td>
        </tr>

        <tr>
          <th>Tendinţa pe termen scurt - magnitudinea</th>
          <td>{{ magnitude_td(record.population.magnitude_short) }}</td>
        </tr>

        <tr>
          <th>Tendință pe termen lung</th>
          <td>
            {{ trend_td(record.population.trend_long) }}</td>
        </tr>

        <tr>
          <th>Tendință pe termen lung - perioada</th>
          <td>{{ record.population.trend_long.period }}</td>
        </tr>

        <tr>
          <th>Tendinţa pe termen lung - magnitudinea</th>
          <td>{{ magnitude_td(record.population.magnitude_long) }}</td>
        </tr>

        <tr>
          <th>Populația favorabilă de referință</th>
          <td>
            {{ record.population.reference_value.value }} <br />
            {%- if record.population.reference_value.method %}
              Metoda utilizată: {{ record.population.reference_value.method }}
            {% endif -%}
          </td>
        </tr>

        <tr>
          <th>Concluzie</th>
          {{ conclusion_td(record.population.conclusion) }}
        </tr>

      </table>
    </div>
  </div>

  <div class="tab-pane" id="recorddetail-habitat">
    <div class="table-responsive">
      <table class="table table-bordered recorddetail-table">
        <tr>
          <th>Estimarea suprafeţei</th>
          <td>{%- if record.habitat.surface_area -%} {{ record.habitat.surface_area }} km<sup>2</sup> {%- endif -%}</td>
        </tr>

        <tr>
          <th>Metoda utilizată - habitatul speciei</th>
          <td>{{ record.habitat.method }}</td>
        </tr>

        <tr>
          <th>Calitatea habitatului</th>
          <td>
            {{ record.habitat.quality.value }} <br />
            {%- if record.habitat.quality.explanation %}
              Metoda utilizată: {{ record.habitat.quality.explanation }}
            {% endif -%}
          </td>
        </tr>

        <tr>
          <th>Tendință pe termen scurt</th>
          <td>
            {{ trend_td(record.habitat.trend_short) }}
          </td>
        </tr>

        <tr>
          <th>Tendință pe termen scurt - perioada</th>
          <td>{{ record.habitat.trend_short.period }}</td>
        </tr>

        <tr>
          <th>Tendință pe termen lung</th>
          <td>
            {{ trend_td(record.habitat.trend_long) }}
          </td>
        </tr>

        <tr>
          <th>Tendință pe termen lung - perioada</th>
          <td>{{ record.habitat.trend_long.period }}</td>
        </tr>

        <tr>
          <th>Suprafața de habitat adecvată pentru specie</th>
          <td>{%- if record.habitat.area_suitable.value -%} {{ record.habitat.area_suitable.value }} km<sup>2</sup> {%- endif -%}</td>
        </tr>

        <tr>
          <th>Concluzie</th>
          {{ conclusion_td(record.habitat.conclusion) }}
        </tr>

      </table>
    </div>
  </div>
</div>
