{% extends "layout.html" %}


{% block content %}
  <form class="speciesfilter">
    <fieldset>
      <legend>Filtrare specii</legend>

      <label>
        Grup
        <select name="group">
          <option value="">--</option>
          {% for group in species_groups %}
            {% set selected = (group == current_group) %}
            <option value="{{ group.code }}"
                    {%- if selected %} selected{% endif %}>
              {{- group.description -}}
            </option>
          {% endfor %}
        </select>
      </label>

      <label>
        Specie
        <select name="species">
          <option value="">--</option>
          {% for species in species_list %}
            {% set selected = (species == current_species) %}
            <option value="{{ species.speciescode }}"
                    {%- if selected %} selected{% endif %}>
              {{- species.speciesname -}}
            </option>
          {% endfor %}
        </select>
      </label>
    </fieldset>
  </form>

 {% if species %}
  <p>
    {%- set annex_list =
      (["II"] if species.annex_II else []) +
      (["IV"] if species.annex_IV else []) +
      (["V"] if species.annex_V else []) %}

    <strong>{{ species.name }}</strong>,
    cod: {{ species.code }},
    anexe: {{ ", ".join(annex_list) if annex_list else "--" }}
  </p>
 {% endif %}

  <hr>

  <table class="records">
    <tr>
      <td rowspan=2>Bio-regiune</td>
      <td colspan=5>Range</td>
      <td colspan=5>Population</td>
      <td colspan=7>Habitat</td>
      <td rowspan=2>Future prospects</td>
      <td rowspan=2>Overall assessment</td>
    </tr>

    <tr>
      {#- bio-regiune #}
      {#- range: 5 cols #}
      <td>method</td>
      <td>surface</td>
      <td>assessment</td>
      <td>trend</td>
      <td>reference value</td>
      {#- population: 5 cols #}
      <td>size &amp; unit</td>
      <td>assessment</td>
      <td>short term trend</td>
      <td>long term trend</td>
      <td>reference value</td>
      {#- habitat: 7 cols #}
      <td>method</td>
      <td>surface</td>
      <td>assessment</td>
      <td>short term trend</td>
      <td>long term trend</td>
      <td>suitable</td>
      <td>quality</td>
      {#- future prospects #}
      {#- overall assessment #}
    </tr>

   {% for row in species.records %}
    <tr>
      {#- bio-regiune #}
      <td>{{ row.region }}</td>

      {#- range: 5 cols #}
      {%- set range = row.range %}
      <td>{{ range.method }}</td>
      <td>{{ range.surface_area }}</td>
      <td>{{ range.conclusion }}</td>
      <td>{{ range.trend }}</td>
      <td>{{ range.reference_value }}</td>

      {#- population: 5 cols #}
      {%- set population = row.population %}
      <td>{{ population.size_and_unit }}</td>
      <td>{{ population.conclusion }}</td>
      <td>{{ population.trend_short }}</td>
      <td>{{ population.trend_long }}</td>
      <td>{{ population.reference_value }}</td>

      {#- habitat: 7 cols #}
      {%- set habitat = row.habitat %}
      <td>{{ habitat.method }}</td>
      <td>{{ habitat.surface_area }}</td>
      <td>{{ habitat.conclusion }}</td>
      <td>{{ habitat.trend_short }}</td>
      <td>{{ habitat.trend_long }}</td>
      <td>{{ habitat.area_suitable }}</td>
      <td>{{ habitat.quality }}</td>

      {#- future prospects #}
      <td>{{ row.future_prospects }}</td>

      {#- overall assessment #}
      <td>{{ row.overall_assessment }}</td>
    </tr>
   {% endfor %}
  </table>
{% endblock content %}


{% block styles %}
  {{ super() }}
  {% from 'bits.html' import link %}
  {{ link('lib/select2-3.4.2/select2.css') }}
{% endblock styles %}


{% block script %}
  {{ super() }}
  {% from 'bits.html' import script %}
  {{ script('lib/select2-3.4.2/select2.min.js') }}
  {{ script('lib/select2-3.4.2/select2_locale_ro.js') }}

  <script>
    (function() {
      var speciesfilter = $('.speciesfilter');

      speciesfilter.find('select').change(function() {
        speciesfilter.submit();
      });

      speciesfilter.find('select[name=species]').select2({width: '25em'});
    })();
  </script>
{% endblock script %}
