{% extends "layout.html" %}


{% block content %}
<form>
  <fieldset>
    <legend>Filtrare specii</legend>

    <label>
      Grup
      <select>
        <option>--</option>
        {% for group in species_groups %}
          <option value="{{ group.code }}">{{ group.description }}</option>
        {% endfor %}
      </select>
    </label>
  </fieldset>
</form>

<ul>
{% for row in records %}
  {% set speciescode = row.speciescode %}
  {% set url = url_for('.species_view', speciescode=speciescode) %}
  <li><a href="{{ url }}">{{ speciescode }}</a></li>
{% endfor %}
</ul>
{% endblock content %}
