{% extends "layout.html" %}


{% block content %}
  <form class="speciesfilter">
    <fieldset>
      <legend>Filtrare specii</legend>

      <div class="form-group">
        <label for="speciesfilter-group">Grup</label>
        <input name="group" value="{{ current_group_code }}"
               type="hidden" id="speciesfilter-group">
      </div>

      <div class="form-group">
        <label for="speciesfilter-species">Specie</label>
        <input name="species" value="{{ current_species_code }}"
               type="hidden" id="speciesfilter-species">
      </div>

      <div class="form-group">
        <button type="submit">filtrează</button>
      </div>
    </fieldset>
  </form>

 {% if species %}
  <p>
    {%- set annex_list =
      (["II"] if species.annex_II else []) +
      (["IV"] if species.annex_IV else []) +
      (["V"] if species.annex_V else []) %}

    <strong>{{ species.name }}</strong>,
    cod: {{ species.code }},
    anexe: {{ ", ".join(annex_list) if annex_list else "--" }}
  </p>
 {% endif %}

  {%- include 'species/records.html' with context %}

{% endblock content %}


{% block styles %}
  {{ super() }}
  {% from 'bits.html' import link %}
  {{ link('lib/select2-3.4.2/select2.css') }}
{% endblock styles %}


{% block script %}
  {{ super() }}
  {% from 'bits.html' import script %}
  {{ script('lib/select2-3.4.2/select2.min.js') }}
  {{ script('lib/select2-3.4.2/select2_locale_ro.js') }}

  <script>
    (function() {
      "use strict";

      var speciesfilter = $('.speciesfilter');
      var species_groups = {{ species_groups|tojson|safe }};
      var species_list = {{ species_list|tojson|safe }};

      var group_select = speciesfilter.find('[name=group]').select2({
        data: species_groups,
        minimumResultsForSearch: -1,  // disable search field
        width: '10em'
      });


      var species_select = speciesfilter.find('[name=species]');

      function update_species_select(group_id) {
        var group_id = group_select.select2('val');
        var species_in_group = _(species_list).filter(
            function(sp){return sp.group_id == group_id});

        species_select.select2('destroy').select2({
          data: species_in_group,
          multiple: false,
          width: '25em'
        });
      }

      update_species_select();

      speciesfilter.change(function() {
        update_species_select();
      });
    })();
  </script>
{% endblock script %}
