{%- from 'common/td.html'
    import conclusion_td, reference_value_td, trend_td,
           population_size_td, habitat_quality_td
    with context %}

<table class="records">
  <tr class="records-header">
    <td rowspan=2></td>
    <td rowspan=2 title="Regiunea biogeografică">Regiune</td>
    <td colspan=5>Areal (km<sup>2</sup>)</td>
    <td colspan=5>Populație</td>
    <td colspan=7>Habitat pentru specie (km<sup>2</sup>)</td>
    <td rowspan=2
        title="Perspective (referitoare la populație, areal și
               disponibilitatea habitatului)"
        >Perspective</td>
    <td rowspan=2
        title="Evaluare generală a statutului de conservare"
        >Evaluare generală</td>
  </tr>

  <tr class="records-header">
    {#- detail #}
    {#- bio-regiune #}
    {#- range: 5 cols #}
    <td>Metodă</td>
    <td>Suprafață</td>
    <td>Concluzie</td>
    <td>Tendință</td>
    <td title="Arealul favorabil de referință">Referință</td>
    {#- population: 5 cols #}
    <td title="Mărimea populației și unitatea de măsură">Mărime</td>
    <td>Concluzie</td>
    <td>Tendință pe termen scurt</td>
    <td>Tendință pe termen lung</td>
    <td title="Populația favorabilă de referință">Referință</td>
    {#- habitat: 7 cols #}
    <td>Metodă</td>
    <td>Suprafață</td>
    <td>Concluzie</td>
    <td>Tendință pe termen scurt</td>
    <td>Tendință pe termen lung</td>
    <td title="Zona de referință favorabilă">Referință</td>
    <td>Calitate</td>
    {#- future prospects #}
    {#- overall assessment #}
  </tr>

 {% for row in species.records %}
  <tr>
    {#- detail #}
    <td>
      {%- set url = url_for('.species_record', record_id=row.id) %}
      <a class="records-detailbtn" href="{{ url }}">info</a>
    </td>

    {#- bio-regiune #}
    <td>{{ row.region }}</td>

    {#- range: 5 cols #}
    {%- set range = row.range %}
    <td>{{ range.method }}</td>
    <td>{{ range.surface_area }}</td>
    {{ conclusion_td(range.conclusion) }}
    {{ trend_td(range.trend_short) }}
    {{ reference_value_td(range.reference_value) }}

    {#- population: 5 cols #}
    {%- set population = row.population %}
    {{ population_size_td(population.size) }}
    {{ conclusion_td(population.conclusion) }}
    {{ trend_td(population.trend_short) }}
    {{ trend_td(population.trend_long) }}
    {{ reference_value_td(population.reference_value) }}

    {#- habitat: 7 cols #}
    {%- set habitat = row.habitat %}
    <td>{{ habitat.method }}</td>
    <td>{{ habitat.surface_area }}</td>
    {{ conclusion_td(habitat.conclusion) }}
    {{ trend_td(habitat.trend_short) }}
    {{ trend_td(habitat.trend_long) }}
    <td>{{ habitat.area_suitable }}</td>
    {{ habitat_quality_td(habitat.quality) }}

    {#- future prospects #}
    {{ conclusion_td(row.future_prospects) }}

    {#- overall assessment #}
    {{ conclusion_td(row.overall_assessment) }}
  </tr>
 {% endfor %}
</table>


<div id="recorddetail-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="recorddetail-content">
      <div class="recorddetail-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="recorddetail-title">Modal title</h4>
      </div>
      <div class="recorddetail-body">
        ...
      </div>
      <div class="recorddetail-footer">
        <button type="button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{%- macro records_script() %}
<script>
(function() {
  "use strict";

  var recorddetail = $('#recorddetail-modal');

  $('.records-detailbtn').click(function(evt) {
    evt.preventDefault();
    var url = $(this).attr('href');

    recorddetail.modal('hide');
    set_html("<h1>Se încarcă...</h1>");
    $.get(url).done(set_html);
    recorddetail.modal();
  });

  function set_html(html) {
    var title = recorddetail.find('.recorddetail-title');
    var body = recorddetail.find('.recorddetail-body');
    body.html(html);
    var h1 = body.find('h1').remove();
    title.empty().append(h1.html());
  }
})();
</script>
{%- endmacro %}

{%- do script_later(records_script()) %}
