{%- from 'common/td.html'
    import conclusion_td, reference_value_td, trend_td,
           population_size_td, habitat_quality_td
    with context %}
{%- from 'bits.html' import fonticon %}


{% macro record_cells(row) %}
  {#- bio-regiune #}
  <td>{{ row.region }}</td>

  {#- range #}
  {%- set range = row.range %}
  <td>{{ range.surface_area }}</td>
  {{ conclusion_td(range.conclusion) }}
  {{ trend_td(range.trend_short) }}
  <td class="method">{{ range.method }}</td>
  {{ reference_value_td(range.reference_value) }}

  {#- population #}
  {%- set population = row.population %}
  {{ population_size_td(population.size) }}
  {{ conclusion_td(population.conclusion) }}
  {{ trend_td(population.trend_short) }}
  {{ reference_value_td(population.reference_value) }}

  {#- habitat #}
  {%- set habitat = row.habitat %}
  <td>{{ habitat.surface_area }}</td>
  {{ conclusion_td(habitat.conclusion) }}
  <td>{{ habitat.area_suitable }}</td>
  <td class="method">{{ habitat.method }}</td>
  {{ trend_td(habitat.trend_short) }}
  {{ habitat_quality_td(habitat.quality) }}

  {#- future prospects #}
  {{ conclusion_td(row.future_prospects) }}

  {#- overall assessment #}
  {{ conclusion_td(row.overall_assessment) }}
{%- endmacro %}

{%- set comment_next = url_for('.index', group=current_group_code,
                                         species=current_species_code,
                                         region=current_region_code) %}


<table class="records">
  <tr class="records-header">
    <td rowspan=2></td>
    <td rowspan=2 title="Regiunea biogeografică">Bio</td>
    <td colspan=5>Areal (km²)</td>
    <td colspan=4>Populație</td>
    <td colspan=6>Habitate (km²)</td>
    <td rowspan=2
        title="Perspective viitoare"
        >Perspective</td>
    <td rowspan=2
        title="Evaluare generală a stării de conservare"
        >Evaluare generală</td>
    <td rowspan=2 colspan=4></td>  {#- comment (author, etc) #}
  </tr>

  <tr class="records-header">
    {#- detail #}
    {#- bio-regiune #}
    {#- range #}
    <td title="Suprafața">Supr.</td>
    <td title="Concluzie">Concl.</td>
    <td title="Tendința pe termen scurt">Tend.<br>t.scurt</td>
    <td title="Metoda folositǎ">Met.</td>
    <td title="Arealul de referință favorabil">Ref.</td>
    {#- population #}
    <td title="Mărimea populației și unitatea de măsură">Mărime</td>
    <td>Concluzie</td>
    <td title="Tendința pe termen scurt">Tend.<br>t.scurt</td>
    <td title="Populația de referință">Ref.</td>
    {#- habitat #}
    <td title="Suprafața estimatǎ">Supr.</td>
    <td title="Concluzie">Concl.</td>
    <td title="Zona de referință favorabilă">Ref.</td>
    <td title="Metoda folositǎ">Met.</td>
    <td title="Tendința pe termen scurt">Tend.<br>t.scurt</td>
    <td>Calitate</td>
    {#- future prospects #}
    {#- overall assessment #}
  </tr>

 {% for row in species.records %}
  <tr>
    {#- detail #}
    <td>
      {%- set url = url_for('.detail', record_id=row.id) %}
      <button class="records-detailbtn" data-url="{{ url }}">vezi detalii</button>
    </td>
    {{ record_cells(row) }}

    <td colspan=4>
            {%- set url = url_for('.comment', record_id=row.id, next=comment_next) %}
      <a class="records-commentbtn" href="{{ url }}">adaugǎ comentariu</a>
    </td>  {#- comment (author, etc) #}
  </tr>
 {% endfor %}

  <tr class="records-header">
    <td colspan=23>Comentarii</td>
  </tr>

 {% for row in species.comments %}
  <tr>
    {#- detail #}
    <td>
      {%- if admin_permission.can() %}
        {%- set url = url_for('.comment_status', comment_id=row.id) %}
        <form method="post" action="{{ url }}" class="records-commentstatus">
          <input type="hidden" name="next" value="{{ comment_next }}">
          <input type="hidden" name="status" value="{{ row.status }}">
        </form>
      {%- endif %}
    </td>

    {{ record_cells(row) }}

    <td>{{ row.user_id }}</td>  {#- comment author, etc #}
    <td>
      {%- if row.can_edit %}
        {%- set url = url_for('.comment_edit', comment_id=row.id,
                                               next=comment_next) %}
        <a href="{{ url }}" class="records-editcommentbtn">edit</a>
      {%- endif %}
    </td>
    <td>{{ row.comment_date|local_date }}</td>
    <td>
      {%- set url = url_for('messages.index', comment_id=row.id) %}
      {%- set count = species.message_counts[row.id] or 0 %}
      <a class="records-messagesbtn btn btn-xs btn-default"
         href="{{ url }}">{{ fonticon('comment') }} {{ count }}</a>
    </td>
  </tr>
 {% endfor %}
</table>


{% include 'common/recorddetail.html' %}
