{% macro split_period(year_string) %}
  {%- if year_string -%}
    ({{ year_string[:4] }}-{{ year_string[4:] }})
  {%- endif -%}
{% endmacro %}


{% macro ref_value(row) %}
  {%- if row.complementary_favourable_range -%}
    {{ row.complementary_favourable_range }}
  {%- elif row.complementary_favourable_range_op -%}
    {{ row.complementary_favourable_range_op }}{{ row.range_surface_area }}
  {%- elif row.complementary_favourable_range_x -%}
    Unknown
  {%- else -%}
    {# wtf?! #}
  {%- endif -%}
{%- endmacro %}

Cod: {{ code }}<br>
Nume: {{ name }}<br>
Regiuni: {{ bio_regions }}<br>
Anexa II: {{ annex_II }}<br>
Anexa IV: {{ annex_IV }}<br>
Anexa V: {{ annex_V }}<br>

<hr>

{% for row in records %}
<p>
  Bio-regiunea: {{ row.region }}<br>
  Range:<br>
  -- method: {{ row.range_method }}<br>
  -- surface: {{ row.range_surface_area }}<br>
  -- assessment: {{ row.conclusion_range }} {{ row.conclusion_range_trend }}<br>
  -- trend: {{ row.range_trend }} {{ split_period(row.range_trend_period) }}<br>
  -- reference value: {{ ref_value(row) }}<br>
</p>
{% endfor %}
