Cod: {{ code }}<br>
Nume: {{ name }}<br>
Regiuni: {{ bio_regions }}<br>
Anexa II: {{ annex_II }}<br>
Anexa IV: {{ annex_IV }}<br>
Anexa V: {{ annex_V }}<br>

<hr>

{% for row in records %}
<p>
  Bio-regiunea: {{ row.region }}<br>

  Range:<br>
  {% set range = row.range %}
  -- method: {{ range.method }}<br>
  -- surface: {{ range.surface_area }}<br>
  -- assessment: {{ range.conclusion }}<br>
  -- trend: {{ range.trend.trend }} {{ range.trend.period }}<br>
  -- reference value: {{ range.reference_value }}<br>

  Population:<br>
  {% set population = row.population %}
  -- size &amp; unit: {{ population.size_and_unit }}<br>
  -- assessment: {{ population.conclusion }}<br>
  -- short term trend: {{ population.trend_short }}<br>
  -- long term trend: {{ population.trend_long }}<br>
  -- reference value: {{ population.reference_value }}<br>

  Habitat:<br>
  {% set habitat = row.habitat %}
  -- method: {{ habitat.method }}<br>
  -- surface: {{ habitat.surface_area }}<br>
  -- assessment: {{ habitat.conclusion }}<br>
  -- short term trend: {{ habitat.trend_short }}<br>
  -- long term trend: {{ habitat.trend_long }}<br>
  -- suitable: {{ habitat.area_suitable }}<br>

  Future prospects: {{ row.future_prospects }}<br>
  Overall assessment: {{ row.overall_assessment }}<br>

</p>
{% endfor %}
