Cod: {{ code }}<br>
Nume: {{ name }}<br>
Regiuni: {{ bio_regions }}<br>
Anexa II: {{ annex_II }}<br>
Anexa IV: {{ annex_IV }}<br>
Anexa V: {{ annex_V }}<br>

<hr>

{% for row in records %}
<p>
  Bio-regiunea: {{ row.region }}<br>
  Range:<br>
  {% set range = row.range %}
  -- method: {{ range.method }}<br>
  -- surface: {{ range.surface_area }}<br>
  -- assessment: {{ range.conclusion.assessment }} {{ range.conclusion.trend }}<br>
  -- trend: {{ range.trend.trend }} {{ range.trend.period }}<br>
  -- reference value: {{ range.reference_value }}<br>
</p>
{% endfor %}
