<div class="tab-pane" id="recorddetail-complementary">
  <div class="table-responsive">
    <table class="table table-bordered recorddetail-table">
      <tr>
        <th>Justificarea procentului de prag pentru tendințe</th>
      </tr>
      <tr>
        <td>{{ record.justification or '-' | nl2br }}</td>
      </tr>

      <tr>
        <th>Alte informații relevante</th>
      </tr>
      <tr>
        <td>{{ record.other_relevant_information or '-' | nl2br }}</td>
      </tr>

      <tr>
        <th>Evaluare transfrontalierǎ</th>
      </tr>
      <tr>
        <td>{{ record.transboundary_assessment or '-' | nl2br }}</td>
      </tr>
    </table>
  </div>
</div>
