<div class="tab-pane" id="recorddetail-habitat">
  <div class="table-responsive">
    <table class="table table-bordered recorddetail-table">
      <tr>
        <th>Estimarea suprafeţei</th>
        <td>{{ macros.range_html(record.habitat) }}</td>
      </tr>

      <tr>
        <th>Anul/perioada</th>
        <td>{{ record.habitat.date }}</td>
      </tr>

      <tr>
        <th>Metoda utilizată</th>
        <td>{{ macros.method_html(record.habitat.method) }}</td>
      </tr>

      <tr>
        <th>Calitatea habitatului</th>
        <td>{{ record.habitat.quality.value }}</td>
      </tr>

      <tr>
        <td> &nbsp; - metoda utilizată</td>
        <td>
          {%- if record.habitat.quality.explanation %}
            {{ record.habitat.quality.explanation }}
          {% endif -%}
        </td>
      </tr>

      <tr>
        <th>Tendință pe termen scurt</th>
        <td>
          {{ macros.trend_detail_html(record.habitat.trend_short) }}
        </td>
      </tr>

      <tr>
        <td> &nbsp; - perioada</td>
        <td>{{ macros.period_html(record.habitat.trend_short.period) }}</td>
      </tr>

      <tr>
        <th>Tendință pe termen lung</th>
        <td>
          {{ macros.trend_detail_html(record.habitat.trend_long) }}
        </td>
      </tr>

      <tr>
        <td> &nbsp; - perioada</td>
        <td>{{ macros.period_html(record.habitat.trend_long.period) }}</td>
      </tr>

      <tr>
        <th>Suprafața de habitat adecvată pentru specie</th>
        <td>
          {{ macros.unit_value_field(record.habitat.area_suitable,
                                     unit='km²') }}
        </td>
      </tr>

      <tr>
        <th>Motivul schimbării</th>
        <td>{{ macros.reasons_for_change_html(record.habitat) }}
        </td>
      </tr>

      <tr>
        <th>Concluzie</th>
        <td>{{ macros.conclusions_html(record.habitat.conclusion)}}</td>
      </tr>

    </table>
  </div>
</div>
