body {
    font-family: "Trebuchet MS", "Helvetica", "Arial", "sans-serif" !important;
}

#header #logo a {
    background: url(logo.png) left top no-repeat;
    display: block;
    width: 188px;
    height: 66px;
    border: none;
}

#footer {
    margin-top: 60px;
    border-top: 1px solid #badca0;
}

#footer .footer-logo {
    background: url(footer-logos.png) left top no-repeat;
    display: block;
    width: 300px;
    height: 66px;
    border: none;
}

.breadcrumb {
    background: #e9f6fd;
}

fieldset legend {
    color: #49a223;
    border-bottom: 1px solid #badca0;
}

.subject-details {
    margin: 10px 0 10px;
}

.trend, .method, .conclusion {
    text-align: center;
}

.conclusion-FV { background: #71A057; }
.conclusion-U1 { background: #E7E737; }
.conclusion-U2 { background: #F76C27; }
.conclusion-XX { background: #FFFFFF; }

.records {
    font-size: 11px;
}

.records-header th {
    background: #F6F8EE;
    text-align: center;
}

.records-commentstatus,
.records-commentdelete,
.consultation-delete-draft {
    display: inline;
}

.text-error a,
.text-error a:active,
.text-error a:focus,
.text-error a:hover,
.text-error a:visited {
    color: #b94a48 !important;
}

.records > tbody > tr > td {
    padding: 3px 3px;
}

.detail-menu li a {
    padding: 8px 10px;
}

#recorddetail-modal .modal-dialog {
    width: 1000px;
    font-size: 12px;
}

.recorddetail-table,
.comment {
    margin-top: -1px;
}

.recorddetail-table tr,
.recorddetail-table th {
    width: 30%;
}

.table-vertical tr th {
    width: auto !important;
}

.data-centered tbody tr th,
.data-centered tbody tr td {
    text-align: center;
    padding: 5px;
}

.data-centered tbody tr th {
    vertical-align: middle;
}

.sub-header td {
    width: 10px !important;
}

.data-centered tbody tr,
.data-centered tbody tr th {
    width: 10px !important;
}

/*.recorddetail-table tr td {
    white-space: nowrap;
}*/

.recordvalue {
    font-size:12px;
    white-space: normal;
}

.readbox-new    { width: 100px; }
.readbox-read   { width: 100px; display: none; }
.readbox-mark   { width: 100px; display: none; }
.readbox-unmark { width: 100px; display: none; }

.reply-read .readbox-new  { display: none; }
.reply-read .readbox-read { display: inline-block; }

.readbox:hover .readbox-new  { display: none; }
.readbox:hover .readbox-mark { display: inline-block; }

.reply-read .readbox:hover .readbox-read   { display: none; }
.reply-read .readbox:hover .readbox-mark   { display: none; }
.reply-read .readbox:hover .readbox-unmark { display: inline-block; }

.reply .panel-body {
    font-weight: bold;
}

.reply.reply-read .panel-body {
    font-weight: normal;
}

.reply-remove {
     display: inline;
}

.dashboard-missingrecord {
    background: #ddd;
}

.dashboard-commentcount {
    text-align: center;
}

.comment-info {
    color: #888;
}

.generalstatus {
    text-align: center;
}
