@import "lib/bootstrap-3.0.0/less/bootstrap.less";

body {
    font-family: "Trebuchet MS", "Helvetica", "Arial", "sans-serif" !important;
}

#header #logo a {
    background: url(logo.png) left top no-repeat;
    display: block;
    width: 188px;
    height: 66px;
    border: none;
}

#footer {
    margin-top: 60px;
    border-top: 1px solid #badca0;
}

#footer .footer-logo {
    background: url(footer-logos.png) left top no-repeat;
    display: block;
    width: 300px;
    height: 66px;
    border: none;
}

.breadcrumb {
    background: #e9f6fd;
}

fieldset legend {
    color: #49a223;
    border-bottom: 1px solid #badca0;
}

.subject-details {
    margin: 10px 0 10px;
}

.speciesfilter {
    .form-inline;

    button[type=submit] {
        .btn;
        .btn-sm;
        .btn-primary;
    }
}


.habitatfilter {
    .form-inline;

    button[type=submit] {
        .btn;
        .btn-sm;
        .btn-primary;
    }
}

.trend, .method, .conclusion {
    text-align: center;
}

.conclusion-FV { background: #71A057; }
.conclusion-U1 { background: #E7E737; }
.conclusion-U2 { background: #F76C27; }
.conclusion-XX { background: #FFFFFF; }

.records {
    .table;
    .table-bordered;
    font-size: 11px;

    .records-header th {
        background: #F6F8EE;
        text-align: center;
    }

    .records-detailbtn {
        .btn;
        .btn-xs;
        .btn-info;
    }

    .records-conclusionbtn {
        .btn;
        .btn-xs;
        .btn-warning;
    }

    .records-editconclusionbtn {
        .btn;
        .btn-xs;
        .btn-default;
    }
}


#recorddetail-modal {
    .modal;
    .fade;

    .recorddetail-content { .modal-content }
    .recorddetail-header  { .modal-header  }
    .recorddetail-title   { .modal-title   }
    .recorddetail-body    { .modal-body    }
    .recorddetail-footer  { .modal-footer  }

    .modal-dialog {
        width: 750px;
    }
}


.recorddetail-footer button {
    .btn;
    .btn-default;
}


.recorddetail-tabs {
    .nav;
    .nav-tabs;
}


.recorddetail-table {
    margin-top: -1px;

    tr th {
        width: 50%;
    }
}

.recordconclusion-save {
    .btn;
    .btn-primary;
}

.recordvalue {
    .label;
    .label-default;

    font-size:12px;
}

.readbox {
    .pull-right;

    .readbox-new    { width: 100px; .btn; .btn-xs; .btn-warning; }
    .readbox-read   { width: 100px; .btn; .btn-xs; .btn-default; display: none; }
    .readbox-mark   { width: 100px; .btn; .btn-xs; .btn-info; display: none; }
    .readbox-unmark { width: 100px; .btn; .btn-xs; .btn-info; display: none; }
}


.message-read .readbox {
    .readbox-new    { display: none; }
    .readbox-read   { display: inline-block; }
}


.readbox:hover {
    .readbox-new    { display: none; }
    .readbox-mark   { display: inline-block; }
}


.message-read .readbox:hover {
    .readbox-read   { display: none; }
    .readbox-mark   { display: none; }
    .readbox-unmark { display: inline-block; }
}

.message .panel-body {
    font-weight: bold;
}

.message.message-read .panel-body {
    font-weight: normal;
}

.message-remove {
     display: inline;
}
