{% extends "layout.html" %}

{% block title %}Dashboard &mdash; {{ super() }}{% endblock title %}

{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('acasǎ', home_url),
          ('admin', None),
      ]) }}
{% endblock breadcrumbs %}


{% block before_content %}
  <ul class="nav nav-tabs">
    <li {% if page == 'checklist' %}class="active"{% endif %}>
      <a href="{{ url_for('aggregation.checklists') }}">Raportări</a>
    </li>
    <li {% if page == 'config' %}class="active"{% endif %}>
      <a href="{{ url_for('config.form') }}">Configurație</a>
    </li>
    <li {% if page == 'compare' %}class="active"{% endif %}>
      <a href="{{ url_for('aggregation.compare') }}">Comparație</a>
    </li>
  </ul>
{% endblock %}
