{% extends "layout.html" %}

{% block title %}Dashboard &mdash; {{ super() }}{% endblock title %}

{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('agregare', home_url),
          ('administrare', '.admin'),
          ('seturi de date', None),
      ]) }}
{% endblock breadcrumbs %}


{% block before_content %}
  {{ super() }}
  <ul class="nav nav-tabs">
    <li {% if page == 'checklist' %}class="active"{% endif %}>
      <a href="{{ url_for('aggregation.checklists') }}">Seturi de date</a>
    </li>
    <li {% if page == 'config' %}class="active"{% endif %}>
      <a href="{{ url_for('config.form') }}">Configurare</a>
    </li>
    <li {% if page == 'compare' %}class="active"{% endif %}>
      <a href="{{ url_for('aggregation.compare') }}">Comparație seturi de date</a>
    </li>
    <li {% if page == 'refvalues' %}class="active"{% endif %}>
      <a href="{{ url_for('aggregation.reference_values') }}">Valori de referință</a>
    </li>
  </ul>
{% endblock %}
