{% extends "layout.html" %}


{% block title %}Agregare &mdash; {{ super() }}{% endblock title %}


{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('agregare', home_url),
          ('agregare date', None),
      ]) }}
{% endblock breadcrumbs %}


{% block content %}
  <h2>Agregare</h2>

  {% if report is none %}

    <p>Făcând click pe butonul agregare, un nou set de date va fi creat prin
    agregarea datelor primare.
    </p>

    <form method="post">
      <button type="submit" class="btn btn-warning">Execută agregarea</button>
    </form>

  {% else %}

    <p>
      Setul de date:
      {%- set url = url_for('.dashboard', dataset_id=dataset.id) %}
      <a href="{{ url }}">{{ dataset.date }}</a>
    </p>

    <p>Raport:</p>

    <pre>{{ report }}</pre>

  {% endif %}
{% endblock content %}
