{% extends base_template or "layout.html" %}

{% set checklists = checklists.filter_by(year_start=year_start) %}

{% block title %}Configurare &mdash; {{ super() }}{% endblock title %}


{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('agregare', home_url),
          ('administrare', url_for('aggregation.admin')),
          ('configurare', None),
      ]) }}
{% endblock breadcrumbs %}


{% block content %}
  <h2>Configurare</h2>

  <p>
    Perioada curentă de raportare este:
    <strong>{{ year_start }} - {{ year_end }}</strong>
  </p>

  {% if year_start != config.DEFAULT_YEAR_START and not checklists.count() %}
    <p>
      Nu există nicio listă de verificare pentru perioada curentă de raportare.
    </p>

    <p>
      <a class="btn btn-default"
         href="{{ url_for('aggregation.create', save_current='save') }}">
        Descarcă listă de verificare</a>
    </p>

  {% else %}

  <form method="POST">
    {%- for row in config_rows %}
      <div class="form-group">
        <label for="form-{{ row.id }}">
          {{- CONFIG_LABEL[row.id] -}}
        </label>

        {% if row.id == 'REPORTING_ID' %}
          <select class="form-control" id="form-{{ row.id }}" name="{{ row.id }}">
            {% if year_start == config.DEFAULT_YEAR_START %}
              <option value="" {% if not row.value %}selected{% endif %}>
                Lista inițială
              </option>
            {% endif %}
            {% for o in checklists %}
              <option value="{{ o.id }}"
                  {%- if row.value == o.id|string %}selected{% endif %}>
                {{ o.comment }} {{ o.year_start }} - {{ o.year_end }}
              </option>
            {% endfor %}
          </select>
        {% endif %}
      </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Salvează</button>

    <a class="btn btn-danger" href="{{ url_for('config.new_period') }}">
      Închide raportarea curentă și definește o nouă perioadă de raportare
    </a>
  </form>

  {% endif %}

{% endblock content %}
