{% extends "layout.html" %}


{% block title %}Dashboard &mdash; {{ super() }}{% endblock title %}


{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('acasǎ', home_url),
          ('set de date', None),
      ]) }}
{% endblock breadcrumbs %}


{% block content %}
  <h2>Set de date, {{ dataset.user_id or "-" }}, {{ dataset.date }}</h2>

  <p>{{ dataset.comment }}</p>

  <p>
    Înregistrări:
    specii {{ species_count }},
    habitate {{ habitat_count }}
  </p>
  {%- from 'dashboard/common.html' import table_aggregation, tabmenu with context %}
  {{ tabmenu(current=current_tab) }}

  {{ table_aggregation(
      bioreg_list,
      object_list,
      object_regions,
  ) }}
{% endblock content %}
