{% extends "layout.html" %} 

{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('agregare', home_url),
          ('Documentație algoritmi', None),
      ]) }}
{% endblock breadcrumbs %}

{% block content %}
<h1>Algoritmi de agregare în SIMSHAB</h1>
<h2>Introducere</h2>
<p>Acest document prezintă algoritmii de agregare a datelor primare (date colectate de către experți) despre specii și habitate din Articolul 17 Directiva Habitate, algoritmi folosiți în agregagrea automată din SIMSHAB.
Structura documentului urmărește structura interfeței de vizualizare a datelor agregate (vezi seturi de date din <a href="https://www.simshab.ro/agregare/">https://www.simshab.ro/agregare/</a>.</p>

<p>Datorită faptului că România a raportat pentru prima dată în 2013 pentru Directiva Habitate și deci nu există valori de referință anterioare pentru câmpurile înregistrărilor de raportare, au fost create niște tabele cu valori de referință pentru fiecare specie și tip de habitat din listă. Acestea se pot consulta și edita la adresa  <a href="https://www.simshab.ro/agregare/manage/reference_values/table">https://www.simshab.ro/agregare/manage/reference_values/table</a> Inițial, aceste câmpuri au fost completate cu valorile raportate în 2013, acolo unde a fost posibil.
</p>

<h2>2 Agregare Specii</h2>
<h3>2.1 Areal</h3>
<h4>2.1.1 Suprafață</h4>
<p>Valoare numerică, se calculează din baza de date geospațială.</p>

<p>Metoda: se completează din tabelele de referință cu una dintre valorile "Inventarieri complete sau o estimare statistică solidă", "Estimări prin extrapolări și/sau modelări bazate pe date parțiale" și "Estimǎri bazate numai pe opinia expertului, fără sau cu eșantionare minimală".</p>

<h4>2.1.2 Tendință</h4>
<p>Interval termen scurt: 12 ani, interval termen lung: 24 de ani. Direcția se stabilește în funcție de valorile pentru suprafața arealului din agregările anterioare. De exemplu, pentru tendința pe termen scurt, se iau în considerare ultimele două agregări (la distanță de 6, respectiv 12 ani față de agregarea curentă). Media valorilor se compară cu valoarea curentă, direcția fiind:</p>
<ul>
	<li>crescătoare, dacă valoarea curentă este mai mare;</li>
	<li>descrescătoare, dacă valoarea curentă este mai mică;</li>
	<li>stabilă, dacă valoarea curentă este în intervalul acceptat de variație fată de medie.</li>
</ul>
<p>Magnitudinile minimă și maximă sunt valori preluate din tabelele de referință.
</p>
<p>Intervalele (anii de început și sfârșit) sunt complettei automat cu 12, respectiv 24 de ani înainte de anul de raportare.</p>

<h4>2.1.3 Areal favorabil de referință</h4>
<p>Preluat din tabelele de referință. Pentru raportărille viitoare, această valoare poate fi actualizată în SIMSHAB. </p>

<h4>2.1.4 Motivul modificării</h4>
<p>Se stabilește de către expert.</p>

<h4>2.1.5 Evaluarea arealului</h4>
<p>Dacă există valoare pentru arealul de referință, concluzia este o comparație între valoarea pentru suprafață și valoarea favorabilă de referință:</p>
<ul>
	<li>Favorabil dacă suprafața este mai mare sau egală cu arealul favorabil de referință</li>
	<li>Nefavorabil-Rău dacă suprafața este cu mai mult de 10% mai mică decăt arealul favorabil de referință</li>
	<li>Nefavorabil-Neadecvat dacă suprafața este cu 0.1% - 9.9% mai mică decât arealul favorabil de referință</li>
</ul>

<p>Dacă nu există valoare pentru arealul de referință, se va calcula după cum urmează:</p>
<ul>
	<li>opțiunea "necunoscut" generează concluzia "necunoscut"</li>
	<li>operatorul "apox egal cu" și "mai mic" generează concluzia "favorabil"</li>
	<li>operatorul "mai mare decât" generează concluzia "nefavorabil inadecvat"</li>
	<li>operatorul "mult mai mare decât" generează concluzia "nefavorabil rau"</li>
</ul>

<p>Tendința se stabilește de către expert.</p>

<h3>2.2 Populație</h3>
<h4>2.2.1 Estimarea mărimii (număr de indivizi sau valori agreate)</h4>

<p>Unitatea de măsură se completează automat din tabelele de referință. Minimul și maximul se calculează dintr-un serviciu web din datele primare. Atât minimul cât și maximul vor fi suma populațiilor coletate de pe teren.</p>

<p>Unitățile alternative se completează de către experți.</p>

<h4>2.2.2 Informații adiționale</h4>
<p>Definiția localității, Metoda de conversie și Probleme se preiau din tabelele de referință.</p>

<h4>2.2.3 Anul / Perioada</h4>
<p>Se completează cu perioada de raportare.</p>

<h4>2.2.4 Metoda utilizată - mărimea populației</h4>
<p>Se completează din tabelele de referință cu una dintre valorile "Inventarieri complete sau o estimare statistică solidă", "Estimări prin extrapolări și/sau modelări bazate pe date parțiale" și "Estimǎri bazate numai pe opinia expertului, fără sau cu eșantionare minimală".</p>

<h4>2.2.5 Tendința</h4>
<p>Interval termen scurt: 12 ani, interval termen lung: 24 de ani. Direcția tendinței se stabilește în funcție de valorile pentru  media populației din agregările anterioare. De exemplu, pentru tendința pe termen scurt, se iau în considerare ultimele două agregări (la distanță de 6, respectiv 12 ani față de agregarea curentă). Media valorilor se compară cu valoarea curentă, direcția fiind:</p>
<ul>
	<li>crescătoare, dacă valoarea curentă este mai mare;</li>
	<li>descrescătoare, dacă valoarea curentă este mai mică;</li>
	<li>stabilă, dacă valoarea curentă este în intervalul acceptat de variație fată de medie.</li>
</ul>

<p>Anii de început și de sfârșit se completează automat cu 12, respectiv 24 de ani înainte de anul de raportare. Metoda se completează de către expert. Magnitudinea se preia din din tabelele de referință.</p>

<h4>2.2.6 Populația favorabilă de referință</h4>
<p>Valoarea <em>"populație"</em> sau <em>"operator"</em> este preluată din tabelele de referință. Dacă nu există, se completează opțiunea <em>"necunoscut"</em>. Metoda pentru această valoare se completează de către expert.</p>

<h4>2.2.7 Evaluarea populației</h4>

<p>Dacă există valoare pentru populația de referință, se calculează după cum urmează:</p>
<ul>
	<li>Favorabil dacă media (între minimul și maximul) populației este mai mare decât populația de referință</li>
	<li>Nefavorabil-Rău dacă:
	<ul>
		<li>valoare medie a populației este sub 25% din cea a populaţiei favorabile de referinţă SAU</li>
		<li>valoare medie a populației este sub cea a populației de referință ȘI valoarea medie cu cel puțin 7% mai mică decât valoarea medie din raportarea trecută</li>
	</ul>
	</li>
	<li>Nefavorabil-Inadecvat în orice altă combinație</li>
</ul>

<p>Dacă nu există valoare pentru populația de referință, se va calcula după cum urmează:</p>
<ul>
	<li>opțiunea "necunoscut" generează concluzia "necunoscut"</li>
	<li>operatorul "apox egal cu" și "mai mic" generează concluzia "favorabil"</li>
	<li>operatorul "mai mare decât" generează concluzia "nefavorabil inadecvat"</li>
	<li>operatorul "mult mai mare decât" generează concluzia "nefavorabil rau"</li>
</ul>

<p>Tendința se calculează de către expert.</p>

<h3>2.3 Habitatul speciei</h3>
<h4>2.3.1 Suprafață</h4>
<p>Valoare numerică, se calculează din baza de date geospațială.</p>

<h4>2.3.2 Anul / Perioada</h4>
<p>Se completează automat cu perioada de raportare.</p>

<h4>2.3.3 Metoda utilizată</h4>
<p>Se completează din tabelele de referință cu una dintre valorile "Inventarieri complete sau o estimare statistică solidă", "Estimări prin extrapolări și/sau modelări bazate pe date parțiale" și "Estimǎri bazate numai pe opinia expertului, fără sau cu eșantionare minimală".</p>

<h4>2.3.4 Calitatea habitatului</h4>
<p>Se completeaz cu media aritmetică ponderată din cămpul corespunzător din datele colectate. Sunt posibile trei valori: Good, Moderate, Bad.</p>

<h4>2.3.5 Metoda stabilirii calității</h4>
<p>Se completează de către expert.</p>

<h4>2.3.6 Suprafața habitatului adecvată pentru specie</h4>
<p>Preluată din tabelele de referință. Pentru raportărille viitoare, această valoare poate fi actualizată în SIMSHAB.</p>

<h4>2.3.7 Tendință</h4>
<p>La fel ca la Areal.</p>

<h4>2.3.8 Motivul modificării</h4>
<p>Se completează de către expert, dacă este cazul.</p>

<h4>2.3.7 Evaluarea habitatului</h4>
<p>Concluzia se calculează după cum urmează:</p>
<ul>
	<li>Favorabil: Suprafața habitatului este mai mare sau egală cu Suprafața habitatului adecvată pentru specie ȘI Calitatea habitatului este "Bună" sau "Moderată" (dacă Suprafața habitatului este 0, se ia în considerare doar Calitatea habitatului)</li>
	<li>Nefavorabil-rău: Suprafața habitatului este cu cel puțin 10% mai mică decât Suprafața habitatului adecvată pentru specie SAU Calitatea habitatului este neadecvată</li>
	<li>Nefavorabil-inadecvat: orice altă combinație</li>
</ul>

<p>Direcția tendinței se stabilește de către expert</p>

<h3>2.4 Presiuni și Amenințări</h3>
<p>Se obțin din câmpurile corespunzătoare din datele colectate, prin sortare după frecvența cu care apar și grupare: maxim 5 majore, maxim 5 medii și maxim 5 minore.</p>

<p>Metoda se stabilește la: opinia expertului.</p>

<h3>2.5 Informații complementare</h3>
<p>Se completează de către expert, întrucât nu există câmpuri relevante în datele de colectare.</p>

<h3>2.6 Natura2000</h3>
<h4>2.6.1 Mărimea populației</h4>
<p>Se obține din serviciul de date N2K, care se conectează la baza de date Natura2000, împortată în SIMSHAB din SIM la intervale regulate. Se completează valorile minim și maxim.</p>

<h3>2.7 Măsuri de conservare</h3>
<p>Se completează de către expert, întrucât nu există câmpuri relevante în datele de colectare.</p>

<h3>2.8 Surse publicate</h3>
<p>Se obțin din câmpurile corespunzătoare din datele colectate, sortate descrescător după frecvența lucrării. Utilizatorii au apoi posibilitatea de a șterge textul care nu este suficient de relevant. </p>

<h3>2.9 Concluzii</h3>
<p>Concluzia generală se obține cu algoritmul din ghidul de raportare, astfel:</p>
<ul>
	<li>dacă mai mult de două concluzii sunt necunoscute, concluzia generală e necunoscută</li>
	<li>dacă nu există concluzii nefavorabile, concluzia generală este favorabilă</li>
	<li>dacă nu există concluzii nefaborabil-rău, concluzia este nefavorabil-inadecvat</li>
	<li>altfel, concluzia este nefavorabil-rău.</li>
</ul>

<h2>3 Agregare Habitate</h2>

<h3>3.1 Arealul</h3>
<h4>3.1.1 Suprafață</h4>
<p>Valoare numerică, se calculează din baza de date geospațială.</p>

<h4>3.1.2 Metoda</h4>
<p>Se completează din tabelele de referință cu una dintre valorile "Inventarieri complete sau o estimare statistică solidă", "Estimări prin extrapolări și/sau modelări bazate pe date parțiale" și "Estimǎri bazate numai pe opinia expertului, fără sau cu eșantionare minimală".</p>

<h4>3.1.3 Tendință</h4>
<p>Interval termen scurt: 12 ani, interval termen lung: 24 de ani. Direcția se stabilește în funcție de valorile pentru suprafața arealului din agregările anterioare. De exemplu, pentru tendința pe termen scurt, se iau în considerare ultimele două agregări (la distanță de 6, respectiv 12 ani față de agregarea curentă). Media valorilor se compară cu valoarea curentă, direcția fiind:</p>
<ul>
	<li>crescătoare, dacă valoarea curentă este mai mare;</li>
	<li>descrescătoare, dacă valoarea curentă este mai mică;</li>
	<li>stabilă, dacă valoarea curentă este în intervalul acceptat de variație fată de medie.</li>
</ul>
<p>Magnitudinile minimă și maximă sunt valori fixe, preluate din tabelele de referință.</p>

<p>Intervalele (anii de început și sfârșit) sunt completate automat cu 12, respectiv 24 de ani înainte de anul de raportare.</p>

<h4>3.1.4 Areal favorabil de referință</h4>
<p>Preluat din tabelele de referință. Pentru raportărille viitoare, această valoare poate fi actualizată în SIMSHAB. </p>

<h4>3.1.5 Motivul modificării</h4>
<p>Se stabilește de către expert.</p>

<h4>3.1.6 Evaluarea arealului</h4>
<p>Dacă există valoare pentru arealul de referință, concluzia este o comparație între valoarea pentru suprafață și valoarea favorabilă de referință:</p>
<ul>
	<li>Favorabil dacă suprafața este mai mare sau egală cu arealul favorabil de referință</li>
	<li>Nefavorabil-Rău dacă suprafața este cu mai mult de 10% mai mică decăt arealul favorabil de referință</li>
	<li>Nefavorabil-Neadecvat dacă suprafața este cu 0.1% - 9.9% mai mică decât arealul favorabil de referință</li>
</ul>

<p>Dacă nu există valoare pentru arealul de referință, se va calcula după cum urmează:</p>
<ul>
	<li>opțiunea "necunoscut" generează concluzia "necunoscut"</li>
	<li>operatorul "apox egal cu" și "mai mic" generează concluzia "favorabil"</li>
	<li>operatorul "mai mare decât" generează concluzia "nefavorabil inadecvat"</li>
	<li>operatorul "mult mai mare decât" generează concluzia "nefavorabil rau"</li>
</ul>

<p>Tendința se stabilește de către expert.</p>

<h3>3.2 Suprafața</h3>
<h4>Suprafața</h4>
<p>Valoare numerică, se calculează din baza de date geospațială.</p>

<h4>Anul / Perioada</h4>
<p>Se completează cu perioada de raportare.</p>

<h4>Metoda utilizată - suprafața arealului</h4>
<p>Se completează din tabelele de referință cu una dintre valorile "Inventarieri complete sau o estimare statistică solidă", "Estimări prin extrapolări și/sau modelări bazate pe date parțiale" și "Estimǎri bazate numai pe opinia expertului, fără sau cu eșantionare minimală".</p>

<h4>2.1.2 Tendință</h4>
<p>Interval termen scurt: 12 ani, interval termen lung: 24 de ani. Direcția se stabilește în funcție de valorile pentru suprafața arealului din agregările anterioare. De exemplu, pentru tendința pe termen scurt, se iau în considerare ultimele două agregări (la distanță de 6, respectiv 12 ani față de agregarea curentă). Media valorilor se compară cu valoarea curentă, direcția fiind:</p>
<ul>
	<li>crescătoare, dacă valoarea curentă este mai mare;</li>
	<li>descrescătoare, dacă valoarea curentă este mai mică;</li>
	<li>stabilă, dacă valoarea curentă este în intervalul acceptat de variație fată de medie.</li>
</ul>
<p>Magnitudinile minimă și maximă sunt valori fixe, preluate din tabelele de referință.
</p>
<p>Intervalele (anii de început și sfârșit) sunt complettei automat cu 12, respectiv 24 de ani înainte de anul de raportare.</p>

<h4>Suprafața favorabilă de referință</h4>

<h4>Evaluarea suprafeței</h4>

<h3>3.3 Presiuni și Amenințări</h3>
<p>Se obțin din câmpurile corespunzătoare din datele colectate, prin sortare după frecvența cu care apar și grupare: maxim 5 majore, maxim 5 medii și maxim 5 minore.</p>

<h3>3.4 Specii tipice</h3>
<h4>3.4.1 Specii tipice</h4>
<p>Se obțin din datele colectate, numele speciilor fiind sortate descrescător în funcție de frecvența cu care apar.</p>

<h4>3.4.2 Metoda utilizată</h4>
<p>Se completează de către expert.</p>

<h4>3.4.3 Justificarea modificărilor (%) induse de tendințe</h4>
<p>Se completează de către expert.</p>

<h4>3.4.4 Structura şi funcțiile - metoda utilizată</h4>
<p>Se completează din tabelele de referință cu una dintre valorile "Inventarieri complete sau o estimare statistică solidă", "Estimări prin extrapolări și/sau modelări bazate pe date parțiale" și "Estimǎri bazate numai pe opinia expertului, fără sau cu eșantionare minimală".</p>

<h4>3.4.5 Alte informații relevante</h4>
<p>Se completează de către expert.</p>

<h3>3.5 Natura2000</h3>
<h4>3.5.1 Suprafața acoperită de habitat (km2)</h4>
<p>Se obține din serviciul de date N2K, care se conectează la baza de date Natura2000, împortată în SIMSHAB din SIM la intervale regulate. Se completează valorile minim și maxim.</p>

<h4>3.5.2 Metoda utilizată</h4>
<p>Se completează de către expert, întrucât câmpul nu se poate deduce din datele primare sau din baza de date Natura2000.</p>

<h4>3.5.3 Tendința suprafeței în rețea</h4>
<p>Se completează de către expert, întrucât câmpul nu se poate deduce din datele primare sau din baza de date Natura2000.</p>

<h3>3.6 Măsuri de conservare</h3>
<p>Se completează de către expert, întrucât nu există câmpuri relevante în datele de colectare.</p>

<h3>3.7 Surse publicate</h3>
<p>Se obțin din câmpurile corespunzătoare din datele colectate, sortate descrescător după frecvența lucrării. Utilizatorii au apoi posibilitatea de a șterge textul care nu este suficient de relevant. </p>

<h3>3.8 Concluzii</h3>
<p>Concluzia generală se obține cu algoritmul din ghidul de raportare, astfel:</p>
<ul>
	<li>dacă mai mult de două concluzii sunt necunoscute, concluzia generală e necunoscută</li>
	<li>dacă nu există concluzii nefavorabile, concluzia generală este favorabilă</li>
	<li>dacă nu există concluzii nefaborabil-rău, concluzia este nefavorabil-inadecvat</li>
	<li>altfel, concluzia este nefavorabil-rău.</li>
</ul>
{% endblock %}
