{% extends "layout.html" %}


{% block content %}
<div class="jumbotron">
  <div class="container">
    <h2>
      Agregarea datelor primare
      pentru Articolul 17 din Directiva Habitate
    </h2>

    <p>
      <a class="btn btn-primary"
         href="{{ url_for('.aggregate') }}">Agregare</a>

      {% if config['AUTH_DEBUG'] %}
        <a class="btn btn-danger"
           href="{{ url_for('auth.debug') }}">autentificare (debug)</a>
      {% endif %}
    </p>
  </div>
</div>


<h2>Seturi de date</h2>

<table class="table table-bordered">
  <thead>
    <th>Dată</th>
    <th></th>
  </thead>

  {%- for dataset in dataset_list %}
    {%- set url = url_for('.dataset', dataset_id=dataset.id) %}
    <tr>
      <td><a href="{{ url }}">{{ dataset.date }}</a></td>
      <td>{{ dataset.comment|truncate(100) }}</td>
    </tr>
  {%- endfor %}
</table>
{% endblock content %}
