{% extends "layout.html" %}

{% macro dataset_table(dataset_list, show_user=True, show_reports=True,
  view='.dashboard') %}
<table class="table table-bordered">
  <thead>
    <th>Dată</th>
    {% if show_user %}
    <th>Utilizator</th>
    {% endif %}
    <th>Titlu</th>
    <th>Detalii rapoarte</th>
    <th></th>
  </thead>

  {%- for dataset in dataset_list %}
    {%- set url = url_for(view, dataset_id=dataset.id) %}
    {%- set delete_url = url_for('.delete_dataset', dataset_id=dataset.id) %}
    {%- set activity_url = url_for('history_aggregation.index', dataset_id=dataset.id) %}
    {%- set report_url = url_for('.report', dataset_id=dataset.id) %}
    <tr>
      <td nowrap><a href="{{ url }}">{{ dataset.date }}</a></td>
      {% if show_user %}
      <td>{{ dataset.user_id }}</td>
      {% endif %}
      <td width="100%">{{ dataset.comment or ""|truncate(100) }}</td>
      <td class="text-right" nowrap>
        {% if dataset.preview %}
          {{ dataset.details.all }} regiuni, {{ dataset.details.missing }} lipsă
        {% else %}
          {{ dataset.details.new }} agregate,
          {{ dataset.details.missing }} lipsă,
          {{ dataset.details.draft }} în lucru,
          {{ dataset.details.final }} finalizate
        {% endif %}
      </td>
      <td nowrap>
        <form method="post" action="{{ delete_url }}"
              class="delete-dataset-form">
          {% if dataset.id != 1 %}
          <button type="submit" class="btn btn-danger btn-xs">șterge</button>
          {% endif %}
          <a class="btn btn-warning btn-xs"
             href="{{ activity_url }}">activitate</a>
          {% if authenticated_permission.can() and show_reports %}
          <a class="btn btn-default btn-xs"
             href="{{ report_url }}">rapoarte</a>
          {% endif %}
        </form>
      </td>
    </tr>
  {%- endfor %}
</table>
{% endmacro %}


{% block content %}
<div class="jumbotron">
  <div class="container">
    <h2>
      Agregarea datelor primare
      pentru Articolul 17 din Directiva Habitate
    </h2>

    <p>
      {% if perm_aggregate_dataset().can() %}
      <a class="btn btn-primary"
         href="{{ url_for('.aggregate') }}">Agregare set de date</a>
      {% endif %}
      <a class="btn btn-warning"
         href="{{ url_for('.preview', page='habitat') }}">Agregare habitat</a>

      <a class="btn btn-warning"
         href="{{ url_for('.preview', page='species') }}">Agregare specie</a>

      <a class="btn btn-default"
         href="{{ url_for('.admin') }}">Administrare</a>

      {% if config['AUTH_DEBUG'] %}
        <a class="btn btn-danger"
           href="{{ url_for('auth.debug') }}">autentificare (debug)</a>
      {% endif %}
    </p>
  </div>
</div>

{% if preview_datasets %}
<h2>Previzualizări agregare</h2>


{{ dataset_table(preview_datasets, show_user=False, show_reports=False, view='.post_preview') }}
{% endif %}

<h2>Seturi de date</h2>

{{ dataset_table(dataset_list) }}

{% endblock content %}


{% block script %}
{{ super() }}
{%- from 'bits.html' import script %}
{{ script('common.js') }}
<script>
  App.confirm_before_submit(
    '.delete-dataset-form',
    "Întreaga agregare va fi ștearsă!"
  );
</script>
{% endblock script %}
