{% extends "layout.html" %}
{% from 'common/topic.html' import topic_html_aggregation with context %}


{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('agregare', home_url),
          ('set de date', url_for('.dashboard', dataset_id=dataset_id)),
          ('specii', url_for('.species', dataset_id=dataset_id, group_code=group_code)),
          (region.code + ' - privire de ansamblu', None),
      ]) }}
{% endblock breadcrumbs %}


{% block content %}
  <p>{{ record.subject.lu.display_name }}</p>

  <p>{{ region.name_ro }}</p>

  {{ topic_html_aggregation(
    assessment,
    type,
    topic_template,
  ) }}


  {% include 'common/recorddetail.html' %}
{%- endblock content %}

{% block script %}
  {%- from 'bits.html' import script %}
  {{- super() }}
  {{ script('detail.js') }}
{% endblock script %}
