{% extends "species/comment.html" %}

{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('acasǎ', home_url),
          ('set de date', record_dashboard_url(record_obj)),
          (record.region + ' - editare', None),
      ]) }}
{% endblock breadcrumbs %}

{% block headline %}
  {% if new_comment -%} Adaugă {%- else -%} Modifică {%- endif %}
  înregistrare pentru
  <em>{{ species.lu.speciesname }}</em> în
  <em>{{ record.model.lu.name_ro }}</em>
{% endblock headline %}
