{% extends "habitat/comment.html" %}

{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('acasǎ', home_url),
          ('set de date', url_for('.dashboard', dataset_id=dataset_id)),
          ('habitate', url_for('.habitats', dataset_id=dataset_id)),
          ('habitat', None)
      ]) }}
{% endblock breadcrumbs %}

{% block headline %}
  {% if new_comment -%} Adaugă {%- else -%} Modifică {%- endif %}
  înregistrare pentru
 <em>{{ habitat.lu.code }} - {{ habitat.lu.name_ro }}</em> în
  <em>{{ record.model.lu.name_ro }}</em>
{% endblock headline %}
