{% extends "layout.html" %}


{% block content %}
  <h4>{% block headline %}{% endblock %}</h4>

  <div class="form-group">
    {%- if map_url %}
    <a class="showmap btn btn-sm btn-info"
       href="{{ map_url }}">vezi harta</a>
    {%- endif %}
    {%- if record_obj and perm_view_history.can() %}
      {%- set history_url = url_for(
          comment_history_view,
          subject_code=subject.lu.code,
          region_code=record.region,
          dataset_id=record_obj.cons_dataset_id,
        ) %}
      <a class="btn btn-sm btn-danger" href="{{ history_url }}">istorie</a>
    {%- endif %}
  </div>

  <form method="post">
    {%- if not config.TESTING %}
    <p class="comment-info">
      Toate câmpurile sunt opționale.
      Aceste câmpuri și valorile lor sunt conforme cu
      <a href="{{ url_for('common.guide') }}" target="_blank">
        ghidul de raportare</a>
      al Comisiei Europene.
    </p>
    {%- endif %}

    {% if form.errors %}
      <div class="alert alert-danger">
        Formularul conține erori. Taburile cu titlu roșu conțin erori,
        detaliile lor fiind afișate lângă fiecare câmp cu probleme.
      </div>
    {% endif %}

    {% block form_content %}{% endblock %}

    {%- if next_url %}
      <input type="hidden" name="next" value="{{ next_url }}">
    {%- endif %}

     <button type="submit" class="btn btn-primary">
      Salveazǎ schimbǎrile
    </button>
    <button type="submit" name="submit" value="finalize"
            class="btn btn-danger aggregation-finalize">
      Salveazǎ și finalizează
    </button>
  </form>

  {% include 'common/recorddetail.html' %}
{% endblock content %}

{% block script %}
  {%- from 'bits.html' import script %}
  {{- super() }}
  {{ script('detail.js') }}
  {{ script('common.js') }}

  <script>
  (function() {
    "use strict";

    App.confirm_before_click(
      '.aggregation-finalize',
      "După ce finalizați agregarea, experții nu vor "
      + "mai putea modifica datele."
    );

  })();
  </script>
{% endblock script %}
