{% extends "species/comment.html" %}

{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('acasǎ', home_url),
          ('set de date', url_for('.dashboard', dataset_id=dataset_id)),
          ('specii', url_for('.species', dataset_id=dataset_id, group_code=group_code)),
          ('specie', None)
      ]) }}
{% endblock breadcrumbs %}

{% block headline %}
  {% if new_comment -%} Adaugă {%- else -%} Modifică {%- endif %}
  înregistrare pentru
  <em>{{ species.lu.speciesname }}</em> în
  <em>{{ record.model.lu.name_ro }}</em>
{% endblock headline %}
