{% extends "layout.html" %}

{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('agregare', home_url),
          ('set de date', record_dashboard_url(record_obj)),
          (region.code + ' - privire de ansamblu', None),
      ]) }}
{% endblock breadcrumbs %}

{% block footer %}
    {% set history_url = record_history_url(record_obj) %}
    {% if finalized %}
      {% set url = record_finalize_toggle_url(record_obj, False) %}
      {% if admin_permission.can() %}
        <a href="{{ url }}" class="btn btn-primary aggregation-definalize">Readu în lucru</a>
      {% endif %}
      <a href="{{ history_url }}" class="btn btn-warning">Istorie</a>
      <span>Finalizat de: {{ record_obj.cons_user_id or 'N/A' }}</span>
    {% else %}
      <a href="{{ record_edit_url(record_obj) }}" class="btn btn-default">Editează</a>
      <a href="{{ history_url }}" class="btn btn-warning">Istorie</a>
      {% set url = record_finalize_toggle_url(record_obj, True) %}
      <a href="{{ url }}" class="btn btn-primary aggregation-finalize">Finalizează</a>
      <span>Ultima modificare: {{ record_obj.cons_user_id or 'N/A' }}</span>
    {% endif %}
    {{ super() }}
{% endblock %}

{% block script %}
  {{ super() }}
  {{ script('common.js') }}

  <script>
  (function() {
    "use strict";

    App.confirm_before_click(
      '.aggregation-finalize',
      "După ce finalizați agregarea, experții nu vor "
      + "mai putea modifica datele."
    );

    App.confirm_before_click(
      '.aggregation-definalize',
      "Dacă redeschideți agregarea, experții vor "
      + "putea modifica datele."
    );

  })();
  </script>
{% endblock script %}
