{% extends "layout.html" %}

{% from 'dashboard/common.html' import table with context %}
{% from 'aggregation/common.html' import cell with context %}

{% block title %}Raport set de date &mdash; {{ super() }}{% endblock title %}

{% macro report_table(data) %}
<table class="table">
  <tr>
    <th>Favorabilă</th>
    <th>Nefavorabilă-Inadecvat</th>
    <th>Nefavorabilă-Rău</th>
    <th>Necunoscută</th>
    <th>Total</th>
  </tr>
  <tr>
    <td>{{ data.FV }}</td>
    <td>{{ data.U1 }}</td>
    <td>{{ data.U2 }}</td>
    <td>{{ data.XX }}</td>
    <td>{{ data.total }}</td>
  </tr>
  </table>
{% endmacro %}

{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('agregare', home_url),
          ('set de date', None),
      ]) }}
{% endblock breadcrumbs %}

{% block content %}
  <h2>Rapoarte set #{{ dataset.id }}</h2>
  <p class="lead">{{ dataset.user_id }} {{ dataset.date }}, {{ dataset.comment }}</p>

  <h3>Evaluarea stării de conservare</h3>

  <h4>Specii</h4>
  {{ report_table(dataset.reports.species) }}
  <p>Numărul de specii în checklist: {{ dataset.reports.species.get('total_species')}} </p>
  <p>Numărul total de rapoarte în checklist: {{ dataset.reports.species.get('total_reports')}}</p>
  <p>Numărul de rapoarte agregate: {{ dataset.details.species_new }}</p>
  <p>Numărul de rapoarte în lucru: {{ dataset.details.species_draft }}</p>
  <p>Numărul de rapoarte finalizate: {{ dataset.details.species_final }}</p>
  <p>{{ dataset.reports.missing.missing_species.count() }} <strong>specii lipsă</strong></p>

  {{ table(dataset.reports.missing.bioreg_list,
           dataset.reports.missing.species_list,
           cell,
           dataset.reports.missing.species_regions)
  }}

  <h4>Habitate</h4>
  {{ report_table(dataset.reports.habitat) }}
  <p>Numărul de habitate în checklist: {{ dataset.reports.habitat.get('total_habitats')}} </p>
  <p>Numărul total de rapoarte în checklist: {{ dataset.reports.habitat.get('total_reports')}}</p>
  <p>Numărul de rapoarte agregate: {{ dataset.details.habitat_new }}</p>
  <p>Numărul de rapoarte în lucru: {{ dataset.details.habitat_draft }}</p>
  <p>Numărul de rapoarte finalizate: {{ dataset.details.habitat_final }}</p>
  <p>{{ dataset.reports.missing.missing_habitats.count() }} <strong>habitate lipsă</strong></p>

  {{ table(dataset.reports.missing.bioreg_list,
           dataset.reports.missing.habitat_list,
           cell,
           dataset.reports.missing.habitat_regions)
  }}

{% endblock content %}
