{% extends "layout.html" %}

{% block title %}Raport set de date &mdash; {{ super() }}{% endblock title %}

{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('acasǎ', home_url),
          ('set de date', url_for('.report', dataset_id=dataset.id)),
          ('raport agregare', None),
      ]) }}
{% endblock breadcrumbs %}

{% block content %}
  <h2>Raport agregare set #{{ dataset.id }}</h2>
  <p class="lead">{{ dataset.user_id }} {{ dataset.date }}, {{ dataset.comment }}</p>

  <p>{{ missing_species.count() }} specii lipsă</p>
  <p>{{ missing_habitats.count() }} habitate lipsă</p>
{% endblock content %}
