{% extends "layout_light.html" %}
{% from 'bits.html' import fonticon %}


{% block content %}
  <p class="pull-right">
    <br/>
    <a class="btn btn-default close-popup">închide</a>
  </p>
  <h2>Replici</h2>

  {% for msg in replies %}
    <div class="panel panel-default reply" data-id="{{ msg.id }}">
      <div class="panel-heading">
        {{ msg.user_id }} ({{ msg.date|local_date('long') }})

        {% if can_delete_reply %}
          {% set url = url_for('.remove', reply_id=msg.id,
                                          next=request.url) %}
          <form class="reply-remove" method="post" action="{{ url }}">
            <button class="btn btn-xs btn-danger">șterge</button>
          </form>
        {% endif %}
      </div>

      <div class="panel-body" style="white-space: pre;">
        {{ msg.text|wordwrap }}
      </div>

      {%- if msg.attachment_id %}
        {%- set url = url_for(
            '.attachment',
            attachment_id=msg.attachment_id,
          ) %}
        <p>
          <a href="{{ url }}" target="_blank">
            descarcă atașamentul
          </a>
        </p>
      {%- endif %}
    </div>
  {% else %}
    <div class="panel panel-default">
      <div class="panel-body">
        Nu existǎ nici o replică.
      </div>
    </div>
  {% endfor %}

  {% if can_post_new_reply %}
  <div class="panel panel-default">
    <div class="panel-heading">Adaugǎ replică</div>
    <div class="panel-body">
      {% set url = url_for(
            '.new',
            parent_id=parent_id,
            parent_table=parent_table,
        ) %}

      <form method="post" action="{{ url }}"
            class="form-horizontal" id="reply-form"
            enctype="multipart/form-data">

        <div class="form-group">
          <div class="col-xs-2 control-label"></div>

          <div class="col-xs-10">
            <textarea name="text" class="form-control" rows=4></textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-2 control-label"
                 for="reply-attachment">Atașament</label>

          <div class="col-xs-10">
            <input type="file" name="attachment" id="reply-attachment">

            {#<p class="help-block">Example block-level help text here.</p>#}
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Salveazǎ</button>
      </form>
    </div>
  </div>
  {% endif %}

{% endblock content %}

{% block footer %}{% endblock %}

{% block script %}
{%- from 'bits.html' import script %}
{{- super() }}

{{ script('replies.js') }}

<script>
(function() {
  "use strict";

  $('.reply-remove').submit(function(evt) {
    if(! confirm("Ștergi replica?")) {
      evt.preventDefault();
    }
  });
})();
</script>
{% endblock %}
