{% extends 'aggregation/admin.html' %}

{% macro render_list(list, sections=True) %}
  <table class="table">
    <thead>
    <tr>
      <th rowspan="2">Cod</th>
      <th rowspan="2">Nume</th>
      <th rowspan="2">Regiuni</th>
      <th rowspan="2">Prezența</th>
      <th rowspan="2">Prioritar</th>
      {% if sections %}
      <th colspan="3">Anexe</th>
    </tr>
    <tr>
      <th>II</th>
      <th>IV</th>
      <th>V</th>
      {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for key,data in list.iteritems() %}
    {% set code, name = key %}
    {% set info, regions = data['info'],data['regions'] %}
    <tr>
      <td>{{ code }}</td>
      <td>{{ name }}</td>
      <td nowrap>{{ ', '.join(regions) }}</td>
      <td>{{ info.presence }}</td>
      <td>{{ info.priority }}</td>
      {% if sections %}
      <td>{{ info.annex_ii }}</td>
      <td>{{ info.annex_iv }}</td>
      <td>{{ info.annex_v }}</td>
      {% endif %}
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endmacro %}

{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('agregare', home_url),
          ('admin', url_for('.admin')),
          ('liste de verificare', url_for('.checklists')),
          ('listă', none),
      ]) }}
{% endblock breadcrumbs %}

{% block content %}
  <h2>Listă de verificare</h2>

  <h3>Specii</h3>
  {{ render_list(species_dict) }}

  <h3>Habitate</h3>
  {{ render_list(habitats_dict) }}
{% endblock %}
