{% extends 'aggregation/admin.html' %}

{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('agregare', home_url),
          ('admin', url_for('.admin')),
          ('liste de verificare', url_for('.checklists')),
          ('creare listă', none),
      ]) }}
{% endblock breadcrumbs %}

{% block content %}
  <h2>Descarcă listă de verificare</h2>

  <p>Făcând click pe descarcă, listele de verificare vor fi preluate de
  la ANPM.</p>

  <form method="post" action="">
    <button type="submit" class="btn btn-primary">Creează</button>
  </form>
{% endblock %}
