{% extends 'aggregation/admin.html' %}

{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('agregare', home_url),
          ('admin', url_for('.admin')),
          ('liste de verificare', url_for('.checklists')),
          ('modifică listă', none),
      ]) }}
{% endblock breadcrumbs %}

{% block content %}
  <h2>Modifică listă de verificare</h2>

  <form method="post" action="">

    <div class="form-group">
      {% if form.comment.errors %}
      <p class="text-danger">{{ form.comment.errors }}</p>
      {% endif %}
      <label for="comment">Titlu</label>
      {{ form.comment(class='form-control') }}
    </div>

    <button type="submit" class="btn btn-primary">Modifică</button>
    <a class="btn btn-default" href="{{ url_for('.checklists') }}">
      Renunță
    </a>
  </form>
{% endblock %}
