{% extends 'aggregation/admin.html' %}

{% from 'aggregation/admin/_bits.html' import render_refvalues, refvalues_table with context %}


{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('agregare', home_url),
          ('administrare', url_for('.admin')),
          ('valori de referință', none),
      ]) }}
{% endblock breadcrumbs %}

{% block content %}
  <h2>Valori de referință</h2>

  <p class="text-warning">Lista de verificare folosită
    este: {{ current_checklist }}</p>

  <p>Statusul valorilor de referință importate în sistem. Pentru date lipsă sau
    incomplete nu se va putea realiza agregarea.</p>

  <a href="{{ url_for('.refvals_update', subject='species') }}"
     class="btn-spaced btn btn-primary">Actualizează valori de referință</a>

  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#refvalues-habitat" data-toggle="tab">Habitate</a>
    </li>
    <li>
      <a href="#refvalues-species" data-toggle="tab">Specii</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="refvalues-habitat">
      {{ refvalues_table(habitat_list, habitat_data, habitat_refvals, page='habitat') }}
    </div>
    <div class="tab-pane" id="refvalues-species">
      {{ refvalues_table(species_list, species_data, species_refvals, page='species') }}
    </div>
  </div>
{% endblock %}

{% block script %}
  {{ super() }}
  <script type="text/javascript">
    $(document).ready(function () {
      $('.ptip').powerTip({
        smartPlacement: true, followMouse: true
      });
    });
  </script>
{% endblock script %}
