{% extends 'aggregation/admin.html' %}

{% from 'aggregation/admin/_bits.html' import render_refvalues %}

{% macro table(species_list, species_data, species_refvals) %}
  <table class="table">
    <tr>
      <th></th>
      {% for region in bioreg_list %}
        <th>{{ region.code }}</th>
      {% endfor %}
    </tr>
    {% set last_group = '' %}
    {% for code, name, group_code in species_list %}
      {% if group_code != last_group %}
        <tr>
          <td colspan="{{ bioreg_list|length }}" class="text-center">
            <strong>{{ GROUPS.get(group_code, group_code) }}</strong>
          </td>
        </tr>
        {% set last_group = group_code %}
      {% endif %}
      <tr>
        <td>{{ name }}</td>
        {% for region in bioreg_list %}
          {% set check_key = (code, region.code) %}
          {% set key = code + "-" + region.code %}

          {% if check_key in species_data %}
            <td nowrap="nowrap"
                title="{{ render_refvalues(species_refvals.get(key)) }}"
                class="ptip text-center">
              {% if key not in species_refvals %}
                date lipsă
              {% else %}
                {% set info = refvalue_ok(species_refvals[key]) %}
                {% if info is none %}
                  date goale
                {% elif not info %}
                  incomplet
                {% else %}
                  complet
                {% endif %}
              {% endif %}
            </td>
          {% else %}
            <td class="dashboard-missingrecord">
            </td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
{% endmacro %}

{% block breadcrumbs %}
  {%- from 'bits.html' import breadcrumbs %}
  {{ breadcrumbs([
          ('agregare', home_url),
          ('admin', url_for('.admin')),
          ('valori de referință', none),
      ]) }}
{% endblock breadcrumbs %}

{% block content %}
  <h2>Valori de referință</h2>

  <p class="text-warning">Lista de verificare folosită
    este: {{ current_checklist }}</p>

  <p>Statusul valorilor de referință importate în sistem. Pentru date lipsă sau
    incomplete nu se va putea realiza agregarea.</p>

  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#refvalues-habitat" data-toggle="tab">Habitate</a>
    </li>
    <li>
      <a href="#refvalues-species" data-toggle="tab">Specii</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="refvalues-habitat">
      {{ table(habitat_list, habitat_data, habitat_refvals) }}
    </div>
    <div class="tab-pane" id="refvalues-species">
      {{ table(species_list, species_data, species_refvals) }}
    </div>
  </div>
{% endblock %}

{% block script %}
  {{ super() }}
  <script type="text/javascript">
    $(document).ready(function () {
      $('.ptip').powerTip({
        smartPlacement: true, followMouse: true
      });
    });
  </script>
{% endblock script %}
